<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-register-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onRegister)="onRegister($event)"
      (onSkip)="onSkip($event)">
    </cs-register-layout-1>

    <!-- PAGE 2 -->
    <cs-register-layout-2
        *ngIf="isType(1)"
        [data]="data"
        (onRegister)="onRegister($event)"
        (onSkip)="onSkip($event)">
    </cs-register-layout-2>

  </ion-content>
</ion-app>
