/* Style component 2
========================================================*/
/* Settings header ion-list-header */
ion-list-header {
  height: 140px;
  position: relative;

  ion-item {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    --background: transparent !important;
  }
}
/* Settings List */
ion-list {
  ion-thumbnail {
    margin: 0 !important;
    height: 150px;
    width: 120px;
  }

  .span-small {
    text-decoration: line-through;
  }
}
