<!-- DRAGEN AND DROP --COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <!--Header-->
        <ion-list-header class="background-size"
        [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}"
        *ngIf="data.headerImage != null">
          <ion-item class="ion-no-padding" lines="none">
            <!-- Title and Subtitle -->
            <ion-label>
              <h1 class="text-size-xl ion-text-wrap">
                {{data.title}}</h1>
              <h2 class="text-size-xs ion-no-margin ion-text-wrap">
                {{data.description}}</h2>
            </ion-label>
            <div slot="end" class="ion-text-right">
              <!--Header Button Price---->
              <span class="span-medium">{{data.price}}</span>
              <!--Header Button Procead---->
              <ion-button class="button-round ion-margin-bottom"
              expand="full" shape="round" fill="outline"
              (click)="onProceedFunc(data, $event)">
                {{data.buttonText}}
              </ion-button>
            </div>
          </ion-item>
        </ion-list-header>
        <!-- Content -->
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item lines="full" class="ion-no-padding" *ngFor="let item of data.items"
          (click)="onItemClickFunc(item, $event)">
            <!-- Avatar -->
            <ion-thumbnail slot="start">
              <img [src]="item.image">
            </ion-thumbnail>
            <ion-label class="ion-padding-end ion-margin-start">
              <h2 class="ion-text-wrap">
                {{item.title}}</h2>
              <h3 class="text-wrap ion-margin-bottom">
                {{item.shipping}}</h3>
              <div class="span-small text-right ion-margin-top">
                {{item.oldPrice}}</div>
              <div class="span-medium text-size-md ion-text-right">
                {{item.newPrice}}</div>
              <h3 class="text-size-sm ion-padding-left">
                {{item.seller}}</h3>
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
