/* Style component 1
========================================================*/
.card-header-image {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: var(--cs-mode-image);
    background: var(--cs-gradient-linear);
    z-index: 5;
  }

  img {
    width: 100% !important;
  }

  .title-card {
    position: absolute;
    color: var(--cs-text-primary);
    left: 16px;
    bottom: 16px;
    z-index: 9;
    padding-right: 10px;
  }
}

ion-button {
  margin-inline-start: 16px !important;
}
