.title-components {
  border-bottom: 1px solid var(--cs-background-accent, #0090d0);
}

.icon-large {
  color: var(--cs-icon-color-primary, #00c0e8);
}

span.block {
  width: 100%;
  display: block;
}
