<!-- ANIMATION --COMPONENT 6 -->
<ion-grid class="ion-no-padding" *ngIf="data && data.items">
  <ion-row appAnimateItems className="fadeIn">
    <ion-col size="12" size-lg="6" *ngFor="let item of data.items"
    class="animation-normal opacity-0">
      <ion-card class="box-shadow ion-padding"
      (click)="onItemClickFunc(item, $event)">
        <!-- Images -->
        <ion-img [src]="item.image" alt=""></ion-img>
        <!-- Content -->
        <ion-card-content class="ion-no-padding transparent">
          <h2 class="ion-padding-top text-size-xs">{{item.title}}</h2>
          <p class="text-size-p ion-padding-top">{{item.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
