<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Footer tab - icon
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab4">
        <i class="icon icon-heart-outline icon-size"></i>
      </ion-tab-button>

      <ion-tab-button tab="tab5">
        <i class="icon icon-comment-outline icon-size"></i>
      </ion-tab-button>

      <ion-tab-button tab="tab6">
        <i class="icon icon-send icon-size"></i>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
