ion-grid {
  height: 100%;

  ion-slides {
    height: 100%;
    position: relative;
    // Settings Background
    .background-size {
      height: 100%;
      position: relative;
      background-color: var(--cs-blandModes-secondary, #ffffff);
      background-blend-mode: luminosity;
      align-items: center;
      display: flex;
      padding-bottom: 70px;

      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
        mix-blend-mode: var(--cs-mode-image);
        background: var(--cs-gradient-linear);
      }

      // Settings Text
      h1,
      h2 {
        color: var(--cs-text-primary, #ffffff);
        z-index: 999;
        position: relative;
      }
    }
  }

  ion-button {
    position: absolute;
    bottom: 0;
    z-index: 999;
    left: 50%;
    transform: translate(-50%);
    color: var(--cs-text-primary, #ffffff) !important;
    --background-hover: transparent !important;
    --color-hover: var(--cs-text-primary, #ffffff) !important;
    --color-activated: var(--cs-text-primary, #ffffff) !important;
    --color-focused: var(--cs-text-primary, #ffffff) !important;
  }
}
