<ion-item lines="none" class="ion-margin-bottom" *ngIf="data != null">
  <ion-label class="text-size-xs">{{data.title}}</ion-label>
  <ion-select class="text-size-xs" interface="popover" [(ngModel)]="data.selectedItemMonth" multiple="false"
    (ionChange)="onChangeMonthFunc($event)">
    <ion-select-option *ngFor="let item of data.itemsMonth" [value]="item.id">{{item.title}}
    </ion-select-option>
  </ion-select>

  <ion-select class="text-size-xs" interface="popover" [(ngModel)]="data.selectedItemYear" [multiple]="false"
    (ionChange)="onChangeYearsFunc($event)">
    <ion-select-option *ngFor="let item of data.itemsYears" [value]="item.id">{{item.title}}
    </ion-select-option>
  </ion-select>
</ion-item>
