<!-- Theme Segment - Segment List -->
<ion-page class="ion-page" *ngIf="viewEntered">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="data != null" class="ion-text-capitalize">
      {{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
  <!--Segment Section -->
  <ion-toolbar class="ion-no-padding" *ngIf="data != null">
    <ion-segment scrollable [(ngModel)]="selectedItem">
      <ion-segment-button class="ion-text-capitalize" value="Page1">
        <ion-label>{{data.segmentButton1}}</ion-label>
      </ion-segment-button>
      <ion-segment-button class="ion-text-capitalize" value="Page2">
        <ion-label>{{data.segmentButton2}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- Content-->
<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <!--- SETTINGS PAGE1 SCREEN -->
    <ion-row *ngIf="isEnabled('Page1') && data.page1 != null">
      <ion-col size="12" size-md="6" *ngFor="let item of data.page1.items">
        <ion-card class="ion-padding">
          <ion-img [src]="item.image"></ion-img>
          <ion-card-content class="ion-no-padding ion-margin-top"
          (click)="onItemClickFunc(item, $event)">
            <span class="span-small ion-text-uppercase">{{item.category}}</span>
            <h2 class="text-size-xs ion-padding-top">{{item.title}}</h2>
            <p class="text-size-p ion-padding-top">{{item.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--- SETTINGS PAGE2 SCREEN -->
    <ion-row *ngIf="isEnabled('Page2') && data.page2 != null">
      <ion-col size="12" size-md="6" *ngFor="let item of data.page2.items">
        <ion-card class="ion-padding">
          <ion-img [src]="item.image"></ion-img>
          <ion-card-content class="ion-no-padding ion-margin-top"
          (click)="onItemClickFunc(item, $event)">
            <span class="span-small ion-text-uppercase">{{item.category}}</span>
            <h2 class="text-size-xs ion-padding-top">{{item.title}}</h2>
            <p class="text-size-p ion-padding-top">{{item.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
</ion-page>
