<!-- SWIPE TO DISMISS --COMPONENT 3 -->
<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-list class="ion-no-margin" #dynamicList>
          <ion-item-sliding *ngFor="let item of data.items" #slidingItem>
            <ion-item lines="none" class="ion-no-margina background-size ion-no-padding"
            (click)="onItemClickFunc(item.title, $event)"
            [ngStyle]="{'background-image': 'url(' + item.image + ')'}">

              <!-- Title and Submenu -->
              <ion-label class="ion-text-center">
                <h2 class="text-size-xs">{{item.title}}</h2>
                <h3 class="text-size-sm">{{item.description}}</h3>
              </ion-label>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option (click)="onDeleteFunc(item, $event)">
                <i class="icon {{item.iconDelate}} icon-medium"></i>
              </ion-item-option>
              <ion-item-option (click)="onUndoFunc($event)">
                <i class="icon {{item.iconUndo}} icon-medium"></i>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
