<ion-app>
<!-- Header -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.headerTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-swipe-to-dismiss-list-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onShare)="onShare($event)"
      (onFavorite)="onFavorite($event)"
      (onLike)="onLike($event)"
      (onUndo)="onUndo($event)"
      (onDelete)="onDelete($event)"
      (onItemClick)="onItemClick($event)">
    </cs-swipe-to-dismiss-list-layout-1>

    <!-- PAGE 2 -->
    <cs-swipe-to-dismiss-list-layout-2
      *ngIf="isType(1)"
      [data]="data"
      (onUndo)="onUndo($event)"
      (onDelete)="onDelete($event)"
      (onItemClick)="onItemClick($event)">
    </cs-swipe-to-dismiss-list-layout-2>

    <!-- PAGE 3 -->
    <cs-swipe-to-dismiss-list-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onUndo)="onUndo($event)"
      (onDelete)="onDelete($event)"
      (onItemClick)="onItemClick($event)">
    </cs-swipe-to-dismiss-list-layout-3>

  </ion-content>
</ion-app>
