<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Messages</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home1">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Messages</li>
                    </ol>
                </nav>							
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Profile Content -->
<div class="dashboard-content">		
    <div class="container">
        <div class="">			        
            <ul class="dashborad-menus">
                <li>
                    <a [routerLink]="routes.dashboard">
                        <i class="feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.profile">
                        <i class="fa-solid fa-user"></i> <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.mylisting">
                        <i class="feather-list"></i> <span>My Listing</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.bookmarks">
                        <i class="fas fa-solid fa-heart"></i> <span>Bookmarks</span>
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="routes.messages">
                        <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.reviews">
                        <i class="fas fa-solid fa-star"></i> <span>Reviews</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.login">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>											
        </div>
        <div class="profile-content">
             <div class="row dashboard-info chat-window">
                <div class="col-lg-4">
                     <div class="chat-cont-left">
                        <form class="chat-search">
                            <div class="input-block">
                                <div class="group-img">
                                    <img src="assets/img/chatsearch.svg" alt="">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        </form>
                        <div class="chat-users-list">
                            <div class="chat-scroll">
                                <a href="javascript:void(0);" class="media d-flex active">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-online">
                                        <img src="assets/img/profiles/avatar-03.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Marvin Downey </div>
                                        <div class="user-last-chat">Hey, How are you?</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        <div class="badge badge-success rounded-pill">15</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-away">
                                        <img src="assets/img/profiles/avatar-04.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Charlene Reed</div>
                                        <div class="user-last-chat">I'll Call you later</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-online">
                                        <img src="assets/img/profiles/avatar-05.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Travis Trimmble</div>
                                        <div class="user-last-chat">Give me a full explain...</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        <div class="badge badge-success rounded-pill">15</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-away">
                                        <img src="assets/img/profiles/avatar-03.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Marvin Dorway</div>
                                        <div class="user-last-chat">Hey, How are you?</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        <div class="badge badge-success rounded-pill">15</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-offline">
                                        <img src="assets/img/profiles/avatar-04.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Charlene Reed</div>
                                        <div class="user-last-chat">I'll Call you later</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-online">
                                        <img src="assets/img/profiles/avatar-05.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Travis Trimmble</div>
                                        <div class="user-last-chat">Give me a full explain...</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        <div class="badge badge-success rounded-pill">15</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-offline">
                                        <img src="assets/img/profiles/avatar-04.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Charlene Reed</div>
                                        <div class="user-last-chat">I'll Call you later</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="media d-flex">
                                    <div class="media-img-wrap flex-shrink-0">
                                        <div class="avatar avatar-online">
                                        <img src="assets/img/profiles/avatar-05.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                        <div class="user-name">Travis Trimmble</div>
                                        <div class="user-last-chat">Give me a full explain...</div>
                                        </div>
                                        <div>
                                        <div class="last-chat-time block">2 min</div>
                                        <div class="badge badge-success rounded-pill">15</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>		 
                    </div>					
                </div>
                <div class="col-lg-8">
                    <div class="chat-cont-right">
                        <div class="chat-header">
                            <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                               <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <div class="media d-flex align-items-center">
                                <div class="media-img-wrap flex-shrink-0">
                                    <div class="avatar avatar-online">
                                    <img src="assets/img/profiles/avatar-03.jpg" alt="User Image" class="avatar-img rounded-circle">
                                    </div>
                                </div>
                                <div class="media-body flex-grow-1">
                                    <div class="user-name">Marvin Downey</div>
                                </div>
                            </div>									
                        </div>
                        <div class="chat-body">
                            <div class="chat-scroll">
                                <ul class="list-unstyled">
                                    <li class="media d-flex received">
                                        <div class="avatar flex-shrink-0">
                                           <img src="assets/img/profiles/avatar-03.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="media-body flex-grow-1">
                                           <div class="msg-box">
                                             <div>
                                                <p>I'm just looking around.</p>
                                                <p>Will you tell me something about yourself?</p>
                                                <ul class="chat-msg-info">
                                                    <li>
                                                        <div class="chat-time">
                                                            <span>8:35 AM</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                             </div>
                                            </div>
                                            <div class="msg-box">
                                                <div>
                                                    <p>Are you there? That time!</p>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>8:40 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="msg-box">
                                                <div>
                                                    <div class="chat-msg-attachments">
                                                        <div class="chat-attachment">
                                                            <img src="assets/img/chat-attachment.jpg" alt="Attachment">
                                                            <a href="javascript:void(0)" class="chat-attach-download">
                                                            <i class="feather-download"></i>
                                                            </a>
                                                        </div>
                                                        <div class="chat-attachment">
                                                            <img src="assets/img/chat-attachment.jpg" alt="Attachment">
                                                            <a href="javascript:void(0)" class="chat-attach-download">
                                                            <i class="feather-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                               <span>8:41 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> 													
                                        </div>
                                    </li>
                                    <li class="media d-flex sent">
                                        <div class="media-body flex-grow-1">
                                            <div class="msg-box">
                                                <div>
                                                    <p>Hello. What can I do for you?</p>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>8:30 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="msg-box">
                                                <div>
                                                    <p>OK, my name is Limingqiang. I like singing, playing basketballand so on.</p>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>9:45 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> 
                                             <div class="msg-box">
                                                <div>
                                                    <div class="chat-msg-attachments">
                                                        <div class="chat-attachment">
                                                            <img src="assets/img/chat-attachment.jpg" alt="Attachment">
                                                            <a href="javascript:void(0)" class="chat-attach-download">
                                                            <i class="feather-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                               <span>8:41 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> 		
                                        </div>
                                    </li>											
                                </ul>									
                            </div>
                        </div> 	
                        <div class="chat-footer">
                            <div class="input-group">
                                <div class="attach-btn">									
                                    <input type="text" class="input-msg-send form-control" placeholder="Type something">
                                    <div class="btn-file btn">
                                        <i class="fa fa-paperclip"></i>
                                        <input type="file">
                                    </div>
                                </div>
                                <button type="button" class="btn msg-send-btn"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>								
                    </div>		
                </div>                       						
             </div>				
        </div>
    </div>		
</div>		
<!-- /Profile Content -->