<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <h1 class="text-size-xl">{{data.headerTitle}}</h1>
          </ion-list-header>
            <ion-item lines="none"  *ngFor="let item of data.items"
              (click)="onItemClickFunc(item, $event)">
              <!--Avatar-->
              <ion-avatar slot="start">
                <img [src]="item.avatar">
              </ion-avatar>
              <ion-label>
                <!--Title-->
                <h2 class="text-size-lg">{{item.title}}</h2>
                <!--Subtitle-->
                <h3 class="text-size-sm">{{item.subtitle}}</h3>
              </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
