ion-grid,
ion-col,
ion-row {
  background: var(--cs-background-primary, #fff);
}

/* Parallax Friends
================================================*/
.background-size {
  height: 40vh;
  position: relative;
  background-color: var(--cs-blandModes-secondary, #ffffff);
  background-blend-mode: luminosity;

   &::before {
     content: "";
     display: block;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     position: absolute;
     pointer-events: none;
     mix-blend-mode: var(--cs-mode-image);
     background: var(--cs-gradient-linear);
   }
}

.rates {
  display: inline-block !important;
  margin-bottom: 10px;
}

.span-small {
  margin-right: 5px;
  color: var(--cs-text-accent, #455B65);
}
