<!--Themes Simple -->
<ion-row>
  <ion-col size="12">
    <ion-list lines="none">
      <!-- Header-title -->
      <ion-list-header>
        <h1 class="text-size-xl ion-text-capitalize">
          {{data.listTitle}}</h1>
      </ion-list-header>
      <!-- List -->
      <ion-item *ngFor="let entry of data.items" >
        <ion-label class="text-size-xs">
          {{entry.title}}</ion-label>
        <ion-toggle slot="start"
          [value]="entry.id"
          (ionChange)="onItemClickFunc(entry)"
          [checked]="entry.isChecked">
        </ion-toggle>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
