<ion-list lines="none" *ngIf="data != null">
    <ion-item>
      <h2 class="ion-text-uppercase text-size-xs" slot="start">{{data.title}}</h2>
      <ion-badge slot="end">{{data.value}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-range [min]="data.min" [max]="data.max" pin="true" (ionChange)="onChangeFunc($event)"
            [(ngModel)]="data.value">
            <i slot="start" class="icon {{data.iconLeft}} icon-small"></i>
            <i slot="end" class="icon {{data.iconRight}} icon-medium"></i>
        </ion-range>
    </ion-item>
</ion-list>
