<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Create an Account</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.home1">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Login Section -->
<div class="login-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 mx-auto">
        <div class="login-wrap register-form">
          <div class="login-header">
            <h3>Create an Account</h3>
            <p>Lets start with <span>Listee</span></p>
          </div>

          <!-- Login Form -->
          <form>
            <div class="input-block group-img">
              <div class="group-img">
                <i class="feather-user"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                />
              </div>
            </div>
            <div class="input-block group-img">
              <div class="group-img">
                <i class="feather-mail"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email Address"
                />
              </div>
            </div>
            <div class="input-block">
              <div class="pass-group group-img">
                <i class="feather-lock"></i>
                <input
                  [type]="toggleData ? 'text' : 'password'"
                  class="form-control pass-input"
                  placeholder="Password"
                />
                <span [ngClass]="toggleData === true ? 'toggle-password feather-eye' : 'toggle-password feather-eye-off'"  (click)="togglePassword()" (keyup)="togglePassword()" tabindex="0"></span>
              </div>
            </div>
            <button (click)="path()" class="btn btn-primary w-100 login-btn" type="submit">
              Create Account
            </button>
            <div class="register-link text-center">
              <p>
                Already have an account?
                <a
                  class="forgot-link"
                  [routerLink]="routes.login"
                  >Sign In</a
                >
              </p>
            </div>
            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">Sign in with Social Media Accounts</span>
            </div>
            <div class="social-login">
              <a href="#" class="btn btn-apple w-100"
                ><img src="assets/img/apple.svg" class="me-1" alt="img" />Sign
                in with Apple</a
              >
            </div>
            <div class="social-login">
              <a href="#" class="btn btn-google w-100"
                ><img src="assets/img/google.svg" class="me-1" alt="img" />Sign
                in with Google</a
              >
            </div>
            <div class="social-login">
              <a href="#" class="btn btn-facebook w-100 mb-0"
                ><img
                  src="assets/img/facebook.svg"
                  class="me-2"
                  alt="img"
                />Continue with Facebook</a
              >
            </div>
          </form>
          <!-- /Login Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Login Section -->
