<template>
  <!-- Search By Location -->
  <section class="car-location common-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="home-six-heading-section aos" data-aos="fade-up">
            <div
              class="home-six-title d-flex justify-content-center align-items-center"
            >
              <h2>Search by Locations</h2>
              <img src="@/assets/img/icons/title.svg" alt="" />
            </div>
            <p>
              Rutrum ante tempus mauris facilisi, leo faucibus, egestas
              diamlorem malesu, vitae mauris.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <router-link to="service-details"
            ><div
              class="car-location-img aos"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <img
                src="@/assets/img/city/car-location-1.png"
                class="img-fluid"
                alt=""
              />
              <span>Las Vegas</span>
            </div></router-link
          >
        </div>
        <div class="col-lg-5">
          <router-link to="service-details"
            ><div
              class="car-location-img aos"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <img
                src="@/assets/img/city/car-location-2.png"
                class="img-fluid"
                alt=""
              />
              <span>Singapore</span>
            </div></router-link
          >
        </div>
        <div class="col-lg-4">
          <router-link to="service-details"
            ><div
              class="car-location-img aos"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <img
                src="@/assets/img/city/car-location-3.png"
                class="img-fluid"
                alt=""
              />
              <span>Denmark</span>
            </div></router-link
          >
        </div>
        <div class="col-lg-4">
          <router-link to="service-details"
            ><div
              class="car-location-img aos"
              data-aos="fade-up"
              data-aos-delay="800"
            >
              <img
                src="@/assets/img/city/car-location-4.png"
                class="img-fluid"
                alt=""
              />
              <span>France</span>
            </div></router-link
          >
        </div>
        <div class="col-lg-5">
          <router-link to="service-details"
            ><div
              class="car-location-img aos"
              data-aos="fade-up"
              data-aos-delay="1000"
            >
              <img
                src="@/assets/img/city/car-location-5.png"
                class="img-fluid"
                alt=""
              />
              <span>Indonesia</span>
            </div></router-link
          >
        </div>
        <div class="col-lg-3">
          <router-link to="service-details"
            ><div
              class="car-location-img aos"
              data-aos="fade-up"
              data-aos-delay="1200"
            >
              <img
                src="@/assets/img/city/car-location-6.png"
                class="img-fluid"
                alt=""
              />
              <span>New York</span>
            </div></router-link
          >
        </div>
      </div>
    </div>
  </section>
  <!-- /Search By Location -->

  <!-- Clients Testimonials -->
  <section class="car-clients common-padding">
    <div class="container">
      <div class="row aos" data-aos="fade-up">
        <div class="col-lg-12">
          <div class="home-six-heading-section">
            <div
              class="home-six-title d-flex justify-content-center align-items-center"
            >
              <h2>Clients Testimonials</h2>
              <img src="@/assets/img/icons/title.svg" alt="" />
            </div>
            <p>
              Rutrum ante tempus mauris facilisi, leo faucibus, egestas
              diamlorem malesu, vitae mauris.
            </p>
          </div>
        </div>
      </div>
      <div
        class="car-class-carousel aos"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="client-testimonial-slider owl-carousel owl-theme">
          <Carousel
            :wrap-around="true"
            :settings="settings"
            :breakpoints="breakpoints"
          >
            <Slide v-for="item in IndexSixLocation" :key="item.id">
              <div class="car-client-item">
                <div class="car-client-review">
                  <img :src="require(`@/assets/img/${item.image}`)" alt="" />
                  <h3>{{ item.title }}</h3>
                  <h5>{{ item.text }}</h5>
                  <p class="m-0">{{ item.content }}</p>
                  <div class="car-client-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
                <div class="car-client-user">
                  <img
                    :src="require(`@/assets/img/profiles/${item.avatar}`)"
                    alt=""
                  />
                </div>
              </div>
            </Slide>
            <template #addons>
              <Pagination />
            </template>
          </Carousel>
        </div>
      </div>
    </div>
  </section>
  <!-- /Clients Testimonials -->
</template>
<script>
import { Carousel, Pagination, Navigation, Slide } from "vue3-carousel";
import IndexSixLocation from "@/assets/json/indexSixLocation.json";
export default {
  data() {
    return {
      IndexSixLocation: IndexSixLocation,
      settings: {
        itemsToShow: 1,
        snapAlign: "center",
      },
      breakpoints: {
        575: {
          itemsToShow: 1,
          snapAlign: "center",
        },
        // 700px and up
        767: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        // 991 and up
        991: {
          itemsToShow: 3,
          snapAlign: "center",
        },
        // 1024 and up
        1024: {
          itemsToShow: 3,
          snapAlign: "start",
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
};
</script>
