<template>
  <!-- Trending Search -->
  <section class="home-six-trending-search common-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="home-six-heading-section aos" data-aos="fade-up">
            <div
              class="home-six-title d-flex justify-content-center align-items-center"
            >
              <h2>Trending Search</h2>
              <img src="@/assets/img/icons/title.svg" alt="" />
            </div>
            <p>
              Rutrum ante tempus mauris facilisi, leo faucibus, egestas
              diamlorem malesu, vitae mauris.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="trending-carousel">
            <div class="trending-slider owl-carousel owl-theme">
              <Carousel
                :wrap-around="true"
                :settings="settings"
                :breakpoints="breakpoints"
              >
                <Slide v-for="item in IndexSearch" :key="item.id">
                  <div class="trending-slider-item aos" data-aos="fade-up">
                    <router-link to="categories"
                      ><img
                        :src="require(`@/assets/img/work/${item.image}`)"
                        alt=""
                      />
                      <span>{{ item.title }}</span></router-link
                    >
                  </div>
                </Slide>
                <template #addons>
                  <Pagination />
                </template>
              </Carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Trending Search -->
</template>

<script>
import { Carousel, Pagination, Navigation, Slide } from "vue3-carousel";
import IndexSearch from "@/assets/json/indexSearch.json";
import IndexSearchCar from "@/assets/json/indexSearchCar.json";
export default {
  data() {
    return {
      IndexSearch: IndexSearch,
      IndexSearchCar: IndexSearchCar,
      settings: {
        itemsToShow: 1,
        snapAlign: "center",
      },

      breakpoints: {
        575: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        // 700px and up
        700: {
          itemsToShow: 3,
          snapAlign: "center",
        },
        // 1024 and up
        1000: {
          itemsToShow: 4,
          snapAlign: "start",
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  mouted() {},
};
</script>
