<template>
  <!-- Top Featured Cars -->
  <section class="top-featured-car common-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="home-six-heading-section aos" data-aos="fade-up">
            <div
              class="home-six-title d-flex justify-content-center align-items-center"
            >
              <h2>Top Featured Cars</h2>
              <img src="@/assets/img/icons/title.svg" alt="" />
            </div>
            <p>
              Rutrum ante tempus mauris facilisi, leo faucibus, egestas
              diamlorem malesu, vitae mauris.
            </p>
          </div>
        </div>
      </div>

      <div class="row aos" data-aos="fade-up">
        <div class="col-lg-12">
          <div class="car-class-carousel">
            <div class="car-featured-slider owl-carousel owl-theme">
              <Carousel
                :wrap-around="true"
                :settings="settings"
                :breakpoints="breakpoints"
              >
                <Slide v-for="item in IndexSixFeatured" :key="item.id">
                  <div class="featured-car-item">
                    <div class="featured-car-item-list">
                      <router-link class="featurecar-img" to="categories">
                        <img
                          :src="require(`@/assets/img/featured/${item.image}`)"
                          alt=""
                        />
                      </router-link>
                      <div class="featured-car-center">
                        <div class="featured-car-center-list">
                          <h5>Manufactured</h5>
                          <p>{{ item.year }}</p>
                        </div>
                        <div class="featured-car-center-list">
                          <h5>Total</h5>
                          <p>{{ item.distance }}</p>
                        </div>
                        <div class="featured-car-center-list">
                          <h5>Engine</h5>
                          <p>{{ item.oil }}</p>
                        </div>
                        <div class="featured-car-center-list">
                          <h5>Car Type</h5>
                          <p>{{ item.type }}</p>
                        </div>
                      </div>
                      <div class="featured-car-bottom">
                        <h6>{{ item.title }}</h6>
                        <router-link to="categories"
                          ><h3>{{ item.details }}</h3></router-link
                        >
                        <p>{{ item.content }}</p>
                      </div>
                      <div class="featured-car-foot">
                        <router-link to="profile">
                          <div class="featured-car-foot-right">
                            <div class="property-profile feature-owner">
                              <img
                                :src="
                                  require(`@/assets/img/profiles/${item.avatar}`)
                                "
                                class="img-fluid"
                                alt=""
                              />
                            </div>
                            <p>
                              Dealer : <span>{{ item.dealer }}</span>
                            </p>
                          </div>
                        </router-link>
                        <div class="featured-car-foot-left">
                          <span>{{ item.amount }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </Slide>
                <template #addons>
                  <Pagination />
                </template>
              </Carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Top Featured Cars -->
</template>
<script>
import { Carousel, Pagination, Navigation, Slide } from "vue3-carousel";
import IndexSixFeatured from "@/assets/json/indexSixFeatured.json";
export default {
  data() {
    return {
      IndexSixFeatured: IndexSixFeatured,
      settings: {
        itemsToShow: 1,
        snapAlign: "center",
      },
      breakpoints: {
        575: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        // 700px and up
        767: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        // 991 and up
        991: {
          itemsToShow: 3,
          snapAlign: "center",
        },
        // 1024 and up
        1024: {
          itemsToShow: 3,
          snapAlign: "start",
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
};
</script>
