/* Settings Scroll Segment
===========================================*/
// Setting scrollable toolbar

:host {
  --st-scrollable-toolbar-padding-left: 5px !important;
}
// Setting scroll button

.ion-color-primary {
  background: var(--cs-gradient-linear-toolbar) !important;
  --ion-color-contrast: var(--cs-background-secondary) !important;
}

super-tabs-toolbar {
  ion-label {
    color: var(--cs-text-primary);
    font-size: 16px;
    font-weight: 400;
  }
}

.page1 {
  .icon-chatbubbles {
    flex: unset;
  }

  .social-share {
    display: flex;
  }
}

.page2 {
  ion-card {
    display: inline-flex;
    position: relative;
    width: calc(100% - 16px);
    flex: none;

    ion-card-header {
      width: 50%;
      height: auto !important;
      min-height: 150px;
    }

    .background-size {
      height: 100%;
    }

    ion-card-content {
      width: 50%;
      padding: 8px;
      align-self: center;

      ion-badge {
        margin-top: 8px;
      }
    }
  }
}

.page3 {
  ion-card {
    display: inline-flex;
    position: relative;
    width: calc(100% - 16px);
    flex: none;

    ion-card-header {
      width: 50%;
      align-self: center;
    }

    .background-size {
      height: 100%;
    }

    ion-card-content {
      width: 50%;
      height: auto !important;
      min-height: 150px;
    }
  }
}
