<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Listings-List</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.home1">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Main Content Section -->
<div class="list-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 theiaStickySidebar">
        <div class="stickybar">
          <div class="listings-sidebar">
            <div class="card">
              <h4>
                <img src="assets/img/details-icon.svg" alt="details-icon" />
                Filter
              </h4>
              <form>
                <div class="filter-content looking-input input-block">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="What are you looking for?"
                  />
                </div>
                <div class="filter-content input-block">
                  <mat-form-field class="mat-custom-select w-100">
                    <mat-label *ngIf="selectedCategory === ''">
                      Choose Category</mat-label>
                    <mat-select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                      <mat-option disabled class="search-input-option">
                        <input [(ngModel)]="searchInputCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="
                            searchCategory(searchInputCategory)
                          " class="search-input" type="text" />
                      </mat-option>
                      <mat-option [value]="item.categoryName" *ngFor="let item of categories">{{ item.categoryName
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div
                  class="filter-content looking-input input-block input-placeholder"
                >
                  <div class="group-img">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Where to look?"
                    />
                    <i class="feather-map-pin"></i>
                  </div>
                </div>
                <div class="filter-content input-block region">
                  <mat-form-field class="mat-custom-select w-100">
                    <mat-label *ngIf="selectedRegion === ''">
                      Region</mat-label>
                    <mat-select [(ngModel)]="selectedRegion" [ngModelOptions]="{standalone: true}">
                      <mat-option disabled class="search-input-option">
                        <input [(ngModel)]="searchInputCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="
                            searchCategory(searchInputCategory)
                          " class="search-input" type="text" />
                      </mat-option>
                      <mat-option [value]="item.regionName" *ngFor="let item of region">{{ item.regionName
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="filter-content input-block amenities">
                  <h4>Amenities</h4>
                  <ul>
                    <li>
                      <label class="custom_check">
                        <input type="checkbox" name="wireless-internet" />
                        <span class="checkmark"></span> Wireless Internet
                      </label>
                    </li>
                    <li>
                      <label class="custom_check">
                        <input type="checkbox" name="accept-credit-card" />
                        <span class="checkmark"></span> Accepts Credit Cards
                      </label>
                    </li>
                    <li>
                      <label class="custom_check">
                        <input type="checkbox" name="Coupouns" />
                        <span class="checkmark"></span> Coupouns
                      </label>
                    </li>
                    <li>
                      <label class="custom_check">
                        <input type="checkbox" name="parking-street" />
                        <span class="checkmark"></span> Parking Street
                      </label>
                    </li>
                    <li>
                      <label class="custom_check">
                        <input type="checkbox" name="bike-parking" />
                        <span class="checkmark"></span> Bike Parking
                      </label>
                    </li>
                    <li>
                      <label class="custom_check">
                        <input type="checkbox" name="Smoking-Allowed" />
                        <span class="checkmark"></span> Smoking Allowed
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="filter-content input-block amenities radius">
                    <div class="slider-info">
                      <h4> Radius</h4>
                      <div class="demo"><span>50</span> Radius</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="filter-range">
                      <mat-slider min="0" max="100"  discrete>
                        <input value="50" matSliderThumb>
                      </mat-slider>
                    </div>
                </div>
                <div class="filter-content amenities mb-0">
                  <h4>Price Range</h4>
                  <div class="input-block mb-0">
                    <input type="text" class="form-control" placeholder="Min" />
                    <input
                      type="text"
                      class="form-control me-0"
                      placeholder="Max"
                    />
                  </div>
                  <div class="search-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i> Search
                    </button>
                    <button class="btn btn-reset mb-0" type="submit">
                      <i class="fas fa-light fa-arrow-rotate-right"></i> Reset
                      Filters
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row sorting-div">
          <div class="col-lg-4 col-sm-4 align-items-center d-flex">
            <div class="count-search">
              <p>Showing <span>1-8</span> of 10 Results</p>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 align-items-center">
            <div class="sortbyset">
              <span class="sortbytitle">Sort by</span>
              <div class="sorting-select">
                <mat-form-field class="mat-custom-select">
                  <mat-label *ngIf="selectedDefault === ''">
                    Default</mat-label>
                  <mat-select [(ngModel)]="selectedDefault" [ngModelOptions]="{standalone: true}">
                    <mat-option disabled class="search-input-option">
                      <input [(ngModel)]="searchInputCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="
                          searchCategory(searchInputCategory)
                        " class="search-input" type="text" />
                    </mat-option>
                    <mat-option [value]="item.defaultName" *ngFor="let item of default">{{ item.defaultName
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="grid-listview">
              <ul>
                <li>
                  <a [routerLink]="routes.listinglistsidebar" class="active">
                    <i class="feather-list"></i>
                  </a>
                </li>
                <li>
                  <a [routerLink]="routes.listinggridsidebar">
                    <i class="feather-grid"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="blog-listview">
          <div class="card" *ngFor="let slide of listsidebar">
            <div class="blog-widget">
              <div class="blog-img">
                <a [routerLink]="routes.servicedetails">
                  <img [src]="slide.img1" class="img-fluid" alt="blog-img" />
                </a>
                <div class="fav-item">
                  <span class="Featured-text">{{ slide.headline }}</span>
                  <a href="javascript:void(0)" class="fav-icon" (click)="slide.like = !slide.like" [ngClass]="{'selected' : slide.like === true}">
                    <i class="feather-heart"></i>
                  </a>
                </div>
              </div>
              <div class="bloglist-content">
                <div class="card-body">
                  <div class="blogfeaturelink">
                    <div class="blog-features">
                      <a href="javascript:void(0);"
                        ><span>
                          <i class="fa-regular fa-circle-stop"></i>
                          Construction</span
                        ></a
                      >
                    </div>
                    <div class="blog-author">
                      <div class="blog-author-img">
                        <img [src]="slide.img2" alt="author" />
                      </div>
                      <a href="javascript:void(0);">{{ slide.name }}</a>
                    </div>
                  </div>
                  <h6>
                    <a [routerLink]="routes.servicedetails">{{
                      slide.details
                    }}</a>
                  </h6>
                  <div class="blog-location-details">
                    <div class="location-info">
                      <i class="feather-map-pin"></i> {{ slide.map }}
                    </div>
                    <div class="location-info">
                      <i class="feather-phone-call"></i> {{ slide.phone }}
                    </div>
                    <div class="location-info">
                      <i class="feather-eye"></i> {{ slide.search }}
                    </div>
                  </div>
                  <p class="ratings">
                    <span>{{ slide.rating }}</span> {{ slide.rating1 }}
                  </p>
                  <div class="amount-details">
                    <div class="amount">
                      <span class="validrate">{{ slide.amount }}</span>
                      <span>{{ slide.oldamount }}</span>
                    </div>
                    <a [routerLink]="routes.servicedetails">View details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="blog-pagination">
            <nav>
              <ul class="pagination">
                <li class="page-item previtem">
                  <a class="page-link" href="javascript:void(0)"
                    ><i class="fas fa-regular fa-arrow-left"></i> Prev</a
                  >
                </li>
                <li class="justify-content-center pagination-center">
                  <div class="pagelink">
                    <ul>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">1</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)"
                          >2 <span class="visually-hidden">(current)</span></a
                        >
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">...</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">14</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="page-item nextlink">
                  <a class="page-link" href="javascript:void(0)"
                    >Next <i class="fas fa-regular fa-arrow-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Content Section -->
