<!--Theme Category 1 (Animals)-->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="6" size-md="4" *ngFor="let item of data.items;let i = index">
      <ion-card class="ion-no-padding ion-no-margin"
      (click)="onItemClickFunc(item, i, $event)">
        <ion-img [src]="item.image"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
