<ion-list lines="none" *ngIf="data != null">
  <ion-item>
      <h2 class="ion-text-uppercase text-size-xs" slot="start">{{data.title}}</h2>
  </ion-item>
    <ion-item>
        <ion-range dualKnobs="true" pin="true" [(ngModel)]="data.value" (ionChange)="onChangeFunc($event)">
          <ion-label class="text-size-sm" slot="start">{{data.textLeft}}</ion-label>
          <ion-label class="ion-margin-start text-size-lg" slot="end">{{data.textRight}}</ion-label>
        </ion-range>
    </ion-item>
</ion-list>
