/* Style component 4
========================================================*/

agm-map {
  height: 250px;
}

ion-grid {
  height: 100%;

  ion-row {
    height: calc(100% - 250px);
  }
}

.textarea {
  min-height: 280px;
  height: calc(100% - 100px);

  ion-item {
    height: calc(100% - 30px);
    width: 100% !important;
    display: -webkit-inline-box;

    ion-textarea {
      height: calc(100% - 50px);
      width: 100% !important;
    }
  }
}
