<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of data.items">
        <ion-card class="box-shadow"
          (click)="onItemClickFunc(item, $event)">

          <div class="card-image">
            <!--Card image-->
            <ion-img class="images-filter" [src]="item.image"></ion-img>
            <!--Card title-->
            <h2 class="text-size-xs">{{item.titleHeader}}</h2>
          </div>
          <!--Card content-->
          <ion-card-content>
            <ion-card-title>
              <!--Card subtitle-->
              <h1 class="text-size-lg">{{item.title}}</h1>
            </ion-card-title>
            <!--Card description-->
            <p class="text-size-p ion-padding-top ion-padding-bottom">{{item.description}}</p>
            <!--Button share-->
            <ion-button shape="round" class="button-round" fill="outline" slot="start"
            (click)="onShareFunc(item, $event)">
              {{item.shareButton}}
            </ion-button>
            <!--Button explore-->
            <ion-button shape="round" class="button-round" fill="outline" slot="start"
            (click)="onExploreFunc(item, $event)">
              {{item.button}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
