<!-- EXPANDABLE --COMPONENT 2 -->
<ion-grid class="ion-no-padding">
  <ion-row *ngIf="data != null">
    <ion-col size="12">
      <ion-list>
        <ul class="collapsible" class="ion-no-padding ion-no-margin">
          <li *ngFor="let group of data.items;" class="margin-half">
            <!-- Expandable Full image with CTA Header-->
            <div class="collapsible-header" class="background-size"
              [ngStyle]="{'background-image': 'url(' + group.backgroundImage + ')'}">
              <ion-item  lines="none">
                <ion-label>
                  <h2 class="text-size-lg">{{group.title}}</h2>
                </ion-label>
                <ion-button class="button-round" shape="round" fill="outline"
                (click)="toggleGroup(group)">
                  {{group.button}}
                </ion-button>
              </ion-item>
            </div>
            <!-- Expandable Full image with CTA Body -->
            <div class="item-accordion" [ngClass]="{'active': group.show }"
            [hidden]="!group.show">
              <div (click)="onItemClickFunc(group, $event)">
                <ion-item lines="none"
                  *ngFor="let item of group.items"
                  (click)="onItemClickFunc(item, $event)">
                  <ion-label>
                    <h2 class="subtext-size-lg">{{item}}</h2>
                  </ion-label>
                  <i slot="end" class="icon icon-chevron-right icon-small"></i>
                </ion-item>
              </div>
            </div>
          </li>
        </ul>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
