<!-- ANIMATION --COMPONENT 8 -->
<ion-grid *ngIf="data && data.items" class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <ion-list lines="none" class="ion-padding"
      appAnimateItems className="slideInLeft">
        <ion-list-header>
          <span class="span-small ion-margin-top">{{data.allComments}}</span>
        </ion-list-header>
        <ion-item class="animation-normal opacity-0 box-shadow ion-margin-top"
        *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
          <ion-avatar slot="start">
            <img [src]="item.image">
          </ion-avatar>
          <ion-label>
            <h3 class="text-size-xs">{{item.title}}</h3>
            <h3 class="text-size-sm">{{item.time}}</h3>
            <p class="text-size-p ion-text-wrap ion-padding-top">
              {{item.description}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
