<!--Content -->
<ion-grid class="ion-no-padding" *ngIf="viewEntered">
  <ion-row *ngIf="data != null">
    <ion-col size="12">
      <agm-map *ngIf="data.map != null"
      [latitude]="data.map.lat"
      [longitude]="data.map.lng" [zoom]="data.map.zoom"
        [mapTypeControl]="data.map.mapTypeControl"
        [streetViewControl]="data.map.streetViewControl">
        <agm-marker [latitude]="data.map.lat"
        [longitude]="data.map.lng"></agm-marker>
      </agm-map>
    </ion-col>
  </ion-row>
</ion-grid>
