<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content [scrollEvents]="true">

    <!-- PAGE 1 -->
    <cs-map-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onLike)="onLike($event)"
      (onShare)="onShare($event)"
      (onItemClick)="onItemClick($event)">
    </cs-map-layout-1>

    <!-- PAGE 2 -->
     <cs-map-layout-2
      *ngIf="isType(1)"
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onLike)="onLike($event)"
      (onShare)="onShare($event)"
      (onItemClick)="onItemClick($event)">
    </cs-map-layout-2>

    <!-- PAGE 3 -->
    <cs-map-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onLike)="onLike($event)"
      (onShare)="onShare($event)"
      (onItemClick)="onItemClick($event)">
    </cs-map-layout-3>

  </ion-content>
</ion-app>
