<!-- Theme Search Bars - Field + header -->
<ion-grid class="ion-no-padding" *ngIf="viewEntered">
  <ion-row *ngIf="data != null">
    <!-- List -->
    <ion-col size="12">
      <ion-list no-margin lines="none">
        <ion-list-header class="ion-no-padding background-size"
          [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}"
          *ngIf=" data.headerImage != null">
          <ion-searchbar [(ngModel)]="search" (ionInput)="onTextChangeFunc($event)">
          </ion-searchbar>
        </ion-list-header>
        <ion-item *ngFor="let item of data.items | filter:search"
          (click)="onItemClickFunc(item, $event)">
          <i slot="start" class="icon {{item.icon}} icon-small"></i>
          <ion-label>
            <h2 class="text-size-xs">{{item.title}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
