<!-- FORGET PASSWORD --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid class=" ion-padding" *ngIf="data != null">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-padding" size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img class="ion-float-end" [src]="data.logo"></ion-img>
          <div class="clearfix"></div>
          <h1 class="text-size-xl ion-text-wrap ion-text-capitalize">
            {{data.title}}</h1>
          <div class="clearfix"></div>
          <h2 class="text-size-xs ion-text-wrap ion-padding-end">
            {{data.subtitle}}</h2>
          <div class="clearfix"></div>
          <ion-item class="ion-no-padding transparent input">
            <!---Input field email-->
            <ion-label class="text-size-sm" position="floating">
              {{data.lableEmail}}</ion-label>
            <ion-input required type="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              required [(ngModel)]="item.email"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isEmailValid" class="icon-small"
            [name]="data.errorIcon"></ion-icon>
          </ion-item>
          <!---Send button-->
          <ion-button class="ion-margin-top button-round ion-float-end"
          shape="round" fill="outline" (click)="onSendFunc()">
            {{data.send}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
