/* Style component 1
========================================================*/
:host{
  --img-logo: 240px;
}

ion-grid,
ion-row {
  height: 100%;
  background: var(--cs-background-primary, #ffffff);
}

ion-img {
  width: var(--img-logo);
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: var(--cs-text-secondary, #0090d0)
}


ion-item {
  ion-input {
    --padding-end: 8px;
  }
 ion-icon {
   position: absolute;
   right: 0;
   bottom: 8px
  }
}
