<ion-list lines="none" *ngIf="data != null">
    <ion-item>
        <h2 class="ion-text-uppercase text-size-xs" slot="start">{{data.title}}</h2>
        <ion-badge slot="end">{{data.value}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-range [min]="data.min" [max]="data.max" [step]="data.step" snaps="true" (ionChange)="onChangeFunc($event)"
            [(ngModel)]="data.value">
            <ion-label class="text-size-sm" slot="start">{{data.textLeft}}</ion-label>
            <ion-label class="ion-margin-start text-size-lg" slot="end">{{data.textRight}}</ion-label>
        </ion-range>
    </ion-item>
</ion-list>
