<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Forgot Password</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Login Section -->
<div class="login-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 mx-auto">
                <div class="login-wrap password-form">

                    <div class="login-header">
                        <h3>Forgot Password</h3>
                        <p>Enter your email and we will send you a link to reset your password.</p>
                    </div>

                    <!-- Login Form -->
                    <form >
                        <div class="input-block group-img">
                            <div class="group-img">
                                <i class="feather-mail"></i>
                                <input type="text" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <button (click)="direction()" class="btn btn-primary w-100 login-btn" type="submit">Submit</button>
                    </form>
                    <a [routerLink]="routes.home1" class="back-home"><i class="fas fa-regular fa-arrow-left me-1"></i> Back to Home</a>
                    <!-- /Login Form -->

                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Login Section -->
