<!-- GOOGLE CARD --COMPONENT 3 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items">
      <ion-card class="box-shadow ion-padding ion-text-center" (click)="onItemClickFunc(item, $event)">
        <div class="images">
          <ion-img class="images-filter" [src]="item.image"></ion-img>
        </div>
        <ion-card-content>
          <!-- Card Title -->
          <h2 class="text-size-xs">{{item.title}}</h2>
          <!-- Card Subtitle -->
          <p class="text-size-sm ion-padding-top">{{item.subtitle}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
