/* Style component 1
========================================================*/

ion-card {
  .images {
    position: relative;
    min-height: 150px;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-linear);
      z-index: 5;
    }
  }

  ion-card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    h2,
    p {
      position: relative;
      color: var(--cs-text-primary, #fff) !important;
      z-index: 999;
    }
  }
}
