	<!-- Breadscrumb Section -->
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Login</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="routes.home1">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadscrumb Section -->

    <!-- Login Section -->
    <div class="login-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 mx-auto">
                    <div class="login-wrap">

                        <div class="login-header">
                            <h3>Welcome Back</h3>
                            <p>Please Enter your Details</p>
                        </div>

                        <!-- Login Form -->
                            <div class="input-block group-img">
                                <div class="group-img">
                                    <i class="feather-mail"></i>
                                    <input type="text" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="input-block">
                                <div class="pass-group group-img">
                                    <i class="feather-lock"></i>
                                    <input [type]="toggleData ? 'text' : 'password'" class="form-control pass-input" placeholder="Password">
                                    <span [ngClass]="toggleData === true ? 'toggle-password feather-eye' : 'toggle-password feather-eye-off'"  (click)="togglePassword()"  (keyup)="togglePassword()" tabindex="0"></span> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="custom_check">
                                        <input type="checkbox" name="rememberme" class="rememberme">
                                        <span class="checkmark"></span>Remember Me
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="text-md-end">
                                        <a class="forgot-link" [routerLink]="routes.forgotpassword">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                            <button [routerLink]="routes.dashboard" class="btn btn-primary w-100 login-btn" type="submit">Sign in</button>
                            <div class="register-link text-center">
                                <p>No account yet? <a class="forgot-link" [routerLink]="routes.signup">Signup</a></p>
                            </div>
                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">Sign in with Social Media Accounts</span>
                            </div>
                            <div class="social-login">
                                <a href="#" class="btn btn-apple w-100"><img src="assets/img/apple.svg" class="me-1" alt="img">Sign in with Apple</a>
                            </div>
                            <div class="social-login">
                                <a href="#" class="btn btn-google w-100"><img src="assets/img/google.svg" class="me-1" alt="img">Sign in with Google</a>
                            </div>
                            <div class="social-login">
                                <a href="#" class="btn btn-facebook w-100 mb-0"><img src="assets/img/facebook.svg" class="me-2" alt="img">Continue with Facebook</a>
                            </div>
                        <!-- /Login Form -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Login Section -->
