<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="11" offset="1">
      <!-- Cards -->
      <ion-card class="ion-padding"
        *ngFor="let item of data.items"
        (click)="onItemClickFunc(item, $event)">
        <span class="span-small font-bold">{{item.time}}</span>
        <ion-item class="transparent ion-no-padding ion-margin-top" lines="none">
          <ion-avatar slot="start">
            <img [src]="item.avatar">
          </ion-avatar>
          <ion-label>
            <h2 class="text-size-xs">{{item.title}}</h2>
            <h3 class="text-size-sm">{{item.subtitle}}</h3>
            <div class="clearfix"></div>
          </ion-label>
        </ion-item>
        <ion-card-content class="ion-no-padding">
          <p class="text-size-p ion-text-wrap ion-padding-top">
            {{item.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
