@charset "UTF-8";

@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("../fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*--  Nunito font  --*/
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("../fonts/nunito/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/** General **/
body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "Poppins, sans-serif";
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  color: #232e46;
  font-weight: 600;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

p {
  color: #494F4D;
  font-size: 14px;
  line-height: 28px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  color: #494F4D;
}
ul li strong {
  font-weight: 600;
}

input,
.form-control {
  padding: 8px 15px;
  border: 1px solid #dadfe5;
  line-height: 22px;
  border-radius: 5px;
  font-size: 13px;
  color: #999;
}
input:focus, input:active,
.form-control:focus,
.form-control:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #dadfe5;
  color: #494F4D;
}
input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder, .form-control::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder, .form-control:-ms-input-placeholder {
  color: #999;
}
input::-ms-input-placeholder, .form-control::-ms-input-placeholder {
  color: #999;
}
input::placeholder,
.form-control::placeholder {
  color: #999;
}

textarea {
  border: 1px solid #dadfe5;
  border-radius: 5px;
  font-size: 13px;
  color: #656D7E;
}

.sb-collapse .main-content {
  width: calc(100% - 80px);
  margin-left: 80px;
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-content {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: calc(100% - 270px);
  margin-left: 270px;
  padding: 74px 12px 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sb-hide .main-content {
  width: 100%;
  margin-left: 0;
}
.no-sidebar .main-content {
	margin-left: 0;
	width: 100%;
}
b {
  color: #5f6af5;
}

.min-h-100 {
  min-height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

code[class*=language-], pre[class*=language-] {
  text-shadow: none;
}
:not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: #eeeef0;
  transition: color .5s,background-color .5s;
}

/*  Loader  */
#loader-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
}
#loader-wrapper .loader-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#loader-wrapper .loader-ellipsis div {
  position: absolute;
  top: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
  opacity: 0.7;
  -webkit-transform: scale(0);
          transform: scale(0);
}
#loader-wrapper .loader-ellipsis div:nth-child(1) {
  background: #C10037;
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}
#loader-wrapper .loader-ellipsis div:nth-child(2) {
  background: #C10037;
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
#loader-wrapper .loader-ellipsis div:nth-child(3) {
  background: #C10037;
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
#loader-wrapper .loader-ellipsis div:nth-child(4) {
  background: #C10037;
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}
@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

/* Colors */
.color-primary {
  color: #5f6af5;
}

.color-secondary {
  color: #ff4f7f;
}

.color-success {
  color: #2bbb93;
}

.color-info {
  color: #50d1f8;
}

.color-warning {
  color: #ffa04f;
}

.color-danger {
  color: #fb2f2f;
}

.color-dark {
  color: #1d2531;
}

.bg-color-primary {
  color: #5f6af5;
}

.bg-color-secondary {
  color: #ff4f7f;
}

.bg-color-success {
  color: #2bbb93;
}

.bg-color-info {
  color: #50d1f8;
}

.bg-color-warning {
  color: #ffa04f;
}

.bg-color-danger {
  color: #fb2f2f;
}

.bg-color-dark {
  color: #1d2531;
}

.bg-primary {
  background-color: #5f6af5 !important;
}

.bg-secondary {
  background-color: #ff4f7f !important;
}

label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #999;
  font-weight: 500;
}

.page-title {
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-title .breadcrumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-title .breadcrumb h5 {
  font-size: 24px;
  font-weight: 600;
  color: #232e46;
  margin: 0;
}
.page-title .breadcrumb ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.page-title .breadcrumb ul li {
  font-size: 13px;
  color: #656D7E;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page-title .breadcrumb ul li:not(:first-child) {
  padding-left: 20px;
}
.page-title .breadcrumb ul li:not(:first-child):after {
  content: "\f054";
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 3px;
  left: 6px;
  font-size: 10px;
}
.page-title .breadcrumb ul li a {
  color: #656D7E;
}

.dropdown {
  border-radius: 5px;
}
.dropdown .dropdown-toggle {
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  border: 1px solid #dadfe5;
  border-radius: 5px;
}
.dropdown .dropdown-toggle:after {
  display: none;
}
.dropdown .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dropdown .dropdown-toggle i {
  color: #656D7E;
  line-height: 29px;
}


.dropdown-menu {
  padding: 10px;
  -webkit-box-shadow: 0 2px 7px rgba(58, 65, 74, 0.25);
          box-shadow: 0 2px 7px rgba(58, 65, 74, 0.25);
  border: 0;
}
.dropdown-menu .dropdown-item {
  padding: 5px 10px;
  font-size: 13px;
  color: #656D7E;
  border-radius: 5px;
  text-transform: capitalize;
}
.dropdown-menu .dropdown-item:active {
  background-color: #e9ecef;
}

.max-height {
  max-height: 450px;
}

.appear {
  -webkit-animation: appear 500ms ease-out forwards;
          animation: appear 500ms ease-out forwards;
}

/**  Tags and skills input  **/
.bootstrap-tagsinput {
  width: 100%;
  background-color: transparent;
  border: 1px solid #dadfe5;
  display: inline-block;
  padding: 8px 10px;
  color: #656D7E;
  vertical-align: middle;
  border-radius: 5px;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 5px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-tagsinput input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.bootstrap-tagsinput input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.bootstrap-tagsinput input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.bootstrap-tagsinput input::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.bootstrap-tagsinput input::placeholder {
  color: #999;
  opacity: 1;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: #656D7E;
}
.bootstrap-tagsinput .tag [data-role=remove] {
  margin-left: 8px;
  cursor: pointer;
  color: #ff4f7f;
}
.bootstrap-tagsinput .tag [data-role=remove]:after {
  content: "×";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role=remove]:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role=remove]:hover:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #656D7E;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #656D7E;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #656D7E;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sidebar-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sidebar-toggle .outer-ring {
  width: 30px;
  height: 18px;
  display: block;
  border: 1px solid #9799a7;
  border-radius: 30px;
  position: relative;
}
.sidebar-toggle .outer-ring .inner-ring {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: 4px;
  border-radius: 30px;
  display: block;
  background-color: #9799a7;
}

.sidebar-toggle.active .outer-ring .inner-ring {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 4px;
}

/* Responsive css sidebar */
@media only screen and (max-width: 1399px) {
  .main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}
@media only screen and (max-width: 991px) {
  .main-content {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .page-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-title .breadcrumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .page-title .breadcrumb ul {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 575px) {
  .main-content {
    width: 100%;
    margin-left: 0px;
  }
  .sb-collapse .main-content {
    width: 100%;
    margin-left: 0px;
  }
}
/** Sidebar css **/
.sb-collapse .gx-team-block-hide {
  display: none;
}
.sb-collapse .sidebar-inner .gx-team-block-hide.menu-item-separator {
  display: none;
}
.sb-collapse .sidebar {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 80px;
  min-height: 100%;
  overflow: inherit;
}
.sb-collapse .sidebar .condense {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sb-collapse .sidebar .sidebar-inner .sidebar-nav .submenu.active .sidebar-dropdown {
  display: none !important;
}
.sb-collapse .sidebar .sidebar-inner .sidebar-nav .menu-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sb-collapse .sidebar .sidebar-inner .sidebar-nav .menu-item > a > i {
  margin-right: 0;
  font-size: 21px;
}
.sb-collapse .sidebar:hover {
  width: 270px;
}
.sb-collapse .sidebar:hover .condense {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .submenu.active .sidebar-dropdown {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .submenu.active .sidebar-dropdown .gx-sb-subdrop {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .menu-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .menu-item > a > i {
  margin-right: 10px;
  font-size: 19px;
}
.sb-collapse .sidebar:hover .sidebar-logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}
.sb-collapse .sidebar:hover .sidebar-logo .sb-full {
  display: block;
}
.sb-collapse .sidebar:hover .sidebar-logo .sb-full img {
  width: 100px;
}
.sb-collapse .sidebar:hover .sidebar-logo .sb-collapse {
  display: none;
}
.sb-collapse .sidebar .sb-full {
  display: none;
}
.sb-collapse .sidebar .sb-collapse {
  display: block;
}
.sb-collapse .sidebar-menu ul li.submenu > a::after {
  display: none;
}
.sidebar {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 270px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}
.sidebar .condense {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .gx-sb-subdrop {
  padding-top: 15px;
}
.sidebar .sb-collapse {
  display: none;
}
.sidebar .sidebar-logo {
  height: 50px;
  padding: 0 24px;
  background-color: #181e28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}
.sidebar .sidebar-logo .sb-full img {
  width: 100px;
}
.sidebar .sidebar-logo .sb-collapse img {
  width: 33px;
}
.sidebar .sidebar-inner {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: calc(100vh - 50px);
  overflow-Y: scroll;
  overflow-x: hidden;
  padding: 24px 15px 24px 24px;
}
.sidebar .sidebar-inner::-webkit-scrollbar {
  position: absolute;
  width: 7px;
}
.sidebar .sidebar-inner::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}
.sidebar .sidebar-inner:hover::-webkit-scrollbar {
  position: absolute;
  width: 7px;
}
.sidebar .sidebar-inner:hover::-webkit-scrollbar-thumb {
  background-color: rgba(80, 93, 113, 0.5);
  border-radius: 5px;
}
.sidebar .sidebar-inner .menu-item-separator {
  width: 100%;
  height: 1px;
  margin: 15px 0;
  padding: 0;
  display: block;
  background-color: #27303e;
}
.sidebar .sidebar-inner .sidebar-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar .sidebar-inner .sidebar-nav li {
  padding: 5px 0;
}
.sidebar .sidebar-inner .sidebar-nav li:last-child {
  padding-bottom: 0;
}
.sidebar .sidebar-inner .sidebar-nav li li {
  padding: 0 0 0 30px;
}
.sidebar .sidebar-inner .sidebar-nav li li i {
  font-size: 12px !important;
}
.sidebar .sidebar-inner .sidebar-nav .sb-subdrop-item.load-sub-active > a {
  color: #fff !important;
}
.sidebar .sidebar-inner .sidebar-nav .sb-subdrop-item {
  padding-left: 25px;
}
.sidebar .sidebar-inner .sidebar-nav .sb-subdrop-item > a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: #aeb8c7 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px !important;
}
.sidebar .sidebar-inner .sidebar-nav .menu-title {
  padding: 15px 0 5px 0;
  text-transform: uppercase;
  color: #485568;
  font-size: 13px;
  font-weight: 600;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item-separator {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  padding: 0;
  display: block;
  background-color: #27303e;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item.home {
  padding: 12px;
  background-color: #27303e;
  border-radius: 5px;
}
.sidebar .sidebar-inner .sidebar-nav .load-active > a .menu-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.sidebar .sidebar-inner .sidebar-nav .load-sub-active > a .menu-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.sidebar .sidebar-inner .sidebar-nav .menu-item {
  position: relative;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  color: #aeb8c7;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a.active {
	color: #C10037;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a:hover {
  color: #fff;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a > .feather-icon svg {
  margin-right: 10px;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a > i {
  margin-right: 10px;
  font-size: 19px;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a .menu-arrow svg {
	width: 18px;
	height: 18px;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item a .menu-arrow {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  font-size: 18px;
}
.sidebar .sidebar-inner .sidebar-nav .menu-item.active > a {
  color: #fff;
}
.sidebar .sidebar-inner .sidebar-nav .sidebar-dropdown {
  padding-top: 5px;
  padding-left: 0;
}
.sidebar .sidebar-inner .sidebar-nav .sidebar-dropdown a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
  color: #9da7b5;
  font-size: 13px;
  font-weight: 500;
}
.sidebar .sidebar-inner .sidebar-nav .sidebar-dropdown a:hover {
  color: #fff;
}
.sidebar .sidebar-inner .sidebar-nav .sidebar-dropdown .active-link {
  color: #fff;
}

[data-mode=light] {
  background-color: #fff;
  overflow: hidden !important;
  border-right: 1px solid #dadfe5;
}
[data-mode=light] .sidebar-logo {
  background-color: #fff;
  border-bottom: 1px solid #dadfe5;
}
[data-mode=light] .sidebar-inner .sidebar-nav .menu-item-separator {
  background-color: #dadfe5;
}
[data-mode=light] .sidebar-inner .sidebar-nav .menu-title {
  color: #27303e;
}
[data-mode=light] .sidebar-inner .sidebar-nav .menu-item.load-active > a {
  color: #C10037 !important;
}
[data-mode=light] .sidebar-inner .sidebar-nav .sidebar-dropdown .active-link {
  color: #232e46 !important;
}
[data-mode=light] .sidebar-inner .sidebar-nav .sidebar-dropdown .active {
  color: #C10037 !important;
}
[data-mode=light] .sidebar-inner .sidebar-nav .sidebar-dropdown a:hover {
  color: #C10037 !important;
}
[data-mode=light] .sidebar-inner .sidebar-nav .menu-item a {
  padding: 10px 0;
  color: #232e46;
}
[data-mode=light] .sidebar-inner .sidebar-nav .menu-item a:hover {
  color: #C10037;
}

[data-mode=dark] {
  background-color: #1d2531;
}
[data-mode=dark] .sidebar-logo {
  background-color: rgba(24, 30, 40, 0.7) !important;
}
[data-mode=dark] .sidebar-inner .sidebar-nav .menu-item.load-active > a {
  color: #fff;
}
[data-mode=dark] .sidebar-inner .sidebar-nav .sidebar-dropdown .active-link {
  color: #fff;
}
[data-mode=dark] .sidebar-inner .sidebar-nav .menu-item a {
  padding: 10px 0;
  color: #9ba2ad;
  font-weight: 500;
}
[data-mode=dark] .sidebar-inner .sidebar-nav .menu-item a:hover {
  color: #fff;
}

/* Responsive css sidebar */
@media only screen and (max-width: 1399px) {
  .sb-default .sidebar {
    width: 250px;
  }
}
@media only screen and (max-width: 991px) {
  .sidebar-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none;
  }
  .sb-default .sidebar {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sb-default .sidebar .sidebar-logo {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .sb-default .sidebar .sidebar-logo .sb-full {
    display: block;
  }
  .sb-default .sidebar .sidebar-logo .sb-collapse {
    display: none;
  }
  .sb-collapse .sidebar {
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
  }
  .sb-collapse .sidebar:hover {
    width: 80px;
  }
  .sb-collapse .sidebar:hover .sidebar-logo .sb-collapse {
    display: block;
  }
  .sb-collapse .sidebar:hover .sidebar-logo .sb-full {
    display: none;
  }
  .sb-collapse .sidebar:hover .sidebar-inner {
    pointer-events: none;
  }
  .sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .menu-item > a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .menu-item > a > i {
    margin-right: 0;
    font-size: 21px;
  }
  .sb-collapse .sidebar .condense {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .sb-default .sidebar-logo {
    height: 60px;
  }
}
@media only screen and (max-width: 575px) {
  .sb-collapse .sidebar {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 270px;
  }
  .sb-collapse .sidebar:hover {
    width: 270px;
  }
  .sb-collapse .sidebar:hover .sidebar-inner {
    pointer-events: initial;
  }
  .sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .menu-item > a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sb-collapse .sidebar:hover .sidebar-inner .sidebar-nav .menu-item > a i {
    margin-right: 10px;
  }
  .sb-collapse .sidebar:hover .sidebar-logo .sb-full {
    display: block !important;
  }
  .sb-collapse .sidebar:hover .sidebar-logo .sb-collapse {
    display: none;
  }
  .sb-collapse .sidebar .sidebar-inner .sidebar-nav .menu-item > a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sb-collapse .sidebar .sidebar-inner .sidebar-nav .menu-item > a i {
    margin-right: 10px;
  }
  .sb-collapse .sidebar .sidebar-logo .sb-full {
    display: block;
  }
  .sb-collapse .sidebar .sidebar-logo .sb-collapse {
    display: none;
  }
  .sb-default .sidebar {
    -webkit-transform: translateX(-270px);
            transform: translateX(-270px);
    width: 270px;
  }
}

/** Header css **/
.sb-collapse .header {
  width: calc(100% - 80px);
  margin-left: 80px;
}

.sb-hide .header {
  width: 100%;
  margin-left: 0;
}

.header, [data-header-mode-tool=light] {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: calc(100% - 270px);
  height: 50px;
  margin-left: 270px;
  padding: 0 12px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 15;
  border-bottom: 1px solid #dadfe5;
}
.header .header-left, [data-header-mode-tool=light] .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-left .left-header, [data-header-mode-tool=light] .header-left .left-header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-left .left-header a, [data-header-mode-tool=light] .header-left .left-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-left .sidebar-toggle.active .outer-ring .inner-ring, [data-header-mode-tool=light] .header-left .sidebar-toggle.active .outer-ring .inner-ring {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 4px;
}
.header .header-left .outer-ring, [data-header-mode-tool=light] .header-left .outer-ring {
  width: 30px;
  height: 18px;
  display: block;
  border: 1px solid #9799a7;
  border-radius: 30px;
  position: relative;
}
.header .header-left .outer-ring .inner-ring, [data-header-mode-tool=light] .header-left .outer-ring .inner-ring {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: 4px;
  border-radius: 30px;
  display: block;
  background-color: #9799a7;
}
.header .right-header, [data-header-mode-tool=light] .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header .btn-topic, [data-header-mode-tool=light] .btn-topic {
  width: 35px;
  height: 35px;
  border: 1px solid #dadfe5;
  border-radius: 5px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .btn-topic i, [data-header-mode-tool=light] .btn-topic i {
  color: #9799a7;
  font-size: 20px;
}

[data-header-mode-tool=dark] {
  background-color: rgba(26, 32, 43, 0.95);
}

[data-header-mode-tool=light] {
  background-color: rgba(255, 255, 255, 0.93);
}

/* Responsive css sidebar */
@media only screen and (max-width: 1399px) {
  .header {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}
@media only screen and (max-width: 1199px) {
  .header .btn-topic {
    width: 35px;
    height: 35px;
    border: 1px solid #dadfe5;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .btn-topic i {
    color: #9799a7;
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .header {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
  .header {
    z-index: 20;
  }
  .header .header-left .outer-ring .inner-ring {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 4px;
    right: auto;
  }
  .header .header-left .sidebar-toggle.active .outer-ring .inner-ring {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    right: 4px;
    left: auto;
  }
}
@media only screen and (max-width: 767px) {
  .header .header-left .left-header {
    height: 60px;
  }
  .header .header-left .right-header .gx-hover-tool img.user {
    width: 30px;
    height: 30px;
  }
  .header .header-left .right-header .gx-hover-tool img.flag {
    width: 18px;
    height: 18px;
  }
  .header .header-left .right-header .gx-user-drop {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .header {
    width: 100%;
    margin-left: 0px;
  }
  .sb-collapse .header {
    width: 100%;
    margin-left: 0px;
  }
}
/** All Cards **/
.card-maximize-close {
  display: none;
}

.card-overlay {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 42;
}

.full-screen {
  width: 100%;
  max-width: 1400px;
  padding: 12px;
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 43;
}
.full-screen .custom-card {
  margin: 0;
  max-height: calc(100vh - 24px);
  overflow: auto;
}
.full-screen .custom-card::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
  position: absolute;
}
.full-screen .custom-card::-webkit-scrollbar-thumb {
  background-color: rgba(80, 93, 113, 0.5);
  border-radius: 5px;
}

.feature-card {
  margin-bottom: 24px;
  padding: 30px 15px;
  background: #f6f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}
.feature-card img {
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}
.feature-card h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #232e46;
}
.demo-card {
  margin-bottom: 24px;
  padding: 30px 15px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  flex: 0 0 100%;
  border: 1px solid #dadfe5;
}
.demo-card:hover {
  background-color: #d3d8db;
}
.demo-card img {
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}
.demo-card h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #232e46;
}

.main-structure.active a i.fa-chevron-up {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.main-structure.active > li {
  display: block;
}

.aside-menu {
  height: calc(100vh - 120px);
  position: sticky;
  top: 94px;
}

.file-customization ul li {
  padding: 10px 0;
  line-height: 28px;
}

pre.language-markup,
pre.language-html,
pre.language-css,
pre.language-js {
  max-height: 450px;
  border-radius: 5px;
}
pre.language-markup::-webkit-scrollbar,
pre.language-html::-webkit-scrollbar,
pre.language-css::-webkit-scrollbar,
pre.language-js::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
  position: absolute;
}
pre.language-markup::-webkit-scrollbar-thumb,
pre.language-html::-webkit-scrollbar-thumb,
pre.language-css::-webkit-scrollbar-thumb,
pre.language-js::-webkit-scrollbar-thumb {
  background-color: rgba(80, 93, 113, 0.5);
  border-radius: 5px;
}

.source li {
  padding: 8px 0;
}

.aside-menu-list ul li a {
  margin-bottom: 10px;
  color: #656D7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside-menu-list ul li a:hover {
  color: #5f6af5;
}
.aside-menu-list ul li a.sub-topic {
  background-color: #fff;
  padding: 10px 15px;
}
.aside-menu-list ul li .active {
  color: #C10037;
}

.tab-content {
  padding-top: 30px;
}

button.nav-link {
  color: #656D7E;
}
button.nav-link:hover {
  color: #656D7E;
}
button.nav-link i {
  margin-right: 5px !important;
}

.main-structure {
  overflow: auto;
}
.main-structure::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
  position: absolute;
}
.main-structure::-webkit-scrollbar-thumb {
  background-color: rgba(80, 93, 113, 0.5);
  border-radius: 5px;
}
.main-structure > li:not(:last-child) {
  margin-bottom: 15px;
}
.main-structure a {
  color: #656D7E;
}
.main-structure ul.active > li {
  display: block;
}
.main-structure i {
  margin-right: 10px;
  font-size: 20px;
  color: #F6BF54;
}
.main-structure i.fa-chevron-up {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-size: 10px;
  color: #656D7E;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-structure ul {
  margin-left: 35px;
  padding-left: 15px;
  border-left: 1px dashed #ddd;
}
.main-structure ul li {
  padding: 10px 0;
  color: #656D7E;
}
.main-structure ul li a {
  color: #656D7E;
}
.main-structure ul li a i {
  margin-right: 10px;
  font-size: 20px;
  color: #F6BF54;
}
.main-structure ul li i {
  margin-right: 10px;
  font-size: 20px;
  color: #F6BF54;
}

.info-title {
  margin-top: 15px;
  margin-bottom: 30px;
}

.gallery-thumb img {
  width: 100%;
  max-width: 800px;
}

.custom-card {
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dadfe5;
}
.custom-card .intro .item-details {
  background: #f6f6f7;
  padding: 24px;
  border-radius: 5px;
}
.custom-card .intro .item-details img {
  border-radius: 5px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #F0F2F3;
  box-shadow: 0 3px 24px rgba(0,0,0,.04);
}
.custom-card .intro .auth-detail li {
  padding: 5px 0;
  list-style-type: none;
  color: #232e46;
}
.custom-card .intro ul li {
  padding: 10px 0;
  line-height: 28px;
}
.custom-card .card-header.tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-card .card-header.tips h4 {
  margin: 0 10px 0 0;
}
.custom-card .card-header.tips p.small {
  margin: 0;
  font-size: 12px;
  color: #999;
}
.custom-card .card-header {
  padding: 24px;
  border-bottom: 1px solid #dadfe5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-card .card-header .card-title {
  margin: 0;
  font-size: 20px;
  color: #232e46;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}
.custom-card .card-header small {
  color: #999;
  font-size: 14px;
}
.custom-card .card-header .header-tools {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.custom-card .card-header .header-tools > a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #656D7E;
  border: 1px solid #dadfe5;
  border-radius: 5px;
}
.custom-card .card-header .header-tools > a i {
  color: #656D7E;
}
.custom-card .card-header .header-tools .button-add {
  width: auto;
  padding: 0 10px;
  background-color: #2bbb93;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom-card .card-header .header-tools .button-add i {
  color: #fff;
}
.custom-card .card-header .header-tools .button-add:hover {
  background-color: #25a984;
}
.custom-card .card-header .header-tools .card-maximize-close i {
  color: #fd6969 !important;
  font-size: 16px;
}
.custom-card .card-header .header-tools .dots {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #656D7E;
  border: 1px solid #dadfe5;
  border-radius: 5px;
  cursor: pointer;
}
.custom-card .card-header .header-tools .link {
  color: #5f6af5;
  font-size: 13px;
}
.custom-card .card-body {
  padding: 24px;
}
.custom-card .card-body .note {
  margin: 15px 0 0 0;
  padding: 10px 15px;
  background-color: rgba(255, 20, 63, 0.07);
  border-radius: 5px;
  color: #ff7891;
  font-weight: 400;
  line-height: 22px;
}
.custom-card .card-body .note i {
  font-size: 18px;
}
.custom-card .card-body .note p {
  margin: 0;
}
.custom-card .label-card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.custom-card .label-card .title .icon {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgba(72, 85, 104, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.custom-card .label-card .title .icon i {
  font-size: 25px;
  color: #485568;
}
.custom-card .label-card .title h4 {
  margin-bottom: 12px;
  color: #656D7E;
  font-size: 15px;
  font-family: "Poppins, sans-serif";
  font-weight: 500;
}
.custom-card .label-card .title .growth-numbers h5 {
  margin: 0;
  color: #485568;
  font-size: 22px;
  line-height: 20px;
  font-weight: 700;
}
.custom-card .label-card .card-groth {
  margin-top: 10px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.custom-card .label-card .card-groth i {
  margin-right: 5px;
  font-size: 15px;
}
.custom-card .label-card .card-groth span {
  margin-left: 5px;
  color: #999;
}
.custom-card .label-card .up {
  color: #2bbb93;
}
.custom-card .label-card .down {
  color: #f90c4c;
}
.custom-card .card-footer {
  padding: 15px;
}

.page-block ul li {
  padding: 10px 0;
}

.nav-tabs .nav-item {
  padding: 0;
}

.thanks {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.thanks img {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
}
.thanks p {
  text-align: center;
}


/* Responsive css */
@media only screen and (max-width: 1366px) {
  .aside-menu-nav li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 991px) {
  .full-screen .custom-card {
    height: calc(100vh - 24px);
    overflow: auto;
  }
}
@media only screen and (max-width: 767px) {
  .custom-card .card-header {
    padding: 15px;
  }
  .custom-card .card-body {
    padding: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .custom-card .card-header .header-tools .date {
    font-size: 11px;
  }
  .custom-card .card-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-tools {
    display: none !important;
  }
}
.section {
	margin-bottom: 3.125rem;
}
.section h2 {
  line-height: 32px;
  font-size: 24px;
}
pre {
	border: 1px solid #eceeef;
}
/*code[class*="language-"], pre[class*="language-"] {
	font-size: 13px;
}*/
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: #f7f7f7;
  border-radius: 3px;
  border-color: #eceeef;
  margin-bottom: 25px;
  word-wrap: normal;
}
.header-tools > a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #656D7E;
  border: 1px solid #dadfe5;
  border-radius: 5px;
}
.custom-card.aside-menu {
	border: 0;
	background: none;
}
.custom-card.aside-menu .card-header {
	padding: 0;
	border: 0;
	margin-bottom: 15px;
}
.custom-card.aside-menu .card-body {
	padding: 0;
}
/* =======================================
	Products
==========================================*/


.single-new {
    background: #fff none repeat scroll 0 0;
	border: 1px solid #dadfe5;
	border-radius: 8px;
    margin: 0px 0 30px;
    -webkit-transition: .4s;
    transition: .4s;
}
.single-new {
    -webkit-transition: auto;
    transition: auto;
}
.single-new:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.product-info {
    padding: 20px;
}
.product-name {
    font-size: 16px;
    margin-bottom: 0;
    overflow: hidden;
    padding-right: 50px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-name a {
    color: #666666;
}
.product-name a:hover {
    color: #673ab7;
}
.product-name span {
    color: #673ab7;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    right: 0;
}
.p-author a {
    color: #9c9c9c;
    font-size: 14px;
}
.btn-primary {
  background-color: #C10037;
  border: 1px solid #C10037;
  color: #fff;
}
.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active {
  background-color: #C10037;
  border-color: #C10037;
  color: #fff;
}
.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  background-color: #C10037;
  border-color: #C10037;
  color: #fff;
}
.single-new {
    width: 30.33%;
    float: left;
    overflow: hidden;
    margin: 0 15px 30px;
    position: relative;
}
.product-list {
    text-align: center;
    margin: 0 0 35px;
}
.product-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product-list li {
    display: inline-block;
	margin-bottom: 15px;
}
.product-list li + li {
	margin-left: 15px;
}
.product-list li a {
	display: inline-block;
	font-weight: 500;
	color: #868686;
	border-radius: 5px;
	font-size: 14px;
	background-color: #f4f5f7;
	color: #646e8a;
	padding: 10px 20px;
	border: 1px solid #edeef3;
	text-transform: uppercase;
}
.product-list li.active a {
  background: rgba(46, 55, 164, 0.1);
  border-color: #C10037;
  color: #C10037;
}

@media (max-width: 991px) {
  .product {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .product {
    padding-bottom: 50px;
  }
}

.product .product-img-tag {
  position: relative;
}
.product .product-img-tag img {
	width: 100%;
}
.product .product-img-tag .badge {
  background: #00a7d5;
  background: -webkit-linear-gradient(left, #00a7d5, #00ded8);
  background: -moz-linear-gradient(left, #00a7d5, #00ded8);
  background: -o-linear-gradient(left, #00a7d5, #00ded8);
  background: -ms-linear-gradient(left, #00a7d5, #00ded8);
  background: -webkit-gradient(linear, left top, right top, from(#00a7d5), to(#00ded8));
  background: linear-gradient(left, #00a7d5, #00ded8);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px 8px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.product .product-img-tag .badge-feature {
  background: #ffad6f;
  background: -webkit-linear-gradient(left, #ffad6f, #ff7d90);
  background: -moz-linear-gradient(left, #ffad6f, #ff7d90);
  background: -o-linear-gradient(left, #ffad6f, #ff7d90);
  background: -ms-linear-gradient(left, #ffad6f, #ff7d90);
  background: -webkit-gradient(linear, left top, right top, from(#ffad6f), to(#ff7d90));
  background: linear-gradient(left, #ffad6f, #ff7d90);
}

.product .product-img-tag .badge-new {
  background: #c968ff;
  background: -webkit-linear-gradient(left, #c968ff, #6168f3);
  background: -moz-linear-gradient(left, #c968ff, #6168f3);
  background: -o-linear-gradient(left, #c968ff, #6168f3);
  background: -ms-linear-gradient(left, #c968ff, #6168f3);
  background: -webkit-gradient(linear, left top, right top, from(#c968ff), to(#6168f3));
  background: linear-gradient(left, #c968ff, #6168f3);
}

.product .product-details-wrap {
  padding: 1.5rem;
}

@media (max-width: 991px) {
  .product .product-details-wrap {
    padding: 30px 20px 25px;
  }
}

.product .product-details h4 {
  font-size: 16px;
}

.product .product-details h4 a {
  color: #232e46;
}

.product .product-details h4 a:hover {
  text-decoration: underline;
}

.product .product-details .author {
  font-size: 14px;
  font-size: 0.875rem;
}

.product .product-details .author a {
  color: #525252;
}

.product .product-details .author a:hover {
  text-decoration: underline;
}

.product .product-details .rating {
  margin-top: 10px;
}

.product .product-details .rating .fi:before {
  font-size: 16px;
  font-size: 1rem;
  color: #fba12c;
}

.product .product-footer {
  padding: 20px 0 0;
  margin-top: 25px;
  border-top: 1px solid #ecebed;
}

.product .product-footer > div {
  display: inline-block;
}

.product .product-footer .live-preview-cart {
  float: right;
  overflow: hidden;
}

.product .product-footer .live-preview-cart > div {
  float: left;
}

.product .product-footer .price h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 767px) {
  .product .product-footer .price h5 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.product .product-footer .live-preview a {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #d7d7d7;
  margin-right: 10px;
}
.product .product-footer .cart a {
  font-size: 14px;
  font-weight: 500;
}
.product .product-footer .cart .fi:before {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #fff;
}
.badge-soft-primary {
  color: #405189;
  background-color: rgba(64, 81, 137, 0.1);
}

.badge-soft-secondary {
  color: #3577f1;
  background-color: rgba(53, 119, 241, 0.1);
}

.badge-soft-success {
  color: #0ab39c;
  background-color: rgba(10, 179, 156, 0.1);
}

.badge-soft-info {
  color: #C10037;
  background-color: rgba(41, 156, 219, 0.1);
}

.badge-soft-warning {
  color: #f7b84b;
  background-color: rgba(247, 184, 75, 0.1);
}

.badge-soft-danger {
  color: #f06548;
  background-color: rgba(240, 101, 72, 0.1);
}

.badge-soft-dark {
  color: #212529;
  background-color: rgba(33, 37, 41, 0.1);
}

.badge-soft-light {
  color: #f3f6f9;
  background-color: rgba(243, 246, 249, 0.1);
}
.btn-topbar {
  height: 42px;
  width: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.btn-topbar {
height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(164, 83, 46, 0.1);
  color: #C10037;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.theme-light {
	display:none;
}
[data-bs-theme=dark] .theme-dark {
	display: none;
}
[data-bs-theme=dark] .theme-light {
	display: block;
}
.header-tools .feather {
	width: 18px;
	height: 18px;
}
.btn-soft-primary {
  color: #C10037;
  background-color: rgba(164, 83, 46, 0.1);
  border-color: rgba(46, 55, 164, 0.1);
}
.btn-soft-primary:hover {
  border-color: #C10037;
  color: #C10037;
}
.btn-soft-secondary {
  color: #262a2e;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.btn-soft-info {
  color: #18DDEF;
  background-color: #edfcfe;
  border-color: #edfcfe;
}
.btn-soft-success {
  color: #00D67F;
  background-color: #ebfcf5;
  border-color: #ebfcf5;
}
.btn-soft-danger {
  color: #FF0000;
  background-color: #ffebeb;
  border-color: #ffebeb;
}
.btn-soft-warning {
  color: #FFC400;
  background-color: #fffaeb;
  border-color: #fffaeb;
}
.btn-soft-light {
  color: #6f6f6f;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.btn-soft-dark {
  color: #262a2e;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.btn-primary {
  color: #fff;
  background-color: #C10037;
  border-color: #C10037;
}
.btn-secondary {
  color: #fff;
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}
.btn-info {
  color: #fff;
  background-color: #18DDEF;
  border-color: #18DDEF;
}
.btn-success {
  color: #fff;
  background-color: #00D67F;
  border-color: #00D67F;
}
.btn-danger {
  color: #fff;
  background-color: #FF0000;
  border-color: #FF0000;
}
.btn-warning {
  color: #fff;
  background-color: #FFC400;
  border-color: #FFC400;
}
.btn-light {
  color: #262a2e;
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.btn-white {
  color: #262a2e;
  background-color: #fff;
  border-color: #dadfe5;
  -webkit-box-shadow: 0 0 10px -3px rgba(24,36,51, 0.04);
          box-shadow: 0 2px 4px 0 rgba(24,36,51, 0.04);
}
.btn-dark {
  color: #fff;
  background-color: #262a2e;
  border-color: #262a2e;
}
.text-primary {
	color: #C10037 !important;
}
.alert-danger {
	background-color: rgba(255, 20, 63, 0.07);
	border-color: rgba(255, 20, 63, 0.07);
	color: #ff7891;
}
.menu-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
.menu-dash span {
  display: inline-block;
  background-color: #ccc;
  border-radius: 50px;
  width: 6px;
  height: 6px;
}
.anchor-link {
  opacity: 0;
  transition: color .25s,opacity .25s;
}
.custom-card h1:hover .anchor-link, .custom-card h1 .anchor-link:focus, .custom-card h2:hover .anchor-link, .custom-card h2 .anchor-link:focus, .custom-card h3:hover .anchor-link, .custom-card h3 .anchor-link:focus, .custom-card h4:hover .anchor-link, .custom-card h4 .anchor-link:focus, .custom-card h5:hover .anchor-link, .custom-card h5 .anchor-link:focus, .custom-card h6:hover .anchor-link, .custom-card h6 .anchor-link:focus {
  opacity: 1;
}
.list-disc {
	padding-left: 15px;
}
.list-disc li {
  list-style-type: disc;
}
.list-numeric {
	padding-left: 15px;
}
.list-numeric li {
  list-style-type: numeric;
}
.section-block  ol li, .section-block  ul li {
  margin-top: 10px;
}
.section-block  ul li ul, .section-block  ul li ol {
  padding-left: 30px;
}
.section-block  ol li ul, .section-block  ol li ol {
  padding-left: 30px;
}
.theme-control-toggle .theme-control-toggle-label {
  height:2rem;
  width:2rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  background-color:rgba(46, 55, 164, 0.1);
  color:#C10037;
  border-radius:50%;
  cursor:pointer;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out
}
.theme-control-toggle .theme-control-toggle-label:hover {
  background-color:rgba(46, 55, 164, 0.1);
  color:#C10037
}
.theme-control-toggle.theme-control-toggle-slim .theme-control-toggle-label {
  padding:0 .5rem;
  height:1rem;
  width:auto;
  border-radius:50rem
}
.theme-control-toggle.theme-control-toggle-slim .theme-control-toggle-label .icon {
  height:10.2px;
  width:10.2px
}
.theme-control-toggle .theme-control-toggle-input {
  display:none;
}
.theme-control-toggle .theme-control-toggle-input:checked~.theme-control-toggle-dark {
  display:none
}
.theme-control-toggle .theme-control-toggle-input:not(:checked)~.theme-control-toggle-light {
  display:none
}
.img-design {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #F0F2F3;
  box-shadow: 0 3px 24px rgba(0,0,0,.04);
}
.header .btn-white:hover {
	color: #C10037;
	border-color: #C10037;
}
.list-decimal{
	margin-left: 15px;
	padding: 0;
}
.list-decimal li + li {
  margin-top: 8px;
}
.custom-list li + li {
  margin-top: 1rem;
}
.bg-gr-1 {
background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.social-icons a {
  background-color: #C10037;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
}
.social-icons a:hover {
  background-color: rgba(46, 55, 164, 0.1);
  color: #C10037;
}
@keyframes moveLeftRight {
	0%{
		left: -20px;
	}
	50%{
		left: -15px;
	}
	100%{
		left: -20px;
	}
}
.sidebar-menu > ul::-webkit-scrollbar {
  width: 5px;
}
.sidebar-menu > ul::-webkit-scrollbar-track {
  background: #F0F2F3;
	border-radius: 25px;
}
.sidebar-menu > ul::-webkit-scrollbar-thumb {
  background: #bbb;
	border-radius: 25px;
}
.sidebar-menu > ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
span.note{
	color: #15558d;
	font-weight: 600;
	background-color: #f2ffde;
	padding: 3px;
	font-size: 13px;
}
.doc-progress {
	position: fixed;
	width: calc(100% - 270px);
	display: block;
	top: 0;
	left: 270px;
	z-index: 99;
	height: 3px;
	background-color: #e4e4e4;
}
.doc-progress-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #C10037;
}
.sidebar-menu ul li.submenu > a::after{
	content: "\f054";
	font-family: FontAwesome;
	font-size: 10px;
	margin-right: 5px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
}
.sidebar-menu ul li a.active::before{
	content: "\f061";
	font-family: FontAwesome;
	font-size: 10px;
	margin-right: 5px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	position: absolute;
	left: -20px;
	animation-name: moveLeftRight;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.sidebar-menu ul li.submenu > a.active::after{
	transform: rotate(90deg);
}
.sidebar-menu ul li a.active,
.sidebar-menu ul li a:hover{
	color: #C10037;
}
.sidebar-menu .sidebar-dropdown {
	height: auto;
	z-index: 100;
	display: none;
}
.sidebar-menu .sidebar-dropdown.active{
	display: block;
}
.pro-thumbnail img {
	width: 35px;
}
.footer-link {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #C10037;
  border-radius: 50px;
  font-size: 16px;
}

@media( max-width: 1200px ){
	.sidebar-menu ul{
		display: block;
	}
}
@media(max-width: 991px){
	.doc-progress {
		width: 100%;
		left: 0;
	}
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: unset;
}
.accordion-item {
	border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  background-color: transparent;
}
.accordion .accordion-item {
  border: none;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  background-color: transparent;
}
.accordion-item:last-of-type {
	margin-bottom: 0;
}
.accordion .accordion-header {
  padding: 0;
  border: none;
  background: none;
}
.accordion .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-radius: 4px;
  position: relative;
    background-color: #f1f2f4;
}
.accordion .accordion-header .accordion-button:hover {
  text-decoration: none;
}
.accordion .accordion-header .accordion-button.collapsed {
  background-color: #f1f2f4;
  color: #4c4d4d;
}
.accordion .accordion-header .accordion-button:not(.collapsed) {
  background-color: #C10037;
  color: #fff;
}
.accordion .accordion-header .accordion-button:after {
  position: absolute;
  content: " ";
  left: 20px;
  top: calc(50% + 2px);
  width: 9px;
  height: 9px;
  border-color: #CCC;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  right: 15px;
  left: auto;
}
.accordion .accordion-header .accordion-button.collapsed:after {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}
.accordion .card-body {
  line-height: 26px;
}
.accordion.arrow-right .accordion-header a {
  padding-left: 1.25rem;
}
.accordion.arrow-right .accordion-header a:before {
  right: 15px;
  left: auto;
}
.accordion.accordion-alternate .card {
  margin: 0;
}
.accordion.accordion-alternate .accordion-header a {
  padding-left: 1.40rem;
  border-top: 1px solid #e4e9ec;
  border-radius: 0px;
}
.accordion.accordion-alternate .card:first-of-type .accordion-header a {
  border-top: 0px;
}
.accordion.accordion-alternate .accordion-header a:before {
  left: 6px;
}
.accordion.accordion-alternate .accordion-header a.collapsed {
  color: #4c4d4d;
}
.accordion.accordion-alternate .card-body {
  padding: 0rem 0 1rem 1.25rem;
}
.accordion.accordion-alternate.arrow-right .accordion-header a {
  padding-left: 0;
}
.accordion.accordion-alternate.arrow-right .accordion-header a:before {
  right: 0px;
  left: auto;
}
.accordion.toggle .accordion-header a:before {
  content: "-";
  border: none;
  font-size: 20px;
  height: auto;
  top: calc(50% + 2px);
  width: auto;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}
.accordion.toggle .accordion-header a.collapsed:before {
  content: "+";
  top: calc(50% - 1px);
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}
.accordion.accordion-alternate.style-2 .accordion-header a {
  padding-left: 0px;
}
.accordion.accordion-alternate.style-2 .accordion-header a:before {
  right: 2px;
  left: auto;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
}
.accordion.accordion-alternate.style-2 .accordion-header a.collapsed:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.accordion.accordion-alternate.style-2 .card-body {
  padding-left: 0px;
}
.accordion.accordion-alternate.popularRoutes .accordion-header .nav {
  margin-top: 3px;
}
.accordion.accordion-alternate.popularRoutes .accordion-header .nav a {
  font-size: 14px;
}
.accordion.accordion-alternate.popularRoutes .accordion-header a {
  padding: 0px 8px 0px 0px;
  border: none;
  font-size: inherit;
}
.accordion.accordion-alternate.popularRoutes .accordion-header a:before {
  content: none;
}
.accordion.accordion-alternate.popularRoutes .accordion-header h5 {
  cursor: pointer;
}
.accordion.accordion-alternate.popularRoutes .accordion-header h5:before {
  position: absolute;
  content: " ";
  right: 0px;
  top: 24px;
  width: 10px;
  height: 10px;
  opacity: 0.6;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.accordion.accordion-alternate.popularRoutes .accordion-header h5.collapsed:before {
  top: 24px;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}
.accordion.accordion-alternate.popularRoutes .card-body {
  padding: 0;
}
.accordion.accordion-alternate.popularRoutes .card {
  border-bottom: 2px solid #e4e9ec;
  padding: 15px 0px;
}
.accordion.accordion-alternate.popularRoutes .routes-list {
  margin: 1rem 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
.accordion.accordion-alternate.popularRoutes .routes-list a {
  color: inherit;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.accordion.accordion-alternate.popularRoutes .routes-list a:hover {
  color: #0071cc;
  text-decoration: underline;
}
.instruction {
  margin-top: 20px;
}

.highlight-box {
	background: #F7F8F8;
	border-radius: 5px;
	padding: 10px;
	overflow-x: auto;
}