<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">
      <!-- Settings Toolbar -->
      <ion-header class="background-size"
      [ngStyle]="{'background-image': 'url(' + headerMenuItem.background + ')'}">
          <ion-item class="transparent ion-text-center" lines="none">
            <ion-label class="ion-text-center">
                <img class="ion-margin-bottom" [src]="headerMenuItem.image">
                <div class="clearfix"></div>
                {{headerMenuItem.title}}
            </ion-label>
          </ion-item>
      </ion-header>
      <!-- Content -->
      <ion-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12" class="ion-no-padding">
              <!-- Menu List -->
              <ion-list class="ion-no-padding">
                <ion-menu-toggle translate auto-hide="false" *ngFor="let p of appPages">
                  <ion-item lines="none" [routerDirection]="'root'" (click)="openPage(p)">
                    <i slot="start" class="icon {{p.icon}} icon-small"></i>
                    <ion-label>
                      <h1 class="text-size-xs">{{p.title}}</h1>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
