<template>
    <!-- Cowork Section -->
		<section class="cowork-section">
		    <div class="container">
				<div class="cowork-sec">
					<div class="row">
						<div class="col-md-8">
							<div class="section-heading heading-four aos" data-aos="fade-up">
								<h2>What Are You interested in?</h2>
								<p>Lorem Ipsum is simply dummy text of the printing</p>
							</div>	
						</div>
						<div class="col-md-4 text-md-end aos" data-aos="fade-up">
							<div class="interset-btn">		
								<router-link to="/service-details" class="btn btn-primary more-btn">View More <i class="feather-arrow-right"></i></router-link>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 aos" data-aos="fade-up" v-for="item in IndexCowork" :key="item.id">
							<div class="cowork-box">
								<router-link to="/service-details">
									<div class="cowork-img">
										<img :src="require(`@/assets/img/${item.img}`)" class="img-fluid" alt="img">
									</div>
								</router-link>
								<div class="cowork-info">
									<h5><router-link to="/service-details">{{ item.title }}</router-link></h5>
								</div> 
							</div> 
						</div>
					</div>			   
				</div>			   
			</div>		
		</section>		
		<!-- /Cowork Section -->
		
</template>

<script>
import { Carousel, Pagination, Navigation, Slide } from "vue3-carousel";
import IndexCowork from '@/assets/json/indexCowork.json';
    export default {
        data() {
            return {
                IndexCowork: IndexCowork,
				settings: {
				itemsToShow: 1,
				snapAlign: "center"
			},
		
			breakpoints: {
				// 700px and up
				700: {
					itemsToShow: 3,
					snapAlign: "center"
				},
				// 1024 and up
				1024: {
					itemsToShow: 5,
					snapAlign: "start"
				}
			},
            };
        },
		components: {
			Carousel,
			Slide,
			Pagination,
			Navigation,
		},
    }
</script>