<ion-grid class="ion-no-padding" *ngIf="viewEntered">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-slides #wizardSlider pager="true" *ngIf="data != null"
          (ionSlideDidChange)="ionSlideDidChange($event)"
          (ionSlideReachStart)="ionSlideReachStart($event)"
          (ionSlideReachEnd)="ionSlideReachEnd($event)">
            <ion-slide *ngFor="let item of data.items;">
            <div class="background-size"
            [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}"></div>
            </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-no-margin no-box-shadow">
          <ion-card-header>
            <h1 class="text-size-lg ion-text-wrap">{{data.title}}</h1>
          </ion-card-header>
          <ion-card-content>
            <p class="text-size-p">{{data.description1}}</p>
            <ion-img class="ion-margin-top ion-margin-bottom border-radius"
             [src]="data.image" alt=""></ion-img>
            <p class="text-size-p">{{data.description2}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
