<!--Themes Time Line - Timeline With Cards  -->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="11" offset="1">
      <ion-card
      *ngFor="let item of data.items; let i= index"
      (click)="onItemClickFunc(item, $event)">
        <ion-item lines="none" class="transparent">
          <ion-label>
            <span class="text-size-sm">{{item.time}}</span>
            <h2 class="text-size-md">{{item.title}}</h2>
          </ion-label>
        </ion-item>
        <ion-img [src]="item.image"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
