<!-- Theme Image Sub-Gallery for Category 1 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="6" size-md="4" *ngFor="let item of data.items;let i = index">
      <ion-card class="ion-no-margin background-size ion-no-padding"
        [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
        (click)="onItemClickFunc(item, i, $event)">
        <!-- Card Content -->
        <ion-card-content class="transparent ion-no-padding">
          <ion-item class="transparent" lines="none">
            <ion-label class="ion-float-left">
              <h2 class="text-size-lg">{{item.title}}</h2>
            </ion-label>
            <i class="icon icon-small" slot="end"
            (click)="onFavoriteFunc(item, $event)"
              [ngClass]="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}">
            </i>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
