/* Style component 3
========================================================*/

ion-list-header {
  &.background-size {
    height: 160px;
    position: relative;

    ion-label {
      width: 100%;
      // Settings Title header
      &.text-size-xs {
        color: var(--cs-text-secondary);
      }
    }
  }
}

/* SETTINGS ACCORDIAN "OPEN" */

.item-accordion {
  max-height: 0;
  display: block !important;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  overflow: hidden;
  background: var(--cs-gradient-linear);

  ion-item {
    .text-size-xs {
      color: var(--cs-text-primary);
    }
  }

  &.active {
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: visible;
    max-height: 999px;
  }
}
