.innerbanner {
	&::after {
		content: "";
		background: linear-gradient(0deg, $__black__dark 16.31%, rgba(0, 0, 0, 0) 100%);
		position: $__absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.blogbanner-img {
		img {
			min-height: 250px;
		}
	}
	.breadcrumb-title {
		font-weight: $__semibold;
		color: $__white;
	}
	.breadcrumb {
		@extend %justify-content-center;
		margin: 0;
		li {
			a {
				color: $__white;
			}
		}
		.breadcrumb-item  {
			&::before {
				color: $__white;
			}
		}
		.breadcrumb-item.active {
			color: $__white;
		}
	}
}
.aboutbanner {
	position: $__relative;
	background: url("../img/banner/aboutbanner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: $__center;
	@include margin-padding(null, 170px 0 90px);
	overflow: $__hidden;
	z-index: 1;
	@include respond-below(custom991) {
		@include margin-padding(null, 140px 0 60px);
	}
	@include respond-below(custom767) {
		@include margin-padding(null, 120px 0 60px);
	}
}
.about-content {
	@include margin-padding(null, 70px 0px);
	background: $__light__blue;
	@include respond-below(custom991) {
		@include margin-padding(null, 60px 0px);
	}
}
.about-listee {
	position: $__relative;
	@extend %display-flex;
	@include respond-below(custom1199) { 
		flex-direction: column;
	}
}
.about-img {
	width: 100%;
	@include respond-below(custom1199) { 
		width: auto;
    	text-align: $__center;
	}
	img {
		border-radius: 20px;
	}
}
.about-info {
	width: 50%;
	position: $__absolute;
	right: 78px;
	background: $__white;
	@include margin-padding(null, 30px 30px);
	border-radius: 10px;
	top: 50%;
	transform: translateY(-50%);
	@include respond-below(custom1199) {
		@include margin-padding(25px 0 0, 20px);
		position: $__static;
		width: auto;
		transform: none;
    }
	p {
		color: $__smoke__light;
		line-height: 27px;
		@include margin-padding(0 0 30px, null);
		&:last-child {
			margin: 0;
		}
	}
	h4 {
		color: $__dark__eclipse;
		font-size: $__font__size__36;
		font-weight: $__bold;
		@include margin-padding(0 0 30px, null);
		@include respond-below(custom1199) {
			@include margin-padding(0 0 20px, null);
			font-size: $__font__size__32;
		}
		@include respond-below(custom767) {
			@include margin-padding(0 0 15px, null);
			font-size: $__font__size__28;
		}
		span {
			color: $__primarycolor;
		}
	}
}
.howitworks {
	background: $__light__blue;
	text-align: $__center;
	h3 {
		color: $__primarycolor;
		font-size: $__font__size__36;
		font-weight: $__bold;
		@include margin-padding(0 0 40px, null);
		@include respond-below(custom991) {
			@include margin-padding(0 0 30px, null);
			font-size: $__font__size__32;
		}
		@include respond-below(custom767) {
			@include margin-padding(0 0 15px, null);
			font-size: $__font__size__28;
		}
	}
	p {
		color: $__smoke__light;
		line-height: 27px;
		@include margin-padding(0 0 20px, null);
	}
	.howitwork-info {
		p {
			margin: 0;
		}
	}
}
.howitwork-info {
	text-align: $__left;
	border: 1px solid $__pantone;
	border-radius: 10px;
	@include margin-padding(30px 0 0, 20px);
	@include transition(0.7s);
	h5 {
		font-size: 60px;
		font-weight: $__extra__bold;
		color: $__secondarycolor;
		@include transition(0.7s);
		position: $__relative;
		@extend %display-flex-center;
		@include margin-padding(0 0 25px 0, null);
		@include respond-below(custom991) {
			font-size: $__font__size__50;
			@include margin-padding(0 0 20px 0, null);
		}
		@include respond-below(custom767) {
			font-size: $__font__size__40;
		}
		&:after {
			content: "";
			border-top: 4px solid $__secondarycolor;
			display: $__inline__block;
			width: calc(100% - 110px);
			position: $__absolute;
			top: 35px;
			left: 79px;
			@include respond-below(custom991) {
				top: 30px;
			}
			@include respond-below(custom767) {
				top: 25px;
			}
		}
		&:before {
			content: "";
			border: 5px solid $__secondarycolor;
			display: $__inline__block;
			width: 20px;
			position: $__absolute;
			right: 12px;
			height: 20px;
			background: transparent;
			color: $__white;
			border-radius: 50px;
			top: auto;
		}
	}
	h6 {
		font-size: $__font__size__24;
		font-weight: $__extra__bold;
		@include margin-padding(0 0 25px, null);
		@include respond-below(custom991) {
			font-size: $__font__size__20;
			@include margin-padding(0 0 20px, null);
		}
	}
	&:hover {
		h5 {
			&:after {
				border-top: 4px solid $__primarycolor;
			}
			&:before {
				border: 5px solid $__primarycolor;
			}
			color: $__primarycolor;
		}
		background: $__white;
		box-shadow: 3px 5px 13px rgba(222, 226, 231, 0.44);
		h6 {
			color: $__primarycolor;
		}
	}
}
.aboutpopular-locations {	
	background: $__light__blue;
	@include margin-padding(null, 70px 0 46px);
	.section-heading {
		h2 {
			font-size: $__font__size__28;
		}
	}
}
.about-locations {
	p {
		color: $__smoke__light;
	}
}
.aboutlocation-details {
	position: $__relative;
	overflow: $__hidden;
	border-radius: 10px;
	height: 240px;
	@include transition(0.5s);
	@include margin-padding(0 0 24px, null);
	a {
		height: 100%;
		border-radius: 10px;
		position: $__absolute;
		overflow: $__hidden;
		z-index: 1;
		left: 0px;
		bottom: 0px;
		width: 100%;
		color: $__white;
		@include transition(0.5s);
		display: $__block;
	}
	&:after {
		content: "";
		background: linear-gradient(0deg, $__black__dark 16.31%, rgba(0, 0, 0, 0) 100%);
		position: $__absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
	.aboutloc-img {
		img {
			@include transition(0.5s);
			@include respond-below(custom767) {
				width: $__full__width;
			}
		}
	}
	h3 {
		font-size: $__font__size__20;
		color: $__white;
		font-weight: $__bold;
		@include transition(0.5s);
		@include respond-below(custom991) {
			font-size: $__font__size__18;
		}
		&:hover {
			color: $__primarycolor;
		}
	}
	span {
		font-size: $__font__size__14;
	}
}
.aboutlocations-info {
	position: $__absolute;
	bottom: 30px;
	left: 30px;
	color: $__white;
}
.australi-loc {
	img {
		min-height: 130px;
	}
}

.home-six-trending-search .trending-carousel .carousel ol li .trending-slider-item{
	margin-right: 14px;
}
.choose-car-class-section .carousel ol li .car-class-item-block{
	margin-right: 24px;
}
.browse-by-brand .carousel ol li a{
	margin-right: 15px;
}
.testimonial-section-eight .carousel .testi-widget-eight .test-details{
	margin-top: 40px;
}
.testimonials-slidersection .carousel .carousel__slide.carousel__slide{
	margin-right: 24px;
	width: 636.005px !important;
}
.blog-section-two .carousel .carousel__slide.carousel__slide{
	margin-right: 24px;
	width: 356px !important;
}
.recommended-blk.style1-blk .carousel .carousel__slide.carousel__slide{
	margin-right: 24px;

}
.section-blk.testi-blk .testi-carousel .carousel .carousel__slide.carousel__slide{
	margin-right: 24px;
	width: 356px !important;
}

.business-section .carousel .carousel__slide.carousel__slide{
	margin-right: 24px;

}
.testimonial-section-seven .carousel .testi-widget-seven .test-details{
	margin-top: 40px;
}
.stickysidebar {
	position: sticky;
	top: 0;
  }
  .select2.select2-container.select2-container--default {
	width: 100%!important;
  }
  .testimonials-section .owl-carousel .testimonial-info .testi-img img{
	border-radius: 50px;
	width: 86px;
	height: 86px;
	border: 3px solid rgba(62, 102, 223, 0.3);
}
.owl-carousel .carousel__slide img {
	display: block;
	width: 100%;
  }
  .testimonial-section-seven li.carousel__slide.carousel__slide{
	width: 416.003px !important;
	margin-right: 24px;
  }
  /* .testimonial-section-seven li.carousel__slide.carousel__slide--visible.carousel__slide--active{
	width: 416.003px !important;
	margin-right: 24px;
  }
  .testimonial-section-seven li.carousel__slide.carousel__slide--visible.carousel__slide--next{
	width: 416.003px !important;
	margin-right: 24px;
  } */
  .testimonial-section-eight li.carousel__slide.carousel__slide{
	width: 416.003px !important;
	margin-right: 24px;
  }
  /* .testimonial-section-eight li.carousel__slide.carousel__slide--visible.carousel__slide--active{
	width: 416.003px !important;
	margin-right: 24px;
  }
  .testimonial-section-eight li.carousel__slide.carousel__slide--visible.carousel__slide--next{
	width: 416.003px !important;
	margin-right: 24px;
  } */
  .property-articles li.carousel__slide.carousel__slide{
	width: 416.003px !important;
	margin-right: 24px;
  }
  /* .property-articles li.carousel__slide.carousel__slide--visible.carousel__slide--active{
	width: 416.003px !important;
	margin-right: 24px;
  }
  .property-articles li.carousel__slide.carousel__slide--visible.carousel__slide--next{
	width: 416.003px !important;
	margin-right: 24px;
  } */
  .property-testimonial li.carousel__slide.carousel__slide{
	width: 416.003px !important;
	margin-right: 24px;
  }
  /* .property-testimonial li.carousel__slide.carousel__slide--visible.carousel__slide--active{
	width: 416.003px !important;
	margin-right: 24px;
  }
  .property-testimonial li.carousel__slide.carousel__slide--visible.carousel__slide--next{
	width: 416.003px !important;
	margin-right: 24px;
  } */
  .property-for-rent li.carousel__slide.carousel__slide{
	width: 636.005px !important;
	margin-right: 24px;
  }
  .featured-listing-section li.carousel__slide.carousel__slide{
	width: 418.67px !important;
	margin-right: 20px;
  }
  .perfect-holiday-cabin-section li.carousel__slide.carousel__slide{
	width: 1498.89px !important;
	float: left;
  }
  .featured-listing-section .carousel__track{
	transform: translate3d(-1316px, 0px, 0px);
	  transition: all 0s ease 0s;
	  width: 4826px !important;
  }
  .perfect-holiday-cabin-section .carousel__prev{
	width: 48px;
	height: 48px;
	background: #ffffff;
	box-shadow: 0px 4px 14px rgba(192, 192, 192, 0.25);
	border-radius: 10px;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
  }
  .perfect-holiday-cabin-section .carousel__next{
	width: 48px;
	height: 48px;
	background: #ffffff;
	box-shadow: 0px 4px 14px rgba(192, 192, 192, 0.25);
	border-radius: 10px;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
  }
  .perfect-holiday-cabin-section svg.carousel__icon svg.carousel__prev {
	position: absolute !important;
	bottom: 188px !important;
	left: 125px !important;
  }
  .perfect-holiday-cabin-section .carousel__prev:hover, .perfect-holiday-cabin-section .carousel__next:hover {
	  background: #c10037;
	  color: #ffffff;
  }
  .testimonial-section-eight .owl-dots {
	margin: 26px 0 0;
  }
	
  /*# sourceMappingURL=style.css.map */
  .featured-section .featured-slider .carousel .carousel__prev {
	left: 0;
	top: -30px;
	padding: 2px;
  }
  .featured-section .featured-slider .carousel .carousel__next{
	top: -30px;
	padding: 2px;
  }
  .testimonials-slidersection .carousel .carousel__prev{
	position: absolute;
	top: -15px;
	right: 60px;
	left: unset;
	background: #FFFFFF;
	border-radius: 6px;
	padding: 5px;
	color: #8b8686;
  }
  .featured-section li.carousel__slide.carousel__slide--clone{
	width: 306.002px !important;
	margin-right: 24px;
  }
  .featured-section li.carousel__slide.carousel__slide--visible.carousel__slide--active{
	width: 306.002px !important;
  }
  .featured-section li.carousel__slide.carousel__slide--visible.carousel__slide--next{
	width: 306.002px !important;
  }
  .testimonials-slidersection .carousel .carousel__prev:hover{
	background-color: #c10037;
	color: #FFFFFF;
  }
  .testimonials-slidersection .carousel .carousel__viewport .carousel__slide .testimonial-info .testimonialslider-content P{
	text-align: left;
  }
  .testimonials-slidersection .carousel .carousel__next{
	position: absolute;
	top: -15px;
	right: 10px;
	left: unset;
	background: #FFFFFF;
	border-radius: 6px;
	padding: 5px;
	color: #8b8686;
  }
  .testimonials-slidersection .carousel .carousel__next:hover{
	background-color: #c10037;
	color: #FFFFFF;
  }
  .partners-section .partnerlist .carousel__viewport .carousel__track li{
  max-width: "100%"
  }
  .partners-section .carousel .carousel__viewport .carousel__track .carousel__slide .carousel__item{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
  }
  .partners-section .carousel .carousel__prev{    
	display: none;
  }
  .partners-section .carousel .carousel__next{    
	display: none;
  }
  .featured-section .featured-slider .carousel .carousel__prev{
	position: absolute;
	top: -60px;
	left: unset;
	right: 60px;
	background: #FFFFFF;
	border: 1px solid #cfcccc;
	box-shadow: 0px 8px 18px -8px rgb(19 16 34 / 15%);
	border-radius: 10px;
	padding: 5px;
	color: #8b8686;
  }
  /* .testimonial-section-seven .carousel .carousel__prev{
	position: absolute;
	  top: 50%;
	  right: 15px;
	  margin: 0;
	  -webkit-transform: translate(-50%, 50%);
	  -ms-transform: translate(-50%, 50%);
	  transform: translate(-50%, 50%);
	  border: 1px solid #dee2e7;
	  border-radius: 10px;
	  color: #7f7f7f;
	  background: #ffffff;
	  width: 44px;
	  height: 44px;
  } */
  .testimonial-section-eight .carousel .carousel__prev{
	position: absolute;
	  top: 50%;
	  right: 15px;
	  margin: 0;
	  -webkit-transform: translate(-50%, 50%);
	  -ms-transform: translate(-50%, 50%);
	  transform: translate(-50%, 50%);
	  border: 1px solid #dee2e7;
	  border-radius: 10px;
	  color: #7f7f7f;
	  background: #ffffff;
	  width: 44px;
	  height: 44px;
  }
  /* .testimonial-section-seven .carousel .carousel__next{
	position: absolute;
	  top: 50%;
	  right: 15px;
	  margin: 0;
	  -webkit-transform: translate(-50%, 50%);
	  -ms-transform: translate(-50%, 50%);
	  transform: translate(-50%, 50%);
	  border: 1px solid #dee2e7;
	  border-radius: 10px;
	  color: #7f7f7f;
	  background: #ffffff;
	  width: 44px;
	  height: 44px;
  } */
  .testimonial-section-eight .carousel .carousel__next{
	position: absolute;
	  top: 50%;
	  right: 15px;
	  margin: 0;
	  -webkit-transform: translate(-50%, 50%);
	  -ms-transform: translate(-50%, 50%);
	  transform: translate(-50%, 50%);
	  border: 1px solid #dee2e7;
	  border-radius: 10px;
	  color: #7f7f7f;
	  background: #ffffff;
	  width: 44px;
	  height: 44px;
  }
  .trending-carousel .owl-dots, .car-class-carousel .owl-dots {
	margin: 30px 0 0;
  }
  .carousel__prev{
	margin: 0 12px 0 0;
	  border: 1px solid #dee2e7;
	  border-radius: 10px;
	  color: #7f7f7f;
	  background: #ffffff;
	  width: 44px;
	  height: 44px;
	  -webkit-transition: 0.7s;
	  -ms-transition: 0.7s;
	  transition: 0.7s;
  }
  .carousel__next{
	margin: 0 12px 0 0;
	border: 1px solid #dee2e7;
	border-radius: 10px;
	color: #7f7f7f;
	background: #ffffff;
	width: 44px;
	height: 44px;
	-webkit-transition: 0.7s;
	-ms-transition: 0.7s;
	transition: 0.7s;
	margin-right: 0;
  }
  .home-six-trending-search .carousel__next{
	margin: 0 12px 0 0;
	border: 1px solid #dee2e7;
	border-radius: 10px;
	color: #7f7f7f;
	background: #ffffff;
	width: 44px;
	height: 44px;
	-webkit-transition: 0.7s;
	-ms-transition: 0.7s;
	transition: 0.7s;
	margin-right: 0;
  }
  .owl-dots {
	text-align: center;
  }
  .featured-section .featured-slider .carousel .carousel__prev:hover{
	background-color: #c10037;
	color: #FFFFFF;
  }
  .featured-section .featured-slider .carousel .carousel__next{
	position: absolute;
	top: -60px;
	right: 10px;
	background: #FFFFFF;
	border: 1px solid #cfcccc;
	box-shadow: 0px 8px 18px -8px rgb(19 16 34 / 15%);
	border-radius: 10px;
	padding: 5px;
	color: #8b8686;
  }
  .featured-section .featured-slider .carousel .carousel__next:hover{
	background-color: #c10037;
	color: #FFFFFF;
  }
  .stickysidebar {
	position: sticky;
	top: 0;
  }
  .card-body.roundskin-slider{
	padding: 25px 0;
  }

  .cate-section .cate-sec .carousel .carousel__prev{
	position: absolute;
	top: -112px;
	left: unset;
	right: 220px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #DEE2E7;
	padding: 5px;
  }
  .cate-section .cate-sec .carousel .carousel__next{
	position: absolute;
	top: -112px;
	right: 170px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #DEE2E7;
	padding: 5px;
  }
  .cate-section .cate-sec .carousel .carousel__prev .carousel__icon{
	color: #959191;
  }
  .cate-section .cate-sec .carousel .carousel__next .carousel__icon{
	color: #959191;
  }
  .cat-slider-print .item {
	width: -webkit-fill-available;
	margin-right: 24px
  }
  .testimonial-section .carousel .carousel__viewport .carousel__slide .rating{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  }
  .testimonial-section .carousel .carousel__viewport .carousel__slide h6{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  }
  .testimonial-section .carousel .carousel__viewport .carousel__slide p{
	text-align: left;
  }
  .testimonial-section .carousel .carousel__prev{
	position: absolute;
	top: -100px;
	left: unset;
	right: 60px;
	background: #fff;
	border: 1px solid #b1adad;
	border-radius: 10px;
	padding: 2px;
  }
  .testimonial-section .carousel .carousel__next{
	position: absolute;
	top: -100px;
	right: 10px;
	background: #fff;
	border: 1px solid #b1adad;
	border-radius: 10px;
	padding: 2px;
  }
  .testimonial-section .carousel .carousel__next .carousel__icon{
	color: gray;
  }
  .testimonial-section .carousel .carousel__prev .carousel__icon{
	color: gray;
  }
  .testimonial-section .carousel .carousel__viewport{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  }
  /* .popular-section .carousel .carousel__viewport .carousel__track{
  gap: 10px;
  } */
  .venue-section .carousel .carousel__viewport .carousel__slide .venue-item .venue-content h3{
  text-align: left;
  }
  .feedback-section .carousel .carousel__viewport .carousel__slide .testimonial-item .testimonial-user p{
  text-align: left;
  }
  .blog-section-two .carousel .carousel__viewport .carousel__slide .blog .blog-content h3{
  text-align: left;
  }
  .blog-section-two .carousel .carousel__viewport .carousel__slide .blog .blog-content .blog-description{
  text-align: left;
  }
  .recommended-blk .carousel__slide {
	display: block !important;
	/* margin-right: 18px; */
	/* max-width: 261px !important; */
  }
  .recommended-blk .recommended-carousel .carousel__viewport .carousel__track .carousel__slide .recommended-widget{
  margin-bottom: 0;
  }
  .recommended-carousel .carousel__viewport .carousel__track .carousel__slide .content-blk{
  text-align: left;
  }
  .popular-section .owl-carousel .carousel .carousel__prev path{
	display: none;
  }
  .popular-section .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .celebrate-section .owl-carousel .carousel .carousel__prev{
	position: absolute;
	top: auto;
	left: 48%;
	background: #374b5c;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .celebrate-section .owl-carousel .carousel .carousel__prev path{
	display: none;
  }
  .celebrate-section .owl-carousel .carousel .carousel__next{
	position: absolute;
	top: auto;
	right: 48%;
	background: #c10037;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .celebrate-section .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .venue-section .owl-carousel .carousel .carousel__prev{
	position: absolute;
	top: auto;
	left: 48%;
	background: #374b5c;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .venue-section .owl-carousel .carousel .carousel__prev path {
	display: none;
  }
  .venue-section .owl-carousel .carousel .carousel__next{
	position: absolute;
	top: auto;
	right: 48%;
	background: #c10037;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .venue-section .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .portfolio-section .owl-carousel .carousel .carousel__prev{
	position: absolute;
	top: auto;
	left: 48%;
	background: #374b5c;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .portfolio-section .owl-carousel .carousel .carousel__prev path{
	display: none;
  }
  .portfolio-section .owl-carousel .carousel .carousel__next{
	position: absolute;
	top: auto;
	right: 48%;
	background: #c10037;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .portfolio-section .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .feedback-section .owl-carousel .carousel .carousel__prev{
	position: absolute;
	top: auto;
	left: 48%;
	background: #c10037;
	border-radius: 20px;
	width: 10px;
	height: 10px;
  }
  .feedback-section .owl-carousel .carousel .carousel__prev path{
	display: none;
  }
  .feedback-section .owl-carousel .carousel .carousel__next{
	position: absolute;
	top: auto;
	right: 48%;
	background: #374b5c;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .feedback-section .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .blog-section-two .owl-carousel .carousel .carousel__next{
	position: absolute;
	top: auto;
	right: 48%;
	background: #374b5c;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .blog-section-two .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .blog-section-two .owl-carousel .carousel .carousel__prev{
	position: absolute;
	top: auto;
	left: 48%;
	background: #c10037;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .blog-section-two .owl-carousel .carousel .carousel__prev path{
	display: none;
  }
  .dashboard-info .vue-apexcharts .apexcharts-menu-icon{
  display: none;
  }
  .business-section .owl-carousel .carousel .carousel__viewport .carousel__slide .blog-widget .blogfeaturelink{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .business-section .owl-carousel .carousel .carousel__viewport .carousel__slide .blog-widget h6{
	text-align: left;
  }
  .business-section .owl-carousel .carousel .carousel__prev{
	position: absolute;
	left: -55px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 4px 14px rgb(141 141 141 / 25%);
  }
  .business-section .owl-carousel .carousel .carousel__prev:hover{
	background-color: #c10037;
	color: #fff;
  }
  .business-section .owl-carousel .carousel .carousel__next{
	position: absolute;
	right: -55px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 4px 14px rgb(141 141 141 / 25%);
  }
  .business-section .owl-carousel .carousel .carousel__next:hover{
	background-color: #c10037;
	color: #fff;
  }
  .section-blk .testim-slider .carousel .carousel__prev{
	left: 48%;
	position: absolute;
	top: 350px;
	background: #374b5c;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk .testim-slider .carousel .carousel__prev path {
	display: none;
  }
  .section-blk .testim-slider .carousel .carousel__next{
	position: absolute;
	top: 350px;
	right: 48%;
	background: #c10037;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk .testim-slider .carousel .carousel__next path{
	display: none;
  }
  .section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__prev{
	left: 48%;
	position: absolute;
	top: 520px;
	background: #374b5c;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__prev path{
	display: none;
  }
  .section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__next{
	position: absolute;
	top: 520px;
	right: 48%;
	background: #c10037;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__next path{
	display: none;
  }
  .section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__prev{
	left: 48%;
	position: absolute;
	top: 490px;
	background: #374b5c;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__prev path{
	display: none;
  }
  .section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__next{
	position: absolute;
	top: 490px;
	right: 48%;
	background: #c10037;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__next path{
	display: none;
  }
  .banner-seven .home-banner .search-box .form-control{
	  padding: 0 !important;
  }
  .section-blk.blog-block .testim-slider .carousel .carousel__next{
	position: absolute;
	top: 550px;
	right: 48%;
	background: #c10037;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .section-blk.blog-block .testim-slider .carousel .carousel__prev{
	left: 48%;
	position: absolute;
	top: 550px;
	background: #374b5c;
	height: 10px;
	width: 10px;
	border-radius: 20px;
  }
  .style2-blk .recommended-carousel .recommended-slider .carousel .carousel__prev{
  display: none;
  }
  .style2-blk .recommended-carousel .recommended-slider .carousel .carousel__next{
  display: none;
  }
  .blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__prev{
	position: absolute;
	top: 380px;
	background: #374b5c;
	height: 10px;
	max-width: 10px;
	border-radius: 15px;
	left: 48%;
  }
  .blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__prev path{
	display: none;
  }
  .blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__next{
	position: absolute;
	top: 380px;
	background: #c10037;
	height: 10px;
	max-width: 10px;
	border-radius: 15px;
	right: 48%;
  }
  .blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__next path{
	display: none;
  }
  .section-blk.blog-blk .card-body{
  padding-bottom: 60px;
  }
  .section-blk.recommended-blk .recommended-tabs-blk .tabs-style li{
  display: contents;
  }
  .section-blk.blog-blk .recommended-tabs-blk .tabs-style li{
  display: contents;
  }
  .ant-table-thead > tr > th {
	background: #c10037;
	color: #fff;
  }
  .ant-table-thead th.ant-table-column-has-sorters:hover {
	background: #c10037;
	color: #fff;
  }
  .ant-table-thead th.ant-table-column-sort {
	background: #c10037;
	color: #fff;
  }
  td.ant-table-column-sort {
	background: unset;
  }
  .ant-table-column-sorter-up.active, .ant-table-column-sorter-down.active {
	color: #ffffff;
  }
  .ant-tooltip {
	display: none;
  }
  .ant-pagination.ant-table-pagination.ant-table-pagination-right{
	display: none;
  }
  .testimonial-section .owl-carousel .carousel .carousel__viewport ol{
  gap: 10px;
  }
  .style1-blk .recommended-carousel .carousel .carousel__viewport ol{
  left: 3%;
  }
  .style2-blk .recommended-carousel .carousel .carousel__viewport ol{
  left: 43%;
  }
  .section-blk.testi-blk .testi-carousel .carousel .carousel__viewport ol{
  left: 1%;
  }
  .appointment-section .select2-container--default .select2-selection--single .select2-selection__placeholder{
	color: #000 !important;
  }
  .footercount .selection-list .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #fff;
	font-size: 14px;
  }
  .footercount .select2-container--default .select2-selection--single .select2-selection__placeholder{
	color: #fff !important;
  }
  .section-blk.blog-block .testim-slider .carousel .carousel__viewport ol{
  left: 2%;
  }
  .list-content .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #999 !important;
  }
  .details-description .rate-details h2{
  margin-bottom: 8px;
  }
  .select2-container--default .select2-search--dropdown .select2-search__field{
	display: none;
  }
  .footer-three .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #000;
  }
  .select2-dropdown {
	z-index: 99999;
  }
  /*-----------------
  34. Responsive
  -----------------------*/
  @media (min-width: 992px) {
	/* #app{
		overflow-x: hidden;
	} */
	.main-nav > li {
	margin-right: 30px;
  }
  .main-nav > li:last-child {
	margin-right: 0;
  }
  .main-nav li {
	display: block;
	position: relative;
  }
  .main-nav > li > a {
	line-height: 85px;		
  }
  .header-two .main-nav > li > a {
	line-height: 68px;		
  }
  .header-three .main-nav > li > a {
	line-height: 60px;	
		color: #D5D5D5;
	  
  }
  .header-three.fixed .main-nav > li > a {
	line-height: 60px;	
	color: #374B5C;		
  }
  .header-four .main-nav > li > a {
	line-height: 60px;	
		color: #D5D5D5;
	  
  }
  .header-four.fixed .main-nav > li > a {
	line-height: 60px;	
	color: #374B5C;		
  }
  .main-nav > li > a > i {
	font-size: 12px;
	margin-left: 3px;
  }
  .main-nav li > ul {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 3px  rgba(0, 0, 0, 0.1);
	display: block;
	font-size: 14px;
	margin: 0;
	min-width: 200px;
	opacity: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	top: 100%;
	visibility: hidden;
	z-index: 1000;
  }
  .main-nav li.has-submenu:hover > .submenu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }
  .main-nav .has-submenu.active > a {
	color: #C10037;
  }
  .header-three .main-nav .has-submenu.active > a {
	color: #fff;
  }
  .header-three.fixed .main-nav .has-submenu.active > a {
	color: #C10037;
  }
  .main-nav .has-submenu.active .submenu li.active > a {
	color: #C10037;
  }
  .main-nav > li .submenu li:first-child a {
	border-top: 0;
  }
  .main-nav > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
	visibility: visible;
	opacity: 1;
	margin-top: -1px;
	margin-right: 0;
  }
  .main-nav > li .submenu > li .submenu {
	left: 100%;
	top: 0;
	margin-top: 10px;
  }
  .main-nav li .submenu a:hover {
	color: #C10037;
  }
  .main-nav > .has-submenu > .submenu > .has-submenu > .submenu::before {
	top: 20px;
	margin-left: -35px;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.15);
	border-color: transparent #fff #fff transparent;
  }
  .header-navbar-rht .dropdown-toggle.show + .dropdown-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }
  .header-navbar-rht li .dropdown-menu {
	border-radius: 5px;
	padding: 0;
	margin: 0;
	min-width: 200px;
	visibility: hidden;
	opacity: 0;
	 top: 157%;
	  right: 0;
	  left: auto;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	display: block;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
  }
  .header-navbar-rht li.flag-nav > a {
	padding: 0;
	border: 0;
	display: flex;
	align-items: center;
  }
  .header-navbar-rht li.flag-nav > a img {
	margin-right: 10px;
  }
  .header-navbar-rht li.flag-nav .dropdown-menu {
	top: 94%;
  }
  .header-navbar-rht li.flag-nav .dropdown-menu.show {
	opacity: 1;
	visibility: visible;		
  }
  .mini-sidebar .header-left .logo img {
	height: auto;
	max-height: 40px;
	width: auto;
  }
  .mini-sidebar .header .header-left .logo {
	display: none;
  }
  .mini-sidebar .header-left .logo.logo-small {
	display: block;
  }
  .mini-sidebar .header .header-left {
	padding: 0 5px;
	width: 80px;
  }
  .mini-sidebar .header .header-left #toggle_btn i {
	transform: rotate(180deg);
	color: #7E84A3;
	padding: 0 7px;
  }
  .mini-sidebar .sidebar {
	width: 80px;
  }
  .mini-sidebar.expand-menu .sidebar {
	width: 270px;
  }
  .mini-sidebar .menu-title {
	visibility: hidden;
	white-space: nowrap;
  }
  .mini-sidebar.expand-menu .menu-title {
	visibility: visible;
  }
  .mini-sidebar .menu-title a {
	visibility: hidden;
  }
  .mini-sidebar.expand-menu .menu-title a {
	visibility: visible;
  }
  .modal-open.mini-sidebar .sidebar {
	z-index: 1051;
  }
  .mini-sidebar .sidebar .sidebar-menu ul > li > a span {
	display: none;
	transition: all 0.2s ease-in-out;
	opacity: 0;
  }
  .mini-sidebar.expand-menu .sidebar .sidebar-menu ul > li > a span {
	display: inline;
	opacity: 1;
  } 
  .mini-sidebar .page-wrapper {
	margin-left: 78px;
  }
  .popular-locations .location-info:nth-child(3) {
	  margin-right: 0;
  }
  .testimonials-section .testimonial-heading {
	position: absolute;
	right: 0;
	top: 60px;
		left: 70px;
	}
  .col-lg-6.map-right {
		padding: 0;
  }
  .listingmappage-content,.listingmaplist-content {
	padding: 25px;
  }
  .contactright-map {
		padding-left: 0;
	}
  .contactus-img {
	  padding-right: 0;
  }
  .dashboard-info .card {
	margin: 0;
	}
  .aboutlocation-details:hover .aboutloc-img img {
	-webkit-transform: scale(1.35) rotate(12deg);
	-moz-transform: scale(1.35) rotate(12deg);
	transform: scale(1.35) rotate(12deg);
	}
  .header-three .main-nav li .nav-link {
	color: #ffffff;
  }
  .main-nav li.megamenu { 
	position: unset;
  }	
  .single-demo a {
	padding: 0 !important;
  }
  .main-nav li > ul.mega-submenu {
	border-radius: 0 0 5px 5px;
  }
  .header-four .main-nav .has-submenu.active > a {
	position: relative;
  }
	.business-section .owl-carousel .carousel .carousel__prev{
		position: absolute;
		left: -20px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 4px 14px rgb(141 141 141 / 25%);
	}
	
	.business-section .owl-carousel .carousel .carousel__next{
		position: absolute;
		right: -20px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 4px 14px rgb(141 141 141 / 25%);
	}
	
  }
  @media (max-width: 1499.98px) {	
	
  .business-slider.owl-carousel .owl-nav .owl-prev {
	left: -40px;
  }
  .business-slider.owl-carousel .owl-nav .owl-next {
	right: -40px;
  }
  }
  @media (max-width: 1599.98px) {	
  .banner-section.banner-three {
	background-position: 180% 100%;
  }
  }
  @media (max-width: 1399.98px) {	
	.main-nav > li {
	margin-right: 25px;
  }
  .package-section {
	background-size: 300px;
  }
  .package-wrap ul li {
	font-size: 15px;
	margin-bottom: 15px;
  }
  .package-wrap {
	padding: 67px 60px;
  }
  .offer-section {
	padding: 35px 0 70px;
  }
  .offer-img-left img {
	width: 330px;
  }
  .category-item a {
	font-size: 15px;
  }	
  .banner-section.banner-three {
	min-height: 730px;
	background-position: 366px 0;
  }
  .section-blk .service-content {
	padding: 40px;
  }
  .ban-image-03 {
	top: 45%;
  }
  .ban-image-03 img {
	width: 340px;
  }
  .listee-content {
	padding: 50px 0;
  }		
  .banner-four .banner-imgs {
	right: 90px;
  }	
  .banner-four .banner-imgs img {
	max-width: 650px;
  }
  .categories-info h6 {
	font-size: 18px;
  }
  }
  @media (max-width: 1199.98px) {
	.banner-seven .banner-main-img {
	  display: none;
	}
	.header-four .main-menu-wrapper {
	  gap: 20px;
	}
	.banner-section.banner-seven h1 {
		font-size: 42px;
	}
	.banner-seven .search-box .search-input {
	  margin: 0 10px 0 0;
	}
	.banner-seven .banner-imgs img {
		max-width: 500px;
	}
	.banner-imgs {
		display: none;
	}
	.dropdown.noti-dropdown {
	  margin-top: 0px !important;
	}
	.header-nav {
	  padding-left: 10px;
	  padding-right: 10px;
	}
	.header-navbar-rht > li.desc-list a > span {
	  display: none;
	}
	.header .has-arrow .dropdown-toggle::after {
	  display: none;
	}
	.main-nav > li {
	  margin-right: 9px;
	}
	.header-navbar-rht > li {
	  padding-right: 10px;
	}
	.header-navbar-rht > li > .add-listing {
	  display: none !important;
	}
	.banner-imgs img {
	  max-width: 490px;
	}
	.arrow-img {
	  right: 72px;
	  top: 32px;
	}
	.search-box .search-input {
	  margin: 0 10px 19px 0;
	}
	.search-btn {
	  margin: 0px 0 0 0;
	}
	.section-search {
	  padding: 40px 0;
	}
	.banner-section h1 {
	  font-size: 42px;
	}
	.category-section a.category-links {
	  width: 150px;
	  margin-right: 0;
	}
	.cta-section h3 {
	  font-size: 40px;
	}
	.viewdetails-btn {
	  padding: 10px 20px;
	}
	.location-info:last-child {
	  margin-right: 0;
	}
	.testimonials-section .testimonial-heading {
	  padding: 60px 0 60px 46px;
	}
	.map-listing {
	  height: 450px;
	  margin: 0 0 25px;
	}
	.showfilter {
	  display: none;
	}
	.header .has-arrow .dropdown-toggle:after {
	  display: inline-block;
	}
	.header-navbar-rht li > a.header-login {
	  min-width: 90px;
	  padding: 10px 16px;
	}
	.main-nav li a {
	  font-size: 14px;
	}
	.dashboard-content ul.dashborad-menus li {
	  margin-right: 5px;
	}
	.dashboard-content ul.dashborad-menus li a {
	  padding: 12px 12px;
	}
	.chat-footer .attach-btn {
	  width: 88%;
	}
	.descriptionlinks ul li a {
	  font-size: 14px;
	}
	.details-main-wrapper .rightsidebar .card ul li {
	  font-size: 12px;
	}
	.details-main-wrapper .card .ratings-info p {
	  font-size: 13px;
	}
	.banner-section-two .search-box .form-group,
	.banner-section-two
	  .search-box
	  .select2-container--default
	  .select2-selection--single,
	.banner-section-two
	  .search-box
	  .select2-container--default
	  .select2-selection--single
	  .select2-selection__rendered {
	  min-width: 100px;
	  font-size: 14px;
	}
	.banner-section-two .search-box .search-input {
	  margin-bottom: 0;
	}
	.banner-section-two .search-icon {
	  width: 40px;
	  height: 40px;
	}
	.offer-img-left img {
	  width: 300px;
	}
	.offer-section {
	  padding: 20px 0 70px;
	}
	.offer-sec h3,
	.section-heading-two h2 {
	  font-size: 30px;
	}
	.venue-content ul li {
	  width: 32%;
	}
	.package-wrap .section-heading-two h2 {
	  font-size: 21px;
	}
	.category-item {
	  margin-bottom: 15px;
	}
	.category-item a {
	  font-size: 15px;
	  padding: 7px 15px;
	}
	.header-three .main-nav li:not(:last-child) {
	  margin-right: 12px;
	}
	.header-three .cta-btn a {
	  font-size: 14px;
	}
	h2 {
	  font-size: 28px;
	}
	.shadow-box h4 {
	  font-size: 18px;
	}
	.activities-blk .shadow-box p {
	  font-size: 14px;
	}
	.subscribe-blk .input-group {
	  padding: 10px;
	}
	.subscribe-blk .form-control {
	  min-height: 40px;
	}
	.gallery-blk {
	  flex-wrap: wrap;
	}
	.box-style .btm-box-style h3 {
	  font-size: 22px;
	}
	.theme-btn,
	.theme-btn a {
	  font-size: 15px;
	}
	.service-info-card .service-content .body-content {
	  margin-bottom: 20px;
	}
	.header-three a.nav-link.cur-link,
	.header-three a.nav-link.lang-link {
	  font-size: 14px;
	}
	.service-info-card .service-content .body-content p {
	  font-size: 14px;
	}
	.section-blk .service-info-card .img-blk {
	  width: 340px;
	  padding: 55px 0;
	}
	.section-blk .service-content {
	  padding: 30px;
	}
	.banner-section.banner-three {
	  background-position: 329px 0;
	}
	.space-content h5,
	.space-content .price span,
	.city-content h5,
	.grid-blog .blog-title a {
	  font-size: 18px;
	}
	.price-four .price-head h4 {
	  font-size: 32px;
	}
	.price-four .price-level h6 {
	  font-size: 20px;
	}
	.banner-four .search-box .search-input {
	  margin: 0 10px 0 0;
	}
	.category-box span img {
	  width: 50px;
	}
	.banner-four .banner-imgs img {
	  max-width: 500px;
	}
	.header-four .header-navbar-rht li > a.header-login {
	  padding: 10px 12px;
	  font-size: 14px;
	  font-weight: 700;
	}
	.business-slider.owl-carousel .owl-nav .owl-prev {
	  left: -16px;
	}
	.business-slider.owl-carousel .owl-nav .owl-next {
	  right: -16px;
	}
  }
  @media (max-width: 1200.98px) {
	.style1-blk .recommended-carousel .carousel .carousel__viewport ol{
		right: 10%;
	}
	/* .style1-blk .recommended-carousel .carousel .carousel__viewport ol li{
		max-width: 261px !important;
	} */
	/* .style2-blk .recommended-carousel .carousel .carousel__viewport ol{
		left: 16%;
	} */
  }
  @media (max-width: 991.98px) {
  .sidebar-overlay.opened {
	display: block;
  }
  .header-navbar-rht > li {
	padding-right: 15px;
  }
  .main-nav {
	padding: 0;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
  }
  .main-nav ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
  }
  .main-nav > li {
	margin-left: 0;
  }
  .main-nav li + li {
	margin-left: 0;
  }
  .main-nav > li > a {
	line-height: 1.5;
	padding: 15px 20px;
	font-size: 14px;
	font-weight: 500;
  }
  .main-nav > li > a > i {
	float: right;
	margin-top: 5px;
  }
  .main-nav > li .submenu li a {
	border-top: 0;
	color: #374B5C;
	padding: 10px 15px 10px 35px;
  }
  .main-nav > li .submenu ul li a {
	padding: 10px 15px 10px 45px;
  }
  .main-nav > li .submenu > li.has-submenu > a::after {
	content: "\f078";
  }
  .main-nav .has-submenu.active > a {
	color: #C10037;
  }
  .main-nav .has-submenu.active .submenu li.active > a {
	color: #C10037;
  }
  .main-nav > li > a:hover::after, 
  .main-nav > li.active > a::after{
	top: 0
  }
  .main-menu-wrapper {
	order: 3;
	width: 260px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 11111;
	transform: translateX(-260px);
	transition: all 0.4s;
	background-color: #fff;
	margin: 0;
  }
  .menu-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
  }
  .navbar-header {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: flex;
		align-items: center;
	}
  .main-nav > li {
	border-bottom: 1px solid #E1E2E5;
	margin-right: 0;
  }
  #mobile_btn {
	display: inline-block;	
	padding-top: 6px;		
  }
  .sidebar {
	margin-left: -225px;
	width: 225px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 1041;
  }
  .header-navbar-rht > li.desc-list {
	display: none;
  }
  .container {
	max-width: 100%;
  }
  .footer-widget {
	margin-bottom: 30px;
  }
  .footer .footer-top {
	padding-bottom: 10px;
  }
  .footer .social-icon ul {
	  margin: 0;
  }
  .footercount {
	  margin: 0;
  }
  .footer {
		padding: 0 20px;
	}
  .arrow-img {
		display: none;
	}
  .banner-circle, .bannerleftarrow,.banner-imgs, .banner-elipse {
	display: none;  
  }
  .search-box label {
		display: block;
	}	
  .banner-section p.explore-text span {
	  font-size: 14px;
  }
  .search-box .search-input {
	margin: 0 10px 0 0;
  }
  .category-section a.category-links {
	  width: 100%;
	  margin: 0 0px 20px 0;
  }
  .cta-section .col-lg-7, .cta-section .col-lg-5 {
	width: 50%;
  }
  .cta-content .postad-btn {
		padding: 12px 15px;
	}
	.cta-content a.browse-btn {
		padding: 9px 15px;
	}
  .popular-locations .location-content {
	padding: 0 0px 0 15px;
	width: 100%;
  }
  .single-demo {
	margin-bottom: 0;
  }
  .testimonials-section .testimonial-heading {
	   padding: 0 0 30px 10px;
	}
	.testimonial-heading img {
	   display: none;
	}
  .testimonials-slidersection {
	margin-top: 0;
	background: #C10037;
	padding-bottom: 25px;
  }
  .testimonials-section .rightimg {
	  display: none;
  }
  .testi-author p {
		font-size: 14px;
	}
  .testi-author h6 {
	  font-size: 20px;
  }
  .section-heading h2, .section-heading-two h2 {
	  font-size: 32px;
  }
  .price-card {
		margin: 0 0 20px;
	}
  .grid-blog .blog-title a {
	  font-size: 20px;
  }
  .subscribe-form .btn-secondary {
	  width: 300px;
  }
  .cta-section h3 {
		font-size: 32px;
	}
  .header-nav {
	padding-left: 0;
	padding-right: 0;
	}
  .category-section {
		padding: 40px 0 20px;
	}
	.section-heading, .section-heading-two, .interset-btn {
	  margin: 0 0 40px;
  }
  .section-heading h2, .section-heading-two h2 {
		font-size: 28px;
	}
  .featured-section, 
  .cta-section, 
  .blog-section, 
  .popular-locations, 
  .partners-section  {
		padding: 40px 0;
	}
	.latestad-section {
	  padding: 40px 0 20px;
	}
	.pricingplan-section {
	  padding: 40px 0 20px;
	}
	.featured-slider.grid-view .lateestads-content .card {
	  margin-bottom: 20px;
	}
  .subscribe-form {
	  margin: 15px 0 0 0;
  }
  .footercount {
	padding: 40px 0;
  }
  .testimonials-section {
	  position: relative;
	overflow: hidden;
	padding: 40px 0;
  }
  .featured-section .service-content h3 {
	  max-width: 150px;
  }
  .partners-section {
	 padding-top: 0px; 
  }
  .callnow {
	text-align: left;
	margin: 35px 0 0;
	}
  .grid-blog .post-author {
		width: 200px;
	}
  .details-main-wrapper {
		padding: 40px 0;
	}
  .featureslist {
	margin: 0 0px 15px 0;		
	}	
  .reviewpage-content .review-img {
	width: 82px;
	height: 82px;
	}
  .rightsidebar .card .info-list {
		margin: 0px 0 0 38px;
	}
  .map-details {
	display: flex;		
  }	
  .statistics-list li .statistic-details {
		width: 98%;
  }
  .vistors-details {
	  margin-bottom: 0px;
  }
  .ratings-info {
		margin: 0 0 25px;
	}
	.rate-details h2 {
		font-size: 32px;
	}
	.owl-prev:hover, .owl-next:hover {
	border: 1px solid #C10037;
	color: #C10037;
	background: #fff;
	}
	.lateestads-content .row {
		justify-content: center;
	}
  .amenities .search-btn .btn {
	margin: 0 0 20px;
	width: 45%;
	}
  .gallery-content {
		align-items: center;
		justify-content: center;
	}
  .bloglist-section .rightsidebar {
	  margin-top: 25px;
  }
  .bloglisting .blog-pagination {
		margin: 0 0px 30px;
	}
  .blogbanner-content h1 {
		font-size: 28px;
	}
  .blogbanner-content {
		bottom: 15px;
	}
  .blogbanner-content .entry-meta li, .blogbanner-content .post-author a {
		font-size: 14px;
	}
  .blogdetails-pagination ul li .prev-link, .blogdetails-pagination ul li .next-link {
	  font-size: 16px;
  }
  .progress-wrap.active-progress {
		display: none;
	}
  .about-listee {
		flex-direction: column;
	}
  .about-img {
		width: auto;
	text-align: center;
	}
  .about-info {
	  margin: 25px 0 0;
		position: static;	   
	width: auto;
	transform: none;
	padding: 20px;
  }
  .about-content {
	padding: 60px 0;
	}
  .about-info h4 {
		font-size: 32px;
	}
  .howitwork-info h5 {
	  font-size: 50px;
  }
  .howitwork-info h6 {
	  font-size: 20px;
  }
  .howitwork-info h5:after {
	  top: 30px;
  }
  .aboutlocation-details h3 {
	font-size: 18px;
	margin: 0 0 5px;
	}
  .aboutlocations-info {
		bottom: 10px;
		left: 10px;
	}
  .aboutpopular-locations .section-heading h2 {
		font-size: 24px;
	}
  .blogbanner {
	  min-height: 400px;
  }
  .contactinfo-content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		right: inherit;
  }
  .contactleft-info {
	  text-align: center;
  }
  .work-section .work-info h5:after {
		width: calc(100% - 98px);
  }
  .work-section .work-info h5 {
	  font-size: 50px;
  }
  .work-section .work-info h6 {
		font-size: 20px;
  }
  .work-section h4 {
		font-size: 32px;
  }
  .work-section {
		padding: 80px 0;
  }
  .faq-section h1 {
		font-size: 32px;
  }
  .faq-section h4 {
		font-size: 18px;
  }
  .faq-section .faq-card .card-collapse p {
		font-size: 14px;
  }
  .dashboard-content ul.dashborad-menus li a {
	padding: 8px 8px;
	font-size: 14px;
  }
  .dashboard-content ul.dashborad-menus li {
		margin-right: 7px;
	}
  .dashboard-content ul.dashborad-menus {
		padding: 25px 15px;
  }
  .listing-table th, .listing-table td {
		white-space: nowrap;
	}
  .listing-table .avatar-img {
	width: 100%;
	height: 100%;
		min-width: 130px;		
	}
  .profile-sidebar .card-body .group-img, .profile-sidebar .card-body .btn-primary {
	width: 40%;
	}
  .google-maps {
	height: 300px;
	margin: 20px 0 0;
	}
  .stay-tuned h3 {
		font-size: 36px;
  }
  .cta-section:before {
	  display: none;
  }
  .review-img {
	margin-bottom: 20px;
		margin-right: 20px;		
	}
  .review-details {
		margin-left: 0;
	}
  .error-wrap h2 {
	   font-size: 38px;
	}
  .faq-section h2 {
		font-size: 28px;
  }
  .sorting-div {
		margin: 25px 0 25px;
	}
  .rightsidebar .card .article {
	  width: 52%;
  }
  .navbar-brand.logo img {
	  width: auto;
  }
  .sidebar-overlay.opened {
		display: block;
	}
  .aboutlocation-details {
	  height: 200px;
	margin: 0 0 25px;
  }
  .aboutlocation-details .aboutloc-img img {
	  width: 100%;
  }
  .australi-loc img {
		height: 200px;
	}	
  .popular-locations .location-content a.view-detailsbtn {
		padding: 8px 30px;
  }
  .map-right {
	  position: static;
	padding-right: 15px;
  }
  .profile-img-del, .profile-img-del:hover {
		width: 30px;
		height: 30px;
  }
  .category-listing .col-lg-4 {
	  width: 30%;
  }
  .partners-section .partners-heading {
		font-size: 30px;
		margin: 0 0 30px;
  }
  .chat-cont-left, .chat-cont-right {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	transition:  .3s ease-in-out 0s;
	width: 100%;
  }	
  .chat-window.chat-slide .chat-cont-right {
	right: 0;
	opacity: 1;
	margin: 0 15px;
		width: 96%;
	visibility: visible;
  }
  .chat-window.chat-slide .chat-cont-left {
		left: -104%;
	}
  .chat-cont-right .chat-header .back-user-list {
		display: block;
	}
  .chat-cont-right .chat-header {
	display: flex;
	align-items: center;
  }
  .chat-footer .attach-btn {
		width: 88%;		
  }	
  .chat-cont-right {
	position: absolute;
	right: -100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
  }
  .details-main-wrapper .rightsidebar .card ul li {
		font-size: 16px;
  }
	.map-frame iframe {
	width: 100%;
	height: 100%;
	}	
  .dashboard-content {
	padding: 60px 0;		
	}
  .menu-opened .sidebar-overlay {
	  display: block;
  }
  .faq-section {
		padding: 70px 0 45px;        
	}
  .dashboard-info .review-list .review-box {
		display: flex;
	}   
  .dashboard-info .review-list .review-img {
		margin-right: 20px;
	}
  .login-content, .bloglisting, .contactus-info {
		padding: 70px 0;
	}
  .contactusform-section {
		padding: 0 0 70px;
	}
  .categorieslist-section {
		padding: 70px 0 45px;
	} 
  .listmapgrid-content, .listmaplist-content {
		padding: 0px 0 25px 0px;
	}
  .media-section .settings-upload-btn {
		 margin: 0 0 25px;
	}
	.testimonials-slidersection .owl-nav {
	  position: static;
	  text-align: right;
	  padding-top: 30px;
	}
	.popular-locations .location-info-details {
	margin-bottom: 20px;
  }
  .browse-btn {
	margin: 20px 0 0 0;
  }
  .footercount {
		padding: 30px 0 30px;
	}
	.footer .footer-bottom .copyright {
	  padding: 0 0 30px;
  }
  .footercount p {
	margin-bottom: 10px;
  }
  .footercount .visitors-value {
	margin-bottom: 0;
  }
  .aboutbanner {
	padding: 140px 0 60px;
  }
  .contactbanner { 
	padding: 140px 0 60px;
  }
  .breadcrumb-bar {
	padding: 140px 0 60px;
  }
  .breadcrumb-title {
	font-size: 32px;
  }
  .aboutpopular-locations {
	padding: 60px 0 35px;
  }	
  .home-banner-two h1 {
	font-size: 32px;
  }
  .banner-section p {
	font-size: 16px;
  }
  .wedding-section {
	padding: 40px 0 26px;
  }
  .venue-section {
	padding: 0 0 40px;
	background-size: 220px;
  }
  .wedding-wrap-img {
	display: none;
  }
  .wedding-img {
	flex: 0 0 160px;
  }
  .offer-section {
	padding: 15px 0 40px;
  }
  .offer-sec {
	padding: 25px;
  }
  .offer-sec h3 {
	font-size: 24px;
  }
  .offer-img-left img {
	width: 240px;
  }
  .package-wrap {
	margin-bottom: 24px;
  }
  .package-section {
	background-size: 200px;
	padding: 40px 0 16px;
  }
  .package-wrap .section-heading-two h2 {
	font-size: 24px;
  }
  .popular-section, .portfolio-section, .timeline-section,
  .blog-section-two, .vendor-section	{
	padding: 40px 0;		
  }
  .celebrate-section {
	padding: 0 0 40px;
  }
  .success-section {
	padding: 40px 0;
	background-size: 220px;
  }
  .success-sec {
	padding: 24px 24px 0;
  }
  .success-item {
	margin-bottom: 24px;
  }
  .blog-two .blog-title a {
	font-size: 16px;
  }
  .vendor-info h3 {
	font-size: 24px;
  }
  .time-box .date {
	width: 80px;
	height: 80px;
  }
  .timeline-wrap li:before {
	left: 80px;
  }
  .time-box .box-content {
	left: 40px;
  }
  .time-box {
	min-height: 272px;
  }
  .box-bottom .box-content::before {
	top: -41px;
  }
  .box-bottom .box-content::after {
	top: -8px;
  }
  .box-bottom .box-content p {
	font-size: 14px;
  }
  .category-item {
	padding: 10px;
	margin-bottom: 20px;
  }
  .category-item a {
	font-size: 14px;
	padding: 8px 15px;
  }
  .searchbox-list {
	display: block;
	width: 100%;
  }
  .banner-section-two .search-box .search-input {
	width: 100%;
	margin-bottom: 10px;
	border: 0;
	width: 100%;
  }
  .banner-section-two .search-btn .btn {
	width: 100%;		
  }
  .search-box form {
	display: block !important;
  }
  .categories-section {
	padding: 0 0 16px;
  }
  .footer-two .footer-bottom .copyright {
	padding: 20px 0;
  }
  .testimonial-item, .blog-two, .venue-item, .portfolio-wrap {
	margin-bottom: 40px;
  }
  .header-top {
	display: none;
  }
  .banner-section.banner-three .banner-info-blk {
	padding-bottom: 35px;
  }
  .banner-btm-img-blk {
	display: none;
  }
  .banner-btm {
	border-radius: 23px;
	padding: 23px;
  }
  .mb-50 {
	margin-bottom: 30px;
  }
  .banner-btm .search-group ul li:not(:last-child) {
	border-right: 0px solid transparent;
  }
  .search-group > ul {
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 8px;
  }	
  .blog-blk .tab-content {
	padding-top: 0;
  }
  .banner-btm .datepicker-col.search-group ul li {
	border-bottom: 1px solid #D6D6D6;
  }
  .banner-btm .search-group ul li {
	width: 45%;
	padding-bottom: 10px;
  }
  .search-group .theme-btn {
	margin-top: 23px;
	width: 100%;
  }	
  .banner-section.banner-three .banner-info-blk {
	padding-top: 35px;
  }
  .banner-section.banner-three {
	background: transparent;
	min-height: 630px;
  }
  .section-blk {
	margin: 40px 0;
  }
  .gallery-blk {
	flex-wrap: wrap;
	gap: 14px;
	justify-content: flex-start !important;
  }
  .header-three {
	box-shadow: 0px 3px 53px rgb(197 197 197 / 27%);
  }
  .service-info-card .service-content .body-content p {
	font-size: 14px;
  }
  .service-info-card .service-content .body-content {
	margin-bottom: 20px;
  }
  h2 {
	font-size: 26px;
  }
  .section-blk .service-content h2 {
	margin-bottom: 10px;
  }
  .section-blk .service-content .service-list li:not(:last-child) {
	margin-right: 35px;
  }
  .section-blk .service-info-card .img-blk {
	width: 290px;
  }
  .section-blk.service-blk {
	padding-bottom: 40px;
  }
  .recommended-blk.style1-blk, .blog-block,
  .price-section, .faq-blk	{
	padding: 40px 0;
  }
  .faq-blk:before {
	top: 30px;
  }
  .box-style .btm-box-style {
	padding: 25px 20px;
  }
  .home-banner-two .banner-content {
	padding-top: 60px;
  }
  .offer-img-right img {
	width: 220px;
  }
  .ban-image-02 {
	display: none;
  }
  .testi-blk .title-blk {
	margin-top: 40px;
  }
  .section-blk .service-info-card .img-blk {
	padding: 122px 0;
  }
  .demo-img {
	display: none;
  }
  .demo-info {
	opacity: 1;
	position: relative;
	bottom: 0;
	text-align: left;
  }
  .megamenu-wrapper {
	padding: 0;
  }	
  .single-demo:hover {
	transform: translateY(0);
  }
  .header-four .main-menu-wrapper {
	display: block !important;
	margin: 0;
  }
  .header-four .header-navbar-rht {
	display: none;
  }
  .banner-section.banner-four h1 {
	font-size: 32px;
  }	
  .category-sec, .cowork-sec, .space-sec, .city-sec,
  .blog-section-four {
	padding: 40px 0 16px;
  }
  .cate-sec, .testimonial-section, .pricing-section {
	padding: 40px 0;
  }
  .list-sec {
	margin-top: 40px;
  }
  .testi-four .testi-author h6, .testi-four .testimonialslider-content h6,
  .testi-four .testimonialslider-content p {
	font-size: 16px;
  }
  .listee-content h3 {
	font-size: 30px;
  }
  .listee-content p, .blog-four .blog-title a, .cat-wrap h5,
  .cowork-info h5 {
	font-size: 18px;
  }
  .listee-img {
	text-align: center;
  }
  .listee-content {
	padding: 50px 0 30px;
  }
  .price-wrap {
	margin: 0;
  }
  .footer-four .footer-top  {
	padding: 40px 0 10px;
  }
  .footer-four .footer-bottom .copyright {
	padding: 20px 0;
  }
  .more-btn {
	padding: 6px 15px;
  }
  .banner-four {
	background-size: 89% 100%;
  }
  .banner-four h6 {
	font-size: 50px;
  }
  .banner-four .section-search {
	padding: 50px 0;
  }
  .banner-four .search-box form {
	display: flex !important;
  }
  .price-four .price-head h4 {
	font-size: 30px;
  }
  .price-four .price-level h6 {
	font-size: 18px;
  }
  .price-four.active {
	margin: 0 0 20px;
  }
  .price-four, .price-four.active {
	margin: 0;
  }	
  .business-slider.owl-carousel .owl-nav .owl-prev {
	left: -10px;
  }
  .business-slider.owl-carousel .owl-nav .owl-next {
	right: -10px;
  }
	.popular-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.popular-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.celebrate-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.celebrate-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.venue-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.venue-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.feedback-section .owl-carousel{
		padding-bottom: 60px;
	}
	.feedback-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.feedback-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__next {
		top: auto;
		right: 47%;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__prev {
		top: auto;
		right: 49%;
	}
	.section-blk.blog-blk .tab-pane .recommended-carousel{
		padding-bottom: 60px;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__prev {
		left: 47%;
		top: 360px;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__next {
		left: 49%;
		top: 360px;
	}
	.section-blk .testim-slider .carousel .carousel__prev {
		left: 47%;
		top: 320px;
	}
	.section-blk .testim-slider .carousel .carousel__next {
		left: 49%;
		top: 320px;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__next {
		top: 600px;
		right: 49%;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__prev {
		top: 600px;
		left: 47%;
	}
	.section-blk.destination-blk .destination-carousel{
		padding-bottom: 60px;
	}
	.section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__prev {
		left: 46%;
	}
	.section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__next {
		right: 49%;
	}
	.testimonials-slidersection .carousel .carousel__prev {
		top: 0;
		right: 60px;
	}
	.testimonials-slidersection .carousel .carousel__next {
		top: 0;
		right: 15px;
	}
	.cate-section .cate-sec .carousel .carousel__prev {
		top: -95px;
	}
	.cate-section .cate-sec .carousel .carousel__next {
		top: -95px;
	}
	.style1-blk .recommended-carousel .carousel .carousel__viewport ol{
		left: 22%;
	}
  }
  @media (max-width: 767.98px) {
  body {
	  font-size: 14px;
  }
  h2 {
	font-size: 24px;
  }
  h5 {
	font-size: 16px;
  }
  .header-navbar-rht li > a.header-login.add-listing {
	display: none;
  }
	.arrow-img {
	display: none;
  }
  .mynav2,.mynav1 {
	margin-bottom: 20px;
  }
  .mynav1 {
	margin-bottom: 0;
  }
  .policy-menu {
		margin: 10px 0 0 0;
		text-align: left;
	}
	.cta-section .col-lg-7, .cta-section .col-lg-5 {
		width: auto;
	}
	.testimonial-heading img {
		display: none;
	}
	.testimonials-section .testimonial-heading {
		padding: 0px 0 20px 20px;
	}
	.popular-locations .location-content a {
		font-size: 16px;
	}
	.popular-locations .location-content a.view-detailsbtn {
		font-size: 14px;
	padding: 10px 20px;
	}
	.latestad-section .btn-view {
		margin-top: 20px;
	}	   
	.lateestads-content .service-widget {
		margin-bottom: 25px;
	}
	.testimonial-heading img {
		display: none;
	}
	.category-section .btn-view {
	  margin: 20px 0 0;   
	  font-size: 14px;   
  }
  .section-blk .service-info-card .img-blk {
	padding: 0;
  }
  .cta-img {
	  display: none;
  }
  .viewdetails-btn {
	  width: 100%;
		margin: 0 auto;
		font-size: 14px;
		padding: 8px 15px;
	}
	.about-content {
	  padding: 40px 0;
	}	
	.aboutbanner {
	  padding: 120px 0 60px;
  }
  .contactbanner { 
	padding: 140px 0 60px;
  }
  .breadcrumb-bar {
	padding: 120px 0 60px;
  }
  .about-info h4 {
	font-size: 28px;
	margin-bottom: 20px;
  }
  .banner-section p {
	margin-bottom: 20px;
  }
  .about-info p {
	margin-bottom: 20px;
  }
  .howitworks h3 {
	margin-bottom: 30px;
	font-size: 28px;
  }
  .howitwork-info {
	padding: 15px;
	margin: 20px 0 0;
  }
  .aboutpopular-locations {
	padding: 40px 0 20px;
  }
  .aboutlocation-details {
	margin-bottom: 20px;
  }
	.bloglistleft-widget .bloglist-content, .bloglistleft-widget.blog-listview .blog-img {
		width: auto;
	}	
	.bloglistleft-widget.blog-listview h3 {
		font-size: 18px;
	}
  .bloglistleft-widget.blog-listview .blog-category a {
	font-size: 12px;
	padding: 4px 12px;
  }
  .stay-tuned form input {
	width: 100%;		
	}
  .stay-tuned p {
		max-width: 550px;
  }
  .aboutlocation-details .aboutloc-img img {
	  width: 100%;
  }
  .aboutlocation-details {
	  margin: 0 0 20px;
  }
  .gallerypage-info .gallery-widget {
	  text-align: center;
  }
  .cta-section {
	  background: #f3f3f3;
  }
  .blog-listview .blog-img img, .grid-view .blog-img img {
		width: 100%;
	}
  .access-feature.featureslist {
		margin: 0 0px 15px 0;
	}
  .blog-listview .bloglist-content, .list-content .blog-listview .blog-img {
		width: auto;
	}
  .contactform-img {
	  text-align: center;
  }
  .blog-listview .card .blog-widget {
		display: block;
  }
  .dashboard-content ul.dashborad-menus {   
	padding: 25px 15px;	   
	flex-wrap: wrap;
	flex-direction: column;
	}
  .dashboard-content ul.dashborad-menus {
		align-items: normal;
	}
  .dashboard-content ul.dashborad-menus li, .dashboard-content ul.dashborad-menus li a {
		display: block;
	}
  .dashboard-content ul.dashborad-menus li {
	  margin-bottom: 10px;
  }
  .descriptionlinks ul li a {
		font-size: 12px;
	}
  .partners-section .partners-heading {
	font-size: 24px;
	margin: 0 0 30px;
  }
  .profile-sidebar .card-body .group-img, .profile-sidebar .card-body .btn-primary {
	width: 100%;
	}
  .profile-form .form-group.formlast-input {
		margin-bottom: 25px;
	}
  .messages-form .form-group.formlast-input {
		margin: 0 0 20px;
	}	
	.settings-upload-btn .file-upload {
	padding: 12px 15px;
	font-size: 14px;
  }
  .profile-photo span {
	font-size: 14px;    
	}
  .gallerypage-info .gallery-widget a {
	display: block;
  }
  .section-search {
	  padding: 30px 0 40px;
  }
  .search-box form {
	  flex-direction: column;
  }
  .search-btn .btn-primary {
	  padding: 8px 15px;
	  min-width: 130px;
  }
  .cta-content .postad-btn, 
  .cta-content a.browse-btn {
	  padding: 8px 15px;
	  font-size: 14px;
  }
  .cta-content a.browse-btn {
	padding: 7px 15px;
  }
  .blog-section .btn-view {
	margin-top: 20px;
  }
  .blog-content {
	  padding: 15px;
  }
  .testimonial-info {
	padding: 15px;
  }
  .price-card {
	padding: 15px;
  }
  .blog-section {
	padding: 40px 0 20px;
  }
  .stay-tuned form .btn-primary {
	font-size: 14px;
	  padding: 8px 40px;
  }
  .stay-tuned {
	  padding: 30px 15px;
  }
  .footer .footer-top {
	  padding: 40px 0 0;
  }
  .footer-widget {
	  margin-bottom: 20px;
  }
  .footer-title {
	margin-bottom: 20px;
  }
  .dashboard-content {
	padding: 40px 0;		
	}
	.messages-form .card {
	  padding: 15px;
	}
	.dashboard-content ul.dashborad-menus li a {
	  font-size: 15px;
	  padding: 0;
	}
	.messages-form .form-group.formlast-input {
	  margin-bottom: 15px;
	}
	.messages-form .form-group.formlast-input-inner {
	  margin: 0 0 0;
	}
	.messages-form .col-form-label {
	  margin: 0 0 10px;
	}
  .home-banner-two .banner-content {
	padding-top: 95px;
  }
  .home-banner-two h1 {
	font-size: 26px;
  }
  .banner-section p {
	font-size: 14px;
  }
  .section-heading-two h2 {
	font-size: 24px;
  }
  .celebrate-img .play-icon {
	width: 30px;
	height: 30px;
	font-size: 10px;
  }	
  .animate-circle {
	left: -25px;
	top: -25px;
	width: 50px;
	height: 50px;
  }
  .wedding-form {
	background-size: 500px;
	padding: 110px 80px 36px;
	max-width: 500px;
  }
  .timeline-wrap {
	text-align: center;
  }
  .time-box {
	width: 120px;
	display: inline-block;
	float: unset;
  }
  .time-box:last-child {
	width: 120px;
  }
  .footer-two .selection-list {
	margin-bottom: 15px;
  }
  .selection-list {
	justify-content: start;
  }	
  .footer-social h6, .header-top .selection-list {
	margin-bottom: 15px;
  }
  .footer-social .social-icon {
	text-align: left;
  }
  .offer-img {
	display: none;
  }
  .header-top ul {
	text-align: left;
  }
  .home-banner-two .banner-content {
	padding-top: 35px;
  }
  .success-img, .celebrate-wrap:before {
	display: none;
  }
  .vendor-info h3 {
	font-size: 20px;
  }
  .blog-two .entry-meta li.date-icon {
	font-size: 14px;
  }
  .price-review h6 span {
	padding: 7px 8px;
  }
  .price-review p {
	font-size: 15px;
  }
  .timeline-wrap li:before {
	content: none;
  }
  .package-wrap {
	padding: 67px 116px;
  }
  .package-wrap .section-heading-two h2 {
	font-size: 20px;
  }
  .wedding-section {
	background-size: 200px;
  }
  .offer-sec {
	background-position: center;
  }
  .popular-section, .success-section {
	background-size: 120px;
  }
  .wedding-form .submit-section {
	margin-top: 0px;
  }
  .wedding-form .btn {
	padding: 9px 34px;
  }
  .vistors-details ul {
	justify-content: start;
	-webkit-justify-content: start;
  }
  .banner-btm .search-group ul li {
	width: 100%;
  }
  .banner-section.banner-three {
	padding-top: 23px;
  }
  .section-blk .title-blk {
	justify-content: center;
	text-align: center;
	flex-direction: column;
  }
  .section-blk .title-blk .title-left {
	margin-bottom: 25px;
  }
  .section-blk .service-info-card {
	padding: 23px;
	justify-content: center;
	flex-wrap: wrap;
  }
  .section-blk .service-info-card .img-blk {
	width: 203px;
  }
  .section-blk .service-info-card .img-blk img {
	position: relative;
  }
  .section-blk .service-content {
	padding: 14px;
	width: 100%;
	text-align: center;
  }
  .service-list {
	flex-wrap: wrap;
	text-align: left;
  }
  .sm-mb-23 {
	margin-bottom: 23px;
  }
  .box-style .btm-box-style {
	flex-wrap: wrap;
	justify-content: center;
	padding: 23px 0px;
  }
  .box-style .btm-box-style:before {
	left: 0px;
	margin-top: -21px;
  }
  .box-style .btm-box-style > div {
	padding: 5px;
  }
  .promo-style {
	padding: 32px 14px;
  }
  .testi-widget .testi-btm-blk .circle-grp img {
	width: 50px;
	height: 50px;
  }
  .subscribe-style {
	border-radius: 14px;
	padding: 15px;
  }
  .top-foo-widget {
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 14px;
  }
  .sm-row-gap-23 {
	row-gap: 23px;
  }
  .gallery-blk li:not(:last-child) {
		margin: 0px;
  }
  .btm-foo-widget {
	flex-wrap: wrap;
	row-gap: 14px;
  }
  .promo-style .flex-style .list-style ul {
	row-gap: 23px;
  }
  .section-blk .service-info-card:before {
	right: -10px;
  }
  .banner-section h1 {
	font-size: 28px;
  }
  .banner-section.banner-three .banner-info-blk {
	padding-top: 75px;
  }
  .section-blk .title-blk {
	margin-bottom: 40px;
  }
  .theme-btn, .theme-btn a {
	font-size: 14px;
  }
  .theme-btn span {
	width: 35px;
	height: 35px;
  }
  .body-three .owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 40px;
  }
  .recommended-slider.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 30px;
  }
  .testim-slider.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 20px;
  }
  .banner-section.banner-three h5 {
	font-size: 16px;
	margin-bottom: 0;
  }
  .section-blk .service-info-card .img-blk {
	background: transparent;
  }
  .promo-style h3 {
	font-size: 22px;
  }
  .faq-blk:before {
	content: none;
  }
  .price-three .price-body h4 {
	font-size: 22px;
  }
  .offer-blk {
	padding-top: 60px;
  }
  .price-three .price-level h6 {
	font-size: 22px;
  }
  .testi-widget h4 {
	font-size: 18px;
  }
  .wedding-form .form-control {
	min-height: 40px;
	font-size: 14px;
  }
  .wedding-form .select2-container .select2-selection--single {
	height: 40px;
  }
  .wedding-form .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
  }
  .wedding-form .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px;
  }
  .wedding-wrap.wedding-align {
	flex-direction: row-reverse;
  }
  .wedding-img.align-right {
	margin-left: 0;
	margin-right: 24px;
  }
  .header-three .cta-btn {
	display: none;
  }
  .banner-section.banner-four h1 {
	font-size: 26px;
  }
  .banner-four .search-box form {
	display: block !important;
  }
  .banner-four .search-box .search-input {
	margin: 0 0 15px 0;
  }
  .banner-four .search-btn .btn-primary {
	width: 100%;
  }
  .banner-four {
	padding: 70px 0 0;
  }
  .interset-btn {
	justify-content: start;
	-webkit-justify-content: start;
	-ms-flex-pack: start;
  }
  .listee-content h3, .price-four .price-head h4 {
	font-size: 24px;
  }
  .listee-content {
	padding: 40px 0 30px;
  }
  .listee-content p {
	font-size: 16px;
  }
	.popular-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.popular-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.celebrate-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.celebrate-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.venue-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.venue-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 47%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__next {
		top: auto;
		left: 49%;
	}
	.section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__prev {
		left: 45%;
	}
	.recommended-carousel .recommended-slider .carousel .carousel__prev {
		top: auto;
		right: 49%;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__next {
		top: auto;
		right: 46%;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__prev {
		left: 47%;
		top: 400px;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__next {
		left: 49%;
		top: 400px;
	}
	.section-blk .testim-slider .carousel .carousel__prev {
		left: 47%;
		top: 340px;
	}
	.section-blk .testim-slider .carousel .carousel__next {
		left: 49%;
		top: 340px;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__prev {
		top: auto;
		right: 49%;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__next{
		top: auto;
		left: 46%;
	}
	.cate-section .cate-sec .carousel .carousel__prev{
		left: 0;
		top: -60px;
	}
	.cate-section .cate-sec .carousel .carousel__next{
		left: 50px;
		top: -60px;
	}
	.cate-section .interset-btn{
		margin-left: 15%;
	}
	.featured-section .featured-slider .carousel .carousel__prev {
		left: 0;
		top: -30px;
		padding: 2px;
	}
	.featured-section .featured-slider .carousel .carousel__next{
		top: -30px;
		padding: 2px;
	}
	.venue-section .owl-carousel .carousel .carousel__viewport ol{
		left: 26%;
	}
	.feedback-section .owl-carousel .carousel .carousel__viewport ol{
		left: 24%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__viewport ol{
		left: 26%;
	}
	.destination-blk .destination-carousel .carousel .carousel__viewport ol{
		left: 26%;
	}
	.style1-blk .recommended-carousel .carousel .carousel__viewport ol{
		left: 10%;
	}
	.section-blk.blog-blk .recommended-carousel .carousel .carousel__viewport ol{
		right: 24%;
	}
	.section-blk.testi-blk .testi-carousel .carousel .carousel__viewport ol{
		left: 26%;
	}
	.section-blk.blog-block .testim-slider.carousel .carousel__viewport ol{
		left: 28%;
	}
	.featured-section .owl-carousel .carousel .carousel__viewport ol{
		right: 25%;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__viewport ol{
		left: 28%;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__next {
		top: 540px;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__prev {
		top: 540px;
	}
  }
  @media (max-width: 575.98px) {
  .header-navbar-rht {
	display: none;
  }
  .main-nav li.login-link {
		display: block;
	}
  .about-info {
	  padding: 15px;
  }
  .testimonials-section .testimonial-heading {
		padding: 0px 0 20px 10px;
	}
  .testimonial-heading img {
	  display: none;
  }
  .testimonials-slidersection {
		margin-top: -484px;
	}
  .testimonial-heading h4 {
	  font-size: 28px;
  }
  .search-box .search-input {
		margin: 0 0px 15px 0;
	}
  .partnerslist.owl-carousel .owl-item img {
	width: auto;
	margin: 0 auto;
	height: auto;
	}
  .footer {
		padding: 0;
	}
  .policy-menu li a, .footer .footer-bottom .copyright-text p {
	  font-size: 12px;
	}
  .search-box .select2-container {
		width: 100%;
	}
  .search-box form {
		flex-direction: column;
	}
  .search-btn {
		margin: 0;
	}
  .popular-locations .location-info {
	   width: 100%;
	}
  .cta-content p {
		 margin-bottom: 20px;
	}
  .testi-author {
		 margin: 0px 0 0 20px;
	}
  .testi-author h6 {
		 font-size: 16px;
	}
  .testimonials-slidersection {
		margin-top: 0;
	}
  .blog-section .btn-view {
	  margin: 20px 0 0;
  }
  .grid-blog {
		margin: 20px 0;
	}
  .vistors-details {
	  margin: 20px 0 0; 
  }
  .footer .subscribe-form {
	  margin: 20px 0 0;
  }
  .banner-section h1 {
		font-size: 32px;
		margin-bottom: 15px;
	}
  .header-nav {
	  height: 70px;
  }
  .section-heading h2 {
		font-size: 28px;
		justify-content: center;
	}
	.section-heading p{
		font-size: 15px;
		text-align: center;
	}
  .featured-section, .cta-section, .popular-locations  {
		padding: 40px 0;
	}
	.grid-view .card-body {
	  padding: 15px;
  }
  .subscribe-form .btn-secondary, .subscribe-form .form-control {
		width: 100%;
	}
  .navbar-brand.logo {
	width: 100%;
	text-align: center;
	display: block;
	margin: 0;
	}
  .banner-section p.explore-text span {
		padding: 6px 20px;
	}
  .popular-locations .location-content a {
		font-size: 14px;
	}
  .popular-locations .location-content a.view-detailsbtn {
	font-size: 14px;
	padding: 6px 15px;
  }
  .featured-info a, .subscribe-form .btn-secondary {
	  font-size: 14px;
  }
	.featured-section .service-content h3 {
		max-width: none;
	}
	.testimonials-slidersection {
		padding-bottom: 10px;
	}
  .cta-section h3 {
		font-size: 28px;
	}
  .about-details {
	  display: block; 
		text-align: center;		
  }
  .about-headings {
	width: 100%;
	display: block;
	}
  .authordetails .rating {
	justify-content: center;
  }
  .author-img {
	margin: 0 0px 20px 0;
  }
  .contactbusinessform .submit-section .btn-primary {
	width: 100%;
  }
  .authordetails h5 {
		font-size: 22px;
	}
  .rate-details {
	width: 100%;
	text-align: center;
	margin: 20px 0 0;
	}
  .rate-details h2 {
		font-size: 32px;
	}
  .descriptionlinks ul li {
		margin: 0 0 15px;
	}
  .descriptionlinks ul {
		display: block;
	}
  .callnow {
		margin-top: 20px;
	}
  .details-main-wrapper {
		padding: 40px 0;  
	}
  .card {
	padding: 30px 20px;
  }
  .featureslist {
	width: 100%;
  }
  .review-box {
		display: block;
	}
  .review-img {
	margin-bottom: 20px;		
	}
  .review-details {
		margin-left: 0;
	margin-top: 20px;
	}
  .review-details .rating {
		display: block;
	}
  .gallery-content  {
	  display: block;		
  }
  .details-main-wrapper .gallery-content .gallery-widget img {
	   width: 100%;
  }
  .gallery-section .gallery-widget {
	margin: 0 0px 20px 0;
	width: auto;
	height: auto;
	}
  .details-main-wrapper .card-header {
	  display: inline-flex;
  }
  .review-gallery  {
		display: block;
	}
  .review-details .reply-box p {
		margin: 0 0 10px;		
	}
  .review-details .reply-box p a {
	display: block;
		margin: 10px 0;
	}
  .review-list li:nth-child(2) {
		margin-left: 0px;
	}
  .sideauthor-img {
		margin: 0 0 10px;
	}
  .sidebarauthor-details {
		display: block;
	text-align: center;
	}
  .feedbackbox .namefield {
		display: block;
	}
  .namefield .form-group {
	width: 100%;
	margin-right: 0;
	}
  .review-list .review-gallery li {
	width: auto;
	height: auto;
	margin: 0 0px 20px 0;
  }
  .rightsidebar .card .info-list {
	margin: 15px 0 0 0px;
  }
  .map-details {
		display: block;
	}
	.ratings-table {
	width: 100%;
	overflow: auto;
  }
  .feedbackbox .review-details h6 {
	font-size: 18px;
	}
	.amenities .search-btn .btn {
	width: 100%;
	}
  .breadcrumb-title, .innerbanner .breadcrumb-title {
		font-size: 28px;
	}
  .sorting-div .col-lg-8 {
		display: block;
		padding: 0;
	}
  .sorting-div  .col-lg-4 {
	  padding: 0;
  }
  .grid-listview {
	  margin: 10px 0 0 0;
  }
  .sorting-div  .count-search {
	  margin: 0 0 10px;
  }
  .blog-listview .card .blog-widget {
		display: block;
	}
  .blog-listview h6 {
	  width: auto;
  }
  .previtem a, .nextlink a {
		padding: 5px 8px;
	min-width: auto;
	}
  .blog-pagination {
		margin: 0 0 0px;
	}
  .pagelink ul li a {
		padding: 5px 8px;
		margin: 0 8px 0 0;
	}
   .previtem a i, .nextlink a i {
		display: none;
	}
  .showphotos {   
	bottom: 26px;
	font-size: 12px;
	border-radius: 5px;
	right: 15px;
	padding: 4px 12px;
	}
  .showphotos a {
	padding: 10px 20px;
  }
  .listmaplist-content .bloglist-content, .listmaplist-content .blog-img {
		width: 100%;
	}
  .listmaplist-content .blog-img img {
		height: auto;
		width: 100%;
	}
  .categorieslastsec.categories-content {
		margin-bottom: 23px;
	}
  .showfilter {
	  display: none;
  }
  .sorting-div {
		margin: 25px 0 25px;
	}
  .rightsidebar .card .article ul h6 {
		font-size: 16px;
	}
  .bloglisting .blog-pagination {
		margin: 0 0px 30px;
	}
  .blogbanner-content {
		padding: 15px;
	}
  .blogbanner-content span.blog-hint {
	  display: none;
  }
  .blogbanner-content h1 {
		font-size: 20px;		
	}	
  .blogbanner-content .entry-meta li:last-child {
	  margin-right: 0;
  }
  .blogdetail-content {
		padding: 60px 0;
  }
  .sharelink {
	  margin: 0 0 25px;
  }
  .tag-list .tags li {
	  margin-bottom: 15px;
  }
  .tag-list .tags {    
	flex-wrap: wrap;
	}
  .tag-list {
		justify-content: flex-start;
	}
  .blogdetails-pagination ul li h3 {
	  display:  none;
  }
  .howitwork-info h5:after {		
	top: 30px;
  }
  .bloginner-img {
		margin: 15px 0;
	}
  .innerbanner .blogbanner-img img {
		min-height: 150px;
	}
  .innerbanner .inner-breadcrumb {
		top: 40px;
	}
  .blogbanner {
	  min-height: 300px;
  }
  .requiremnts-info {
		margin: 15px 0 0;
	}
  .contactinfo-content {
		padding: 20px;
  }
  .contact-hours li {
	font-size: 14px;
  }
  .contactinfo-content h6 {
	  font-size: 20px;
  }
  .contact-info h1 {
		font-size: 32px;
	}
  .contact-info p {
		font-size: 14px;
	}
  .contactform-img {
	margin: 0 0 25px;
	}
  .work-section h4 {
	  font-size: 32px;
  }
  .work-section .work-info h1:after {
	  width: 64%;
  }
  .work-section .work-info {
	  margin: 0 0 20px;
  }
  .work-section {
		padding: 80px 0 0px;
  }
  .faq-section h4 {
		font-size: 16px;
	}
  .faq-section h1 {
		font-size: 28px;
	}
  .faq-section {
		padding: 60px 0;
	}
  .login-header h3 {
		font-size: 28px;
  }
  .login-content {
		padding: 60px 0;
	}
  .terms-content {
		padding: 60px 0;
	}
  .dashboard-content ul.dashborad-menus {   
	padding: 15px;	   
	flex-wrap: wrap;
	flex-direction: column;
	}
	.dashboard-content ul.dashborad-menus  li a {
		display: block;
	}
	.dashboard-content ul.dashborad-menus li {
		margin-bottom: 17px;
	margin-right: 0;
	}
	.dashboard-content ul.dashborad-menus li:last-child {
	  margin-bottom: 0;
	}		
  .dashboard-content {
	background: #f9fafc;
	}
  .listing-search {
		flex-direction: column;
	}
  .dash-listingcontent .group-img input {
	  width: 100%;
  }
  .dash-listingcontent .header-login.add-listing {
	  display: none;
  }
  .sorting-div .sortbyset {
	  margin: 0;
  }
  .listing-search .sortbyset .sorting-select {
	  width: 76%;
  }
  .settings-upload-btn .file-upload {
		padding: 12px 30px;
		margin: 15px 20px 15px 0;
  }
  .profile-photo {
	  display: block;
  }
  .settings-upload-btn {
	  margin: 0;
  }
  .profile-sidebar .card-body .group-img {
		width: auto;
	}
  .google-maps {
	  margin: 0;
  }
  .gallery-widget:nth-child(3), .gallery-widget:nth-child(4) {
	  display: none;
  }
  .rightsidebar {
	  margin: 20px 0 0;
  }
  .chat-cont-right {
		margin-top: 20px;
	}
  .chat-footer .attach-btn {
		width: 75%;
  }
  .chat-cont-right {
		margin: 20px 0 0;
  }
  .lat-input {
	  margin-bottom: 1rem;
  }
  .media-section .settings-upload-btn {
		margin: 0 0 20px;
	}
  .gallery-upload {
	margin: 0 0px 20px 0;
	}   
  .galleryimg-upload {
	  display: block;
  }
  .media-section .gallery-media .settings-upload-btn {
		margin: 0 0 0px;
	}
  .stay-tuned h3 {
		font-size: 22px;
	}
  .stay-tuned form {
		display: block;
  }
  .stay-tuned form .btn-primary {
		margin: 20px 0 0 0px;
  }
  .breadcrumb-bar:after, .breadcrumb-bar:before, .cta-section:before {
	  display: none;
  }
  .access-feature {
	  margin-bottom: 20px;
  }
  .error-wrap h2 {
		font-size: 28px;
	}
  .gallery-section .gallery-widget a:hover::before, .gallery-section .gallery-widget a:hover::before {
	  display: none;
  }
  .faq-section h2 {
		font-size: 28px;
  }
  .list-content .blog-listview .blog-img {
		border-radius: 0px 10px 10px 0;
	}
  .blog-listview .blog-img img, .grid-view .blog-img img {
		width: 100%;
	}
  .map-listing {
		margin: 0 0 25px;
	}
  .pagelink ul li a {
		width: 35px;
		height: 35px;
  }
  .rightsidebar .card .article {
	  width: 100%;
  }
  .bloglistleft-widget.blog-listview .blog-img {
	border-radius: 10px;
	}
  .work-section .work-info h5:after {
		width: calc(100% - 98px);
	}
  .profile-img {
		display: block;
		align-items: center;
	}
  .navbar-brand.logo img {
	width: auto;
	}
  #mobile_btn {
	margin-right: 0px;
	position: absolute;
	top: 20px;
	left: 0;
	}
  .australi-loc img {
		min-height: 240px;
	}
  .aboutlocation-details a {
	left: 15px;
	bottom: 15px;		
  }
  .navbar-header {
	  width: 100%;
	justify-content: center;		
  }
  .blog-pagination .pagination {
		display: flex;
	align-items: center;
	justify-content: center;
  }
  .previtem a, .nextlink a {
	  display: none;
  }
  .featuresform-list ul li {
	width: 100%;
	float: none;
	}
  .gallery-upload img {
	  width: 100%;
  }
  .feedbackbox .review-details {
	margin-left: 0;
	margin-top: 0;
	}
  .dashboard-content ul.dashborad-menus {
		align-items: initial;
  }
  .category-listing .col-lg-4 {
	  width: 100%;
  }
  .section-heading, .section-heading-two, .interset-btn {
		margin: 0 0 30px;
	}
  .access-feature.featureslist {
		margin: 0 0px 15px 0;
	}
  .chat-footer .attach-btn {
		margin: 0 10px 0 0;
	}
  .listing-table .avatar-img {
		min-width: 120px;
   }
   .details-main-wrapper .review-gallery img {
	  width: 100%;
  }
  .search-box form {
		flex-direction: column;
	}
  .gallerypage-info .gallery-widget img {
	  width: 100%;
  }
  .dashboard-info .review-list .review-box {
		display: block;
	}
  .card-dropdown li.dropdown.has-arrow a.pageviews-link {
	  min-width: 150px;
  }
  .messages-form .custom_check {
		margin: 0 0 15px;
	}
  .settings-upload-btn .file-upload {
		padding: 10px 15px;
		font-size: 14px;
  }
  .profile-photo span {
		font-size: 14px;
		display: block;
		margin: 0 0 15px;
	}
  .chat-window.chat-slide .chat-cont-right {
	width: 94%;		
  }
  .footercount {
	padding: 0 0 30px;
  }
  .banner-section-two img {
	height: 260px;
	width: 100%;
	object-fit: cover;
  }
  .home-banner-two h1 {
	font-size: 20px;
  }
  .wedding-form {
	background-size: 300px;
	padding: 68px 35px 36px;
  }
  .package-wrap {
	padding: 67px 60px;
  }
  .wedding-wrap.wedding-align {
	flex-direction: column-reverse;
  }
  .wedding-wrap {
	flex-direction: column;
  }
  .wedding-img {
	margin: 0 0 15px;
	text-align: center;
  }
  .wedding-content {
	text-align: center;
  }
  .footer-two .selection-list {
	margin: 0;
  }
  .wedding-img.align-right {
	margin: 15px 0 15px;
  }
  .block-e .cta-btn a {
	display: none;
  }	
  .header-three .header-nav {
	height: 50px;
  }
  .header-three #mobile_btn {
	top: 11px;
  }
  .section-blk .title-blk h2:before {
	right: 13px;
  }
  .subscribe-blk .input-group {
	padding: 6px;
  }
  .subscribe-btn-grp .btn {
	padding: 0;
  }
  .subscribe-btn-grp {
	padding: 8px 10px;
  }
  .subscribe-blk .banner-blk {
	display: none;
  }
  .banner-section.banner-three h1 {
	font-size: 22px;
  }
  .shadow-box h4 {
	font-size: 16px;
  }
  .top-foo-widget .help-info {
	display: block;
  }
  .top-foo-widget .help-info p:not(:last-child) {
	margin: 0 0 10px;
  }
  .middle-foo-widget .drop-blk .navbar-nav li a.lang-link {
	min-width: 130px;
  }
  .faq-shadow-blk {
	margin-bottom: 15px;
  }
  .banner-images {
	display: none;
  }
  .section-heading.heading-four h2 {
	font-size: 22px;
  }
	.section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__prev {
		left: 43%;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__prev{
		top: auto;
		left: 46%;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__next{
		top: auto;
	}
	.cate-section .cate-sec .carousel .carousel__prev {
		left: 0;
		top: -50px;
	}
	.cate-section .cate-sec .carousel .carousel__next {
		left: 50px;
		top: -50px;
	}
	.cate-section .interset-btn {
		margin-left: 18%;
	}
	.popular-section .owl-carousel .carousel .carousel__viewport ol{
		left: 26%;
	}
	.venue-section .owl-carousel .carousel .carousel__prev {
		left: 46%;
	}
	.popular-section .owl-carousel .carousel .carousel__prev {
		left: 46%;
	}
	.celebrate-section .owl-carousel .carousel .carousel__prev {
		left: 46%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__viewport ol{
		right: 25%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__viewport ol li{
		width: 551px !important;
	}
	.portfolio-section .owl-carousel .carousel .carousel__prev {
		left: 46%;
	}
	.feedback-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 46%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__viewport ol{
		gap: 10px;
		left: 18%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__prev {
		left: 46%;
	}
	.style1-blk .recommended-carousel .carousel .carousel__viewport ol{
		left: 82%;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__next {
		left: 45%;
	}
	.style2-blk .recommended-carousel .carousel .carousel__viewport ol{
		right: 22%;
	}
	.section-blk.blog-blk .recommended-carousel .carousel .carousel__viewport ol{
		left: 0%;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__prev{
		top: 350px;
		left: 46%;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__next{
		top: 350px;
	}
	.section-blk.testi-blk .testi-carousel .carousel .carousel__viewport ol{
		left: 2%;
	}
	.section-blk .testim-slider .carousel .carousel__prev {
		left: 46%;
		top: 290px;
	}
	.section-blk .testim-slider .carousel .carousel__next {
		top: 290px;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__viewport ol{
		left: 2%;
	}
  }
  @media (max-width: 320.98px){
	.popular-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 45%;
	}
	.celebrate-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 45%;
	}
	.venue-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 45%;
	}
	.portfolio-section .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 45%;
	}
	.feedback-section .owl-carousel .carousel .carousel__prev {
		top: 320px;
		left: 45%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__prev {
		top: auto;
		left: 45%;
	}
	.section-blk.destination-blk .destination-carousel .destination-slider .carousel .carousel__next {
		right: 42%;
	}
	.section-blk.style1-blk .recommended-carousel .recommended-slider .carousel .carousel__prev {
		top: auto;
		left: 40%;
	}
	.blog-blk .tab-pane .recommended-carousel .recommended-slider .carousel .carousel__prev {
		top: 350px;
		left: 44%;
	}
	.section-blk .testim-slider .carousel .carousel__prev {
		left: 44%;
		top: 360px;
	}
	.section-blk .testim-slider .carousel .carousel__next {
		right: 48%;
		top: 360px;
	}
	.section-blk.blog-block .testim-slider .carousel .carousel__prev {
		top: auto;
		left: 44%;
	}
	.cate-section .interset-btn {
		margin-left: 30%;
	}
	.testimonial-section .carousel .carousel__prev {
		top: -30px;
		left: 0;
	}
	.testimonial-section .carousel .carousel__next{
		top: -30px;
		left: 40px;
	}
	.destination-blk .destination-carousel .carousel .carousel__viewport ol {
		left: 5%;
	}
	.style1-blk .recommended-carousel .carousel .carousel__viewport ol {
		left: 52%;
	}
	.style2-blk .recommended-carousel .carousel .carousel__viewport ol{
		left: 76%;
	}
	.popular-section .owl-carousel .carousel .carousel__viewport ol {
		left: 5%;
	}
	.venue-section .owl-carousel .carousel .carousel__viewport ol {
		left: 5%;
	}
	.feedback-section .owl-carousel .carousel .carousel__viewport ol {
		left: 0%;
	}
	.blog-section-two .owl-carousel .carousel .carousel__viewport ol {
		gap: 10px;
		left: auto;
	}
	.featured-section .owl-carousel .carousel .carousel__viewport ol {
		right: auto;
	}
	.section-blk.blog-blk .recommended-carousel .carousel .carousel__viewport ol {
		left: 4%;
	}
  }
  .car-class-item:first-child {
	margin: 0 0 24px;
	margin-right: 24px !important;
  }
  .testimonial-section .testimonial-info.testi-four {
	margin: 10px 0 0;
	margin-right: 24px !important;
	margin-bottom: 50px !important;
	padding: 30px;
	box-shadow: none;
	position: relative;
  }
  .recommended-blk .tab-content .recommended-carousel .recommended-slider .recommended-widget .content-blk .loc-blk p {
	margin-right: 24px;
  }	
  .destination-carousel .owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 50px;
  }
  .popular-section .owl-carousel .carousel .carousel__prev{
	position: absolute;
	top: auto;
	left: 48%;
	background: #c10037;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .popular-section .owl-carousel .carousel .carousel__prev path{
	display: none;
  }
  .popular-section .owl-carousel .carousel .carousel__next{
	position: absolute;
	top: auto;
	right: 48%;
	background: #374b5c;
	border-radius: 20px;
	height: 10px;
	width: 10px;
  }
  .popular-section .owl-carousel .carousel .carousel__next path{
	display: none;
  }
  .testimonials-section .owl-carousel .testimonial-info .testi-img img{
	border-radius: 50px;
	width: 86px;
	height: 86px;
	border: 3px solid rgba(62, 102, 223, 0.3);
}
.testimonial-info {
	background: #ffffff;
	margin: 30px 20px 30px 0;
	padding: 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}	  
.blog-section-two .grid-blog.blog-two {
	background: #ffffff;
	border: 1px solid #e5e4f1;
	border-radius: 15px;
	padding: 15px;
	margin-right: 24px;
	margin-bottom: 50px;
  }
  .venue-section .venue-item {
	background: #ffffff;
	border: 1px solid #e5e4f1;
	border-radius: 15px;
	margin-right: 24px;
	margin-bottom: 50px;
	padding: 15px;
  }
  .common-padding {
	@include margin-padding(null, 80px 0 0 0);
	@include respond-below(custom991) {
		@include margin-padding(null, 45px 0 0 0);
	}
}

.cate-section .cate-sec .carousel .carousel__slide.carousel__slide{
    width: 196.002px !important;
    margin-right: 24px;
}

.carousel .carousel__track{
	margin: 0px !important;
}