  <ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content class="transparent background-size"
  [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-grid class="ion-padding" *ngIf="data != null">
      <!--- SETTINGS LOGIN SCREEN -->
      <ion-row class="ion-align-items-center">
        <ion-col class="background-white box-shadow border-radius ion-padding"
        size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img [src]="data.logo"></ion-img>
          <div class="clearfix"></div>
          <h1 class="text-size-xl ion-no-margin ion-text-wrap ion-text-capitalize">
            {{data.title}}</h1>
          <div class="clearfix"></div>
          <h2 class="text-size-xs ion-text-wrap"
          >{{data.subtitle}}</h2>
          <div class="clearfix"></div>
          <ion-item class="text-size-sm ion-no-padding transparent input">
            <ion-label text-size-xs position="floating">{{data.labelPassword}}
            </ion-label>
            <ion-input required type="password" [(ngModel)]="item.password"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isPasswordValid" icon-small name="remove-circle">
            </ion-icon>
          </ion-item>
          <ion-item class="text-size-sm ion-no-padding transparent input">
            <ion-label class="text-size-xs" position="floating">{{data.labelPasswordNew}}
            </ion-label>
            <ion-input required type="password" [(ngModel)]="item.confrim"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isConfrimValid" class="icon-small" name="remove-circle">
            </ion-icon>
          </ion-item>
          <!---Done button-->
          <ion-button class="ion-margin-top ion-float-end button-round"
          shape="round" fill="outline" (click)="onDoneFunc()">
            {{data.done}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
