<!-- DRAGEN AND DROP --COMPONENT 3 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-reorder-group disabled="false"
        (ionItemReorder)="ionItemReorder($event)">
          <ion-item lines="none" *ngFor="let item of data.items"
          (click)="onItemClickFunc(item, $event)">
            <!--Avatar-->
            <ion-avatar slot="start">
              <img [src]="item.image">
            </ion-avatar>
            <!--Title and Subtitle-->
            <ion-label>
              <h2 class="text-size-lg">{{item.title}}</h2>
              <h3 class="text-size-sm">{{item.description}}</h3>
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
