<app-header-eight></app-header-eight>
<!-- Banner Section -->
<section class="banner-section banner-eight">
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="section-search section-search-eight aos" data-aos="fade-up">
                        <h1> <span>Change your world,</span> Set <br> your tech career in motion with
                            <span>Listee</span>

                        </h1>
                        <p class="paragraph">Finding a job shouldn’t be a full-time job. 1,50,334 jobs listed
                            here! Your dream job
                            is waiting.</p>
                        <div class="search-box">
                            <form action="listing-grid-sidebar.html" class="d-flex">
                                <div class="search-input line">
                                    <div class="input-block">
                                        <div class="group-img">
                                            <input type="text" class="form-control"
                                                placeholder="Type your skill or other">
                                        </div>
                                    </div>
                                </div>
                                <div class="search-input">
                                    <div class="input-block">
                                        <div class="group-img">
                                            <input type="text" class="form-control"
                                                placeholder="Place you want?">
                                        </div>
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button (click)="direction()" class="btn btn-primary" type="submit"> <i class="fa fa-search"
                                            aria-hidden="true"></i> Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="popular-search">
                            <span>Popular Searches: </span>

                            <a href="javascript:void(0);">WordPress</a>

                            <a href="javascript:void(0);">HTML5</a>

                            <a href="javascript:void(0);">UI UX Designer</a>

                            <a href="javascript:void(0);">Marketing</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">

                </div>
                <div class="banner-main-img">
                    <div class="banner-imgs">
                        <img src="assets/img/banner/main-banner-7.png" class="img-fluid" alt="bannerimage">
                    </div>
                    <div class="banner-imgs-2">
                        <img src="assets/img/banner/circle-11.png" class="img-fluid" alt="bannerimage">
                    </div>
                    <div class="main-banner-left">
                        <img src="assets/img/banner-left-bottom.png" class="img-fluid" alt="bannerimage">
                    </div>
                    <div class="main-banner-left-shadow">
                        <img src="assets/img/banner-left-bottom-shadow.png" class="img-fluid"
                            alt="bannerimage">
                    </div>
                    <div class="main-banner-right">
                        <img src="assets/img/banner-right-bottom.png" class="img-fluid"
                            alt="bannerimage">
                    </div>
                    <div class="main-banner-right-shadow">
                        <img src="assets/img/banner-right-bottom-shadow.png" class="img-fluid"
                            alt="bannerimage">
                    </div>
                    <div class="banner-topic ">
                        <div class="topic-content one shape-1">
                            <div class="topic-img">
                                <img src="assets/img/content-img.png" class="img-fluid"
                                    alt="bannerimage">
                            </div>
                            <div class="topic-details ">
                                <h4>Finance</h4>
                                <p>3000+ Jobs Available</p>
                            </div>
                        </div>
                        <div class="topic-content two shape-2">
                            <div class="topic-img">
                                <img src="assets/img/content-img.png" class="img-fluid"
                                    alt="bannerimage">
                            </div>
                            <div class="topic-details">
                                <h4>Teacher</h4>
                                <p>2000+ Jobs Available</p>
                            </div>
                        </div>
                        <div class="topic-content three shape-2">
                            <div class="topic-details">
                                <h4>Marketing & Sales</h4>
                                <p>1500+ Jobs Available</p>
                            </div>
                            <div class="topic-img">
                                <img src="assets/img/content-img.png" class="img-fluid"
                                    alt="bannerimage">
                            </div>
                        </div>
                        <div class="topic-content four shape-1">
                            <div class="topic-details">
                                <h4>App Development</h4>
                                <p>5000+ Jobs Available</p>
                            </div>
                            <div class="topic-img">
                                <img src="assets/img/content-img.png" class="img-fluid"
                                    alt="bannerimage">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-main-bg">
        <div class="bannerleftop">
            <img src="assets/img/banner-top-bg.png" class="img-fluid" alt="arrow">
        </div>
        <div class="bannerleftbottom">
            <img src="assets/img/banner-center-bg.png" class="img-fluid" alt="arrow">
        </div>
        <div class="bannermiddle">
            <img src="assets/img/banner-middle.png" class="img-fluid" alt="arrow">
        </div>
    </div>
</section>
<!-- /Banner Section -->

<!-- Category Section -->
<section class="category-section category-eight ">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Browse Jobs By Category</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
        </div>
        <div class="category-details">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-1.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>UI/UX Design</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-2.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Digital Marketing</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-3.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Content Writing </h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-4.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>HR Management</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-5.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Account Finance </h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-6.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Sales</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-7.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Project Management</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-8.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Customer Support Care</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-9.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Business & Consulting</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-10.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Web Developer</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-11.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Construction</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="category-inner">
                        <div class="category-img-two">
                            <img src="assets/img/icons/icons-12.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="category-content">
                            <h4>Health and Care</h4>
                            <p>43 Jobs Available</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-items-center justify-content-center d-flex"><a [routerLink]="routes.listinggridsidebar"
                    class="category-btn">View All Category</a>
            </div>
        </div>
    </div>
</section>
<!-- /Category Section -->

<!-- Vaciencies Section -->
<section class="vaciencies-section vaciencies-eight ">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Latest Job Vacancies</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
        </div>
        <div class="vacancies-details">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="vacancies-box">
                        <div class="vacancies-top">
                            <span class="topic">Support</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="vacancies-inner">
                            <div class="vaca-img">
                                <img src="assets/img/icons/Logomark-1.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="vacancies-content">
                                <h4><a [routerLink]="routes.categories">Technical Support Engineer</a></h4>
                                <div class="vaca-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> San Diego, CA</p>
                                </div>
                            </div>
                        </div>
                        <div class="vaca-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore
                                magna aliqua.</p>
                        </div>
                        <div class="vaca-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate"> <i class="feather-dollar-sign"> </i> $30k - $45k </span>
                                </p>
                            </div>
                            <div class="footer-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="vacancies-box">
                        <div class="vacancies-top">
                            <span class="topic">Development</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="vacancies-inner">
                            <div class="vaca-img">
                                <img src="assets/img/icons/Logomark-2.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="vacancies-content">
                                <h4><a [routerLink]="routes.categories">Android Developer </a></h4>
                                <div class="vaca-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> New York</p>
                                </div>
                            </div>
                        </div>
                        <div class="vaca-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore
                                magna aliqua.</p>
                        </div>
                        <div class="vaca-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $40k - $80k </span>
                                </p>
                            </div>
                            <div class="footer-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="vacancies-box">
                        <div class="vacancies-top">
                            <span class="topic"> Design</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="vacancies-inner">
                            <div class="vaca-img">
                                <img src="assets/img/icons/Logomark-3.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="vacancies-content">
                                <h4><a [routerLink]="routes.categories">Junior Graphic Designer</a></h4>
                                <div class="vaca-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> California</p>
                                </div>
                            </div>
                        </div>
                        <div class="vaca-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore
                                magna aliqua.</p>
                        </div>
                        <div class="vaca-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $20k - $50k
                                    </span>
                                </p>
                            </div>
                            <div class="footer-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="vacancies-box">
                        <div class="vacancies-top">
                            <span class="topic">Sales</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="vacancies-inner">
                            <div class="vaca-img">
                                <img src="assets/img/icons/Logomark-4.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="vacancies-content">
                                <h4><a [routerLink]="routes.categories">Product Sales Specialist</a></h4>
                                <div class="vaca-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> Montreal, Quebec</p>
                                </div>
                            </div>
                        </div>
                        <div class="vaca-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore
                                magna aliqua.</p>
                        </div>
                        <div class="vaca-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $1L - $3L
                                    </span>
                                </p>
                            </div>
                            <div class="footer-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="vacancies-box">
                        <div class="vacancies-top">
                            <span class="topic">Account</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="vacancies-inner">
                            <div class="vaca-img">
                                <img src="assets/img/icons/Logomark-5.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="vacancies-content">
                                <h4><a [routerLink]="routes.categories">General Ledger Accountant</a></h4>
                                <div class="vaca-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> Boston</p>
                                </div>
                            </div>
                        </div>
                        <div class="vaca-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore
                                magna aliqua.</p>
                        </div>

                        <div class="vaca-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $60k - $80k </span>
                                </p>
                            </div>
                            <div class="footer-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="vacancies-box">
                        <div class="vacancies-top">
                            <span class="topic">Marketing</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="vacancies-inner">
                            <div class="vaca-img">
                                <img src="assets/img/icons/Logomark-6.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="vacancies-content">
                                <h4><a [routerLink]="routes.categories">Technical Support Engineer</a></h4>
                                <div class="vaca-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> San Diego, CA</p>
                                </div>
                            </div>
                        </div>
                        <div class="vaca-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore
                                magna aliqua.</p>
                        </div>

                        <div class="vaca-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $10k - $55k </span>
                                </p>
                            </div>
                            <div class="footer-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-items-center justify-content-center d-flex aos" data-aos="fade-up">
                <a [routerLink]="routes.categories" class="category-btn">View All Category</a>
            </div>
        </div>

        <div class="cat-bg-one">
            <img src="assets/img/cate-bg-1.png" alt="no-img">
        </div>
        <div class="cat-bg-two">
            <img src="assets/img/cate-bg-2.png" alt="no-img">
        </div>
    </div>
</section>
<!-- /Vaciencies Section -->

<!-- Job Section -->
<section class="cta-section job-section-eight">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 position-relative aos" data-aos="fade-up">
                <div class="job-img">
                    <img src="assets/img/job-img.png" class="img-fluid" alt="CTA">
                </div>
                <div class="job-role job-one ">
                    <div class="job-role-img">
                        <img src="assets/img/icons/job-role.png" class="img-fluid" alt="CTA">
                    </div>
                    <div class="job-title">
                        <p>Total Employees Hired</p>
                        <h3><span class="counterUp" [countUp]="1.5" [options]="{ duration: 10 }">1.5</span>M+</h3>
                    </div>
                </div>
                <div class="job-role job-two ">
                    <div class="job-role-img">
                        <img src="assets/img/icons/job-role.png" class="img-fluid" alt="CTA">
                    </div>
                    <div class="job-title">
                        <p>Platform downloaded</p>
                        <h3><span class="counterUp"  [countUp]="5" [options]="{ duration: 10 }">5</span>M+</h3>
                    </div>
                </div>
                <div class="job-role job-three ">
                    <div class="job-role-img">
                        <img src="assets/img/icons/job-role.png" class="img-fluid" alt="CTA">
                    </div>
                    <div class="job-title">
                        <p>Total Jobs</p>
                        <h3><span class="counterUp" [countUp]="5" [options]="{ duration: 10 }">0</span>M+</h3>
                    </div>
                </div>
                <div class="job-role job-four ">
                    <div class="job-role-img">
                        <img src="assets/img/icons/job-role.png" class="img-fluid" alt="CTA">
                    </div>
                    <div class="job-title">
                        <p>Company satisfied rate</p>
                        <h3><span class="counterUp" [countUp]="5" [options]="{ duration: 40 }">5</span>M+</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 aos" data-aos="fade-up">
                <div class="cta-content job-content">
                    <div class="section-heading heading-eight">
                        <h2>How It Works</h2>
                        <p class="vaca-para">Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                    <div class="preferred-part">
                        <div class="prefer-img">
                            <img src="assets/img/icons/icons-2.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="preferred-content">
                            <h5>Search for you preferred Job</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="preferred-part">
                        <div class="prefer-img">
                            <img src="assets/img/icons/icons-9.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="preferred-content">
                            <h5>Search for you preferred Job</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="preferred-part">
                        <div class="prefer-img">
                            <img src="assets/img/icons/icons-11.png" class="img-fluid" alt="no-img">
                        </div>
                        <div class="preferred-content">
                            <h5>Search for you preferred Job</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /Job Section -->

<!-- Partners Section -->
<div class="partners-section partner-section-eight">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Our Partners </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="universitiesCompaniesOwlOptions">
            <ng-container *ngFor="let slide of universitiesCompanies">
              <ng-template carouselSlide>
                <ul class="partnerslist d-flex">
                  <li>
                    <a href="javascript:void(0);"
                      ><img class="img-fluid" [src]="slide.img" alt="partners"
                    /></a>
                  </li>
                </ul>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
    </div>
</div>
<!-- /Partners  Section -->

<!-- Popular Section -->
<section class="popular-section popular-eight ">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Most Popular Jobs</h2>
                    <p>Highlight the most popular owners</p>
                </div>
            </div>
        </div>
        <div class="popular-details">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="popular-box">
                        <div class="popular-top">
                            <span class="topic">Marketing</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="popular-inner">
                            <div class="popular-img">
                                <img src="assets/img/icons/job-logomark-1.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="popular-content ">
                                <h4> <a [routerLink]="routes.categories"> Digital Marketer</a></h4>
                                <div class="popular-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> San Diego, CA</p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $20k - $25k </span>
                                </p>
                            </div>
                            <div class="popular-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="popular-box">
                        <div class="popular-top">
                            <span class="topic">Support</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="popular-inner">
                            <div class="popular-img">
                                <img src="assets/img/icons/job-logomark-2.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="popular-content">
                                <h4><a [routerLink]="routes.categories"> IT Support Associate </a></h4>
                                <div class="popular-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> New York</p>
                                </div>
                            </div>
                        </div>

                        <div class="popular-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i>$30k - $35k </span>
                                </p>
                            </div>
                            <div class="popular-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="popular-box">
                        <div class="popular-top">
                            <span class="topic"> Support</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="popular-inner">
                            <div class="popular-img">
                                <img src="assets/img/icons/job-logomark-3.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="popular-content">
                                <h4><a [routerLink]="routes.categories"> Technical Support Engineer </a></h4>
                                <div class="popular-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> San Diego, CA</p>
                                </div>
                            </div>
                        </div>

                        <div class="popular-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $40k - 425k
                                    </span>
                                </p>
                            </div>
                            <div class="popular-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="popular-box">
                        <div class="popular-top">
                            <span class="topic">Sales</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="popular-inner">
                            <div class="popular-img">
                                <img src="assets/img/icons/job-logomark-4.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="popular-content">
                                <h4> <a [routerLink]="routes.categories"> Product Sales Specialist </a></h4>
                                <div class="popular-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> Montreal, Quebec</p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $35k - $65k
                                    </span>
                                </p>
                            </div>
                            <div class="popular-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="popular-box">
                        <div class="popular-top">
                            <span class="topic">Account</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="popular-inner">
                            <div class="popular-img">
                                <img src="assets/img/icons/job-logomark-5.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="popular-content">
                                <h4> <a [routerLink]="routes.categories"> General Ledger Accountant </a></h4>
                                <div class="popular-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> Boston</p>
                                </div>
                            </div>
                        </div>

                        <div class="popular-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i>$40k - $55k </span>
                                </p>
                            </div>
                            <div class="popular-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="popular-box">
                        <div class="popular-top">
                            <span class="topic">Design</span>
                            <a href="javascript:void(0);" class="fav-icon-top">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>

                        <div class="popular-inner">
                            <div class="popular-img">
                                <img src="assets/img/icons/job-logomark-6.png" class="img-fluid" alt="arrow">
                            </div>
                            <div class="popular-content">
                                <h4> <a [routerLink]="routes.categories"> Junior Graphic Designer </a></h4>
                                <div class="popular-location">
                                    <p>Company Name</p>
                                    <p class="light-color">|</p>
                                    <p><i class="fas fa-light fa-location-dot"></i> California</p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-footer">
                            <div class="time">
                                <p><i class="feather-briefcase"></i> Full Time
                                    <span class="p-rate">
                                        <i class="feather-dollar-sign"> </i> $10k - $25k </span>
                                </p>
                            </div>
                            <div class="popular-btn">
                                <a [routerLink]="routes.categories" class="btn-view">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-items-center justify-content-center d-flex aos" data-aos="fade-up">
                <a [routerLink]="routes.categories" class="category-btn">View All Category</a>
            </div>
        </div>

        <div class="pop-bg-one">
            <img src="assets/img/popular-bg-1.png" alt="no-img">
        </div>
        <div class="pop-bg-two">
            <img src="assets/img/popular-bg-2.png" alt="no-img">
        </div>
    </div>
</section>
<!-- /Popular Section -->

<!-- /Ads Section -->
<section class="advertisement advertisement-eight">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-6 aos" data-aos="fade-up">
                <div class="adv-box adv-bg-one">
                    <div class="adv-img">
                        <img src="assets/img/ads-1.png" alt="no-img">
                    </div>
                    <div class="adv-content">
                        <h4>Employers</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing dolore magna aliqua. Ut enim ad
                            minim veniam, quis ea commodo consequat.</p>
                        <div class="adver-btn">
                            <a href="javascript:void(0);" class="btn-primary">Register Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6 aos" data-aos="fade-up">
                <div class="adv-box adv-bg-two">
                    <div class="adv-img">
                        <img src="assets/img/ads-1.png" alt="no-img">
                    </div>
                    <div class="adv-content">
                        <h4>Candidate</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing dolore magna aliqua. Ut enim ad
                            minim veniam, quis ea commodo consequat.</p>
                        <div class="adver-btn">
                            <a href="javascript:void(0);" class="btn-primary btn-dark">Register Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Ads Section -->

<!-- Pricing Plan Section -->
<section class="pricingplan-section pricing-eight">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Our Pricing plans</h2>
                    <p>Highlight the most popular owners</p>
                </div>

                <div class="col-md-12 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <div class="interset-btn">
                        <div class="status-toggle d-inline-flex align-items-center">
                            Monthly
                            <input type="checkbox" id="status_1" class="check">
                            <label for="status_1" class="checktoggle">checkbox</label>
                            Yearly
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 d-flex col-md-6 aos" data-aos="fade-up">
                <div class="price-card price-content flex-fill">
                    <div class="price-head">
                        <div class="price-level">
                            <h2> &nbsp;</h2>
                        </div>
                        <h4>All limited links</h4>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li class="active">Own analytics platform</li>
                            <li class="active">Chat support</li>
                            <li class="active">Number of users</li>
                            <li class="inactive">Optimize hashtags</li>
                            <li class="inactive">Account manager</li>
                            <li class="inactive">Number of articles</li>
                            <li class="inactive">Satisfaction guaranteed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex col-md-6 aos" data-aos="fade-up">
                <div class="price-card main-price flex-fill">
                    <div class="price-head">
                        <div class="price-level">
                            <h2>Starter</h2>
                        </div>
                        <h3>$10<span>/ month</span></h3>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active">1 user</li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="inactive into-color"><i class="fa-solid fa-xmark"></i></li>
                            <li class="inactive into-color"><i class="fa-solid fa-xmark"></i></li>
                        </ul>
                        <div>
                            <a [routerLink]="routes.login" class="btn viewdetails-btn">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex col-md-6 aos" data-aos="fade-up">
                <div class="price-card main-price flex-fill">
                    <div class="price-head">
                        <div class="price-level">
                            <h2>Pro</h2>
                        </div>
                        <h3>$100<span>/ month</span></h3>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active">3 user</li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="inactive"><i class="fa-solid fa-check"></i></li>
                            <li class="inactive into-color"><i class="fa-solid fa-xmark"></i></li>
                        </ul>
                        <div>
                            <a [routerLink]="routes.login" class="btn viewdetails-btn">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex col-md-6 aos" data-aos="fade-up">
                <div class="price-card main-price flex-fill">
                    <div class="price-head">
                        <div class="price-level">
                            <h2>Enterprise</h2>
                        </div>
                        <h3>$200 <span>/ month</span></h3>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="active">Unlimited</li>
                            <li class="active"><i class="fa-solid fa-check"></i></li>
                            <li class="inactive"><i class="fa-solid fa-check"></i></li>
                            <li class="inactive"><i class="fa-solid fa-check"></i></li>
                        </ul>
                        <div>
                            <a [routerLink]="routes.login" class="btn viewdetails-btn">View details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing-pg-one">
        <img src="assets/img/banner-middle.png" alt="img">
    </div>
    <div class="pricing-pg-two">
        <img src="assets/img/pricing-bg.png" alt="img">
    </div>
</section>

<!-- /Pricing Plan Section -->

<!-- Testimonial  Section -->
<section class="testimonial-section-eight">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>What Jobholders Say’s About Us </h2>
                    <p>Highlight the most popular owners</p>
                </div>
            </div>
        </div>
        <div class="testi-carousel">
            <div class="job-slider custom-job-slider owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <owl-carousel-o [options]="jobholderOwlOptions"> 
                            <ng-container *ngFor="let slide of jobholder">
                                <ng-template carouselSlide> 
                                    <div class="owl-item cloned">
                                        <div class="testi-widget-eight aos aos-init aos-animate" data-aos="fade-up">
                                            <div class="test-details">
                                                <div class="icon-blk">
                                                    <img [src]="slide.img"
                                                        alt="Dreamstrip Testimonials">
                                                </div>
                                            </div>
                                            <div class="testi-content">
                                                <p>{{slide.para}}
                                                </p>
                                            </div>
                                            <div class="testi-location">
                                                <h4>{{slide.name}}</h4>
                                                <p>{{slide.position}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>	
                       
                      
                    </div>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
        <div class="testimonial-nav">

        </div>
    </div>
    <div class="test-bg">
        <img src="assets/img/test-bg.png" class="img-fluid" alt="img">
    </div>
</section>
<!-- /Testimonial Section -->

<!-- Blog-section start -->
<section class="blog-eight-section">
    <div class="container">
        <div class="section-heading heading-eight">
            <div class="row align-items-center">
                <div class="col-md-12 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Recent News &amp; Articles </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <div class="blog-eight grid-blog-eight aos aos-init aos-animate" data-aos="fade-up">
                        <div class="blog-image-eight">
                            <a [routerLink]="routes.blogdetails">
                                <img src="assets/img/blog/news-article-1.jpg" class="img-fluid"
                                    alt="Post Image">
                            </a>
                        </div>
                        <div class="blog-content-eight">
                            <p class="blog-category-eight">
                                <a href="javascript:void(0);"><span>Popular Jobs</span></a>
                                <a href="javascript:void(0);"><span>UX Designer</span></a>
                                <a href="javascript:void(0);"><span>Paris</span></a>
                            </p>
                            <h3 class="blog-title">
                                <a [routerLink]="routes.blogdetails">Lorem Ipsum is simply dummy text of the printing
                                    industry.
                                </a>
                            </h3>
                            <p class="blog-description-eight">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Ut lectus elementum lectus eu nisl, purus...
                            </p>
                            <ul class="entry-meta meta-item-eight">
                                <li>
                                    <div class="post-author-eight">
                                        <div class="post-author-img-eight">
                                            <img src="assets/img/profiles/avatar-05.jpg" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> John </span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-author-btn ">
                                        <a [routerLink]="routes.blogdetails"> Read More <i
                                                class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <div class="blog-eight grid-blog-eight aos aos-init aos-animate" data-aos="fade-up">
                        <div class="blog-image-eight">
                            <a [routerLink]="routes.blogdetails"><img class="img-fluid"
                                    src="assets/img/blog/news-article-2.jpg" alt="Post Image"></a>
                        </div>
                        <div class="blog-content-eight">
                            <p class="blog-category-eight">
                                <a href="javascript:void(0);"><span>Popular Jobs</span></a>
                                <a href="javascript:void(0);"><span>Web Designer</span></a>
                                <a href="javascript:void(0);"><span>London</span></a>
                            </p>
                            <h3 class="blog-title">
                                <a [routerLink]="routes.blogdetails">Lorem Ipsum is simply dummy text of the printing
                                    industry.
                                </a>
                            </h3>
                            <p class="blog-description-eight">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Ut lectus elementum lectus eu nisl, purus...
                            </p>
                            <ul class="entry-meta meta-item-eight">
                                <li>
                                    <div class="post-author-eight">
                                        <div class="post-author-img-eight">
                                            <img src="assets/img/profiles/avatar-05.jpg" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> Smith </span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-author-btn ">
                                        <a [routerLink]="routes.blogdetails"> Read More <i
                                                class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <div class="blog-eight grid-blog-eight aos aos-init aos-animate" data-aos="fade-up">
                        <div class="blog-image-eight">
                            <a [routerLink]="routes.blogdetails"><img class="img-fluid"
                                    src="assets/img/blog/news-article-3.jpg" alt="Post Image">
                            </a>
                        </div>
                        <div class="blog-content-eight">
                            <p class="blog-category-eight">
                                <a href="javascript:void(0);"><span>Popular Jobs</span></a>
                                <a href="javascript:void(0);"><span>UI Designer</span></a>
                                <a href="javascript:void(0);"><span>New York</span></a>
                            </p>
                            <h3 class="blog-title">
                                <a [routerLink]="routes.blogdetails">Lorem Ipsum is simply dummy text of the printing
                                    industry.
                                </a>
                            </h3>
                            <p class="blog-description-eight">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Ut lectus elementum lectus eu nisl, purus...
                            </p>
                            <ul class="entry-meta meta-item-eight">
                                <li>
                                    <div class="post-author-eight">
                                        <div class="post-author-img-eight">
                                            <img src="assets/img/profiles/avatar-05.jpg" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> David </span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-author-btn ">
                                        <a [routerLink]="routes.blogdetails"> Read More
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-items-center justify-content-center d-flex aos" data-aos="fade-up">
            <a [routerLink]="routes.blogdetails" class="category-btn">View All Category</a>
        </div>
    </div>
</section>
<!-- Blog-section end -->

<!-- /Ads-banner-section start -->
<section class="advertisement-section advertisement-section-eight">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="left-ads">
                    <div class="ads-img">
                        <img src="assets/img/ads-banner.png" class="img-fluid" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 d-flex align-items-center aos" data-aos="fade-up">
                <div class="right-ads">
                    <div class="ads-content">
                        <h1>Get Matched the most valuable jobs, Just drop your CV at Listee</h1>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry printing and type
                            setting industryLorem Ipsum is simply dummy text printing and type setting industry
                            printing and type setting industry</p>

                        <div class="advs-btn">
                            <a [routerLink]="routes.contact">Upload your CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ads-bg-right"></div>
</section>
<!-- /Ads-banner-section end -->
<app-footer-eight></app-footer-eight>
