<!-- Footer -->
<footer class="footer footer-two">
		
  <div class="footer-social">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h6>Would you like to connect with us</h6>
        </div>
        <div class="col-md-6">
          <div class="social-icon">
            <ul>
              <li>
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>	
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Top -->
  <div class="footer-top aos" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget">
            <div class="footer-logo">
              <a [routerLink]="routes.home"><img src="assets/img/footerlogo.svg" alt="logo"></a>
            </div>
            <div class="footer-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="update-form">
              <form action="#">
                <span><i class="feather-mail"></i></span> 
                <input type="email" class="form-control" placeholder="Enter You Email Here">
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
            </div>								
          </div>
          <!-- /Footer Widget -->
        </div>
        <div class="col-lg-2 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">About us</h2>
            <ul>
              <li>
                <a [routerLink]="routes.about">Our product</a>
              </li>
              <li>
                <a href="javascript:void(0)">Documentation</a>
              </li>
              <li>
                <a [routerLink]="routes.servicedetails">Our Services</a>
              </li>
              <li>
                <a href="javascript:void(0)">Get Started Us</a>
              </li>
              <li>
                <a [routerLink]="routes.contact">Contact Us</a>
              </li>									
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>
        <div class="col-lg-2 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Quick links</h2>
            <ul>
              <li>
                <a href="javascript:void(0)">Market Place</a>
              </li>
              <li>
                <a href="javascript:void(0)">Documentation</a>
              </li>
              <li>
                <a href="javascript:void(0)">Customers</a>
              </li>
              <li>
                <a href="javascript:void(0)">Carriers</a>
              </li>
              <li>
                <a [routerLink]="routes.bloglist">Our Blog</a>
              </li>									
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>
        <div class="col-lg-2 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Top Cities</h2>
            <ul>
              <li>
                <a href="javascript:void(0)">Manhatten</a>
              </li>
              <li>
                <a href="javascript:void(0)">Los Angeles</a>
              </li>
              <li>
                <a href="javascript:void(0)">Houston</a>
              </li>
              <li>
                <a href="javascript:void(0)">Chicago</a>
              </li>
              <li>
                <a href="javascript:void(0)">Alabama</a>
              </li>									
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>
        <div class="col-lg-2 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget">
            <h2 class="footer-title">Communication</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <img src="assets/img/call-calling.svg" alt="Callus">
                <p><span>Call Us</span> <br> +017 123 456 78	 </p>
              </div>
              <div class="footer-address">
                <img src="assets/img/sms-tracking.svg" alt="Callus">
                <p><span>Send Message</span> <br> listee@example.com	 </p>
              </div>							
            </div>																
          </div>
          <!-- /Footer Widget -->							
        </div>
      </div>
      
      <!-- Footer Counter Section-->
      <div class="footercount">
        <div class="row">
          <div class="col-md-6">
              <div class="vistors-details">
              <ul class="d-flex">
                <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa-01.svg" alt="visa"></a></li>
                <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master-01.svg" alt="paycard"></a></li>
                <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/discover.svg" alt="spay"></a></li>
                <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/stripe.svg" alt="spay"></a></li>
              </ul>										   								
            </div>									 
          </div>
          <div class="col-md-6">
            <div class="selection-list ">
              <div class="lang-select">
                <span class="select-icon"><i class="feather-globe"></i></span>
                <mat-select [(ngModel)]="country" [ngModelOptions]="{standalone: true}"class="select">
                  <mat-option value="India">India</mat-option>
                  <mat-option value="UK">UK</mat-option>
                  <mat-option value="Japan">Japan</mat-option>
                </mat-select>
              </div>
              <div class="currency-select">
                <mat-select [(ngModel)]="currency" [ngModelOptions]="{standalone: true}" class="select">
                  <mat-option value="USD">USD</mat-option>
                  <mat-option value="Euro">Euro</mat-option>
                </mat-select>			
              </div>	
            </div>								 
          </div>

        </div>
      </div>			
          <!-- /Footer  Counter Section-->	
      
    </div>
  </div>
  <!-- /Footer Top -->
        
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text text-center">
              <p class="mb-0">All Copyrights Reserved &copy; 2023 - Listee.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
  
</footer>
<!-- /Footer -->