<app-header-nine></app-header-nine>
<!-- Banner -->
 <section class="banner-section banner-nine">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-contents">
                    <h1 class="aos" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Find Your Dream Home</h1>
                    <h6 class="mb-0 aos" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Only real estate platform with 10,000+ highly rated sellers</h6>
                    <p class="aos" data-aos="fade-up" data-aos-delay="200">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    <div class="banner-nine-btn-group">
                        <a [routerLink]="routes.categories" class="aos" data-aos="fade-up" data-aos-delay="300">
                            <span>Add Listing</span>
                        </a>
                        <a [routerLink]="routes.categories" class="aos" data-aos="fade-up" data-aos-delay="300">
                            <span>Search Property</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->

<!-- Search Filter Section -->
<section class="car-search-filter realestate-search-filter  aos" data-aos="fade-up" data-aos-delay="400">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-filter-section">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Buy Property</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Sell Property</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="search-tab-col">
                                <form action="listing-grid-sidebar.html" >
                                    <div class="row align-items-center search-form">
                                        <div class="col-12 col-lg-10 datepicker-col search-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <i class="feather-map-pin"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <input type="text" name="name" class="border-0 text-truncate px-0 form-control" placeholder="Search location of Property">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <span><i class="feather-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <input type="text" name="checkin" class="border-0 text-truncate px-0 form-control datetimepicker" placeholder="Check-in" bsDatepicker
                                                            [bsConfig]="{ isAnimated: true }">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <span><i class="feather-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <input type="text" name="checkout" class="border-0 text-truncate px-0 form-control datetimepicker" placeholder="Check- out"  bsDatepicker
                                                            [bsConfig]="{ isAnimated: true }">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search real-select">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <span><i class="feather-users"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <mat-form-field class="mat-custom-select guest">
                                                                <mat-label *ngIf="selectedLocation === ''">
                                                                  Guest</mat-label
                                                                >
                                                                <mat-select [(ngModel)]="selectedLocation" [ngModelOptions]="{standalone: true}">
                                                                  <mat-option disabled class="search-input-option">
                                                                    <input
                                                                      [(ngModel)]="searchInputCategory" [ngModelOptions]="{standalone: true}"
                                                                      (ngModelChange)="
                                                                        searchCategory(searchInputCategory)
                                                                      "
                                                                      class="search-input"
                                                                      type="text"
                                                                    />
                                                                  </mat-option>
                                                                  <mat-option
                                                                  [value]="item.guestName"
                                                                  *ngFor="let item of guest"
                                                                  >{{ item.guestName }}</mat-option
                                                                >
                                                                 
                                                                </mat-select>
                                                              </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2 real-search-bar">
                                            <button class="btn car-search-icon" type="submit">Search Properties</button>
                                        </div>
                                    </div>
                                </form>	
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="search-tab-col">
                                <form action="listing-grid-sidebar.html" >
                                    <div class="row align-items-center search-form">
                                        <div class="col-12 col-lg-10 datepicker-col search-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <i class="feather-map-pin"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <input type="text" name="name" class="border-0 text-truncate px-0 form-control" placeholder="Search location of Property">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <img src="./assets/img/icons/calender.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <input type="text" name="checkin" class="border-0 text-truncate px-0 form-control datetimepicker" placeholder="Check-in">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <img src="./assets/img/icons/calender.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <input type="text" name="checkout" class="border-0 text-truncate px-0 form-control datetimepicker" placeholder="Check- out">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search real-select">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <img src="./assets/img/icons/users.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <select class="form-control select category-select">													
                                                                <option>Guest</option>
                                                                <option>User</option>
                                                                <option>Admin</option>
                                                                <option>Seller</option>
                                                                <option>Buyer</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2 real-search-bar">
                                            <button class="btn car-search-icon" type="submit">Search Properties</button>
                                        </div>
                                    </div>
                                </form>	
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Search Filter Section -->

<!-- Featured Listings -->
<section class="featured-listing-section common-padding">
    <div class="footer-six-bg footer-nine-bg">
        <img src="./assets/img/bg/feature-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-3"></div>
                <div class="col-lg-4 col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Featured Listings</h2>
                    <p>The most trendy accommodations available</p>
                </div>
                <div class="col-lg-4 col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a [routerLink]="routes.categories" class="btn  btn-view">View all Properties</a>
                </div>		
            </div>	
          </div>
          <div class="row aos" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12">
                <div class="car-class-carousel">
                    <div class="real-featured-listing ">
                        <owl-carousel-o [options]="listingOwlOptions">
                            <ng-container *ngFor="let slide of listing">
                                <ng-template carouselSlide>
                                    <div class="feature-rent">
                                        <div class="feature-home-img">
                                            <a [routerLink]="routes.listingmaplist"><img [src]="slide.img" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="green-logo">
                                            <img [src]="slide.img1" class="img-fluid" alt="">
                                        </div>
                                        <div class="select-favourite-room">
                                            <div class="favourite-small-user">
                                                <img [src]="slide.img2" class="img-fluid" alt="">
                                            </div>
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                        <div class="house-location">
                                            <span>{{slide.location}}</span>
                                            <p><i class="feather-map-pin"></i>{{slide.map}}</p>
                                        </div>
                                        <div class="home-img-text">
                                            <div class="star-rated">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <span>2.8</span>
                                            </div>
                                            <h3><a [routerLink]="routes.listingmaplist">{{slide.listingmap}}</a></h3>
                                            <div class="top-room-details">
                                                <div class="area">
                                                    <span><img [src]="slide.areaicon" class="img-fluid" alt="">{{slide.area}}</span>
                                                </div>
                                                <div class="area">
                                                    <span><img [src]="slide.bedicon" class="img-fluid" alt="">{{slide.bed}}</span>
                                                </div>
                                                <div class="area">
                                                    <span><img [src]="slide.bathicon" class="img-fluid" alt="">{{slide.bath}}</span>
                                                </div>
                                            </div>
                                            <div class="house-type">
                                                <span class="room-type"><i class="feather-home"></i>{{slide.type}}</span>
                                                <span class="double-tick"><i class="fa-solid fa-check-double"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>	
                       
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /Featured Listings -->

<!-- Why Choose Us -->
<section class="real-why-us common-padding position-relative">
    <div class="real-why-us-floating-bg">
        <img src="./assets/img/bg/why-us-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-4 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Why Choose Us</h2>
                    <p>We provide full service at every step.</p>
                </div>
                <div class="col-md-4 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                </div>		
            </div>	
          </div>
          <div class="row aos" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="assets/img/icons/why-us-1.svg" alt="img"></span>
                    <h6>Trusted By Thousands</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="assets/img/icons/why-us-2.svg" alt="img"></span>
                    <h6>Wide Range Of Properties</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="assets/img/icons/why-us-3.svg" alt="img"></span>
                    <h6>Financing Made Easy</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="assets/img/icons/why-us-4.svg" alt="img"></span>
                    <h6>See Neighborhoods</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
          </div>
    </div>
</section>
<!-- /Why Choose Us -->

<!-- Listed Properties Management Companies -->
<div class="section properties-managments common-padding">
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Listed Properties Management Companies</h2>
                    <p>The most trendy accommodations available</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a [routerLink]="routes.categories" class="btn  btn-view">View all Companies</a>
                </div>		
            </div>	
          </div>
          <div class="row aos" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12">
                <div class="car-class-carousel">
                    <div class="property-listing-slider">
                        <owl-carousel-o [options]="managementcomponiesOwlOptions">
                            <ng-container *ngFor="let slide of managementcomponies">
                                <ng-template carouselSlide> 
                                    <div class="property-item">
                                        <a [routerLink]="routes.categories"><div class="companies-set mb-4">
                                            <div class="companies-set-head">
                                                <div class="companies-set-logo">
                                                    <span><img [src]="slide.logo" alt="img"></span>
                                                </div>
                                                <div class="companies-set-content">
                                                    <h5><span>{{slide. number}}</span>{{slide.content}}</h5>
                                                    <h6>{{slide. propertyname}}</h6>
                                                </div>
                                            </div>
                                            <div class="companies-set-count">
                                                <ul>
                                                    <li>
                                                        <h6>{{slide. companiescount1}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                    <li>
                                                        <h6>{{slide. companiescount2}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                    <li>
                                                        <h6>{{slide. companiescount3}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                </ul>
                                                <div class="companies-set-btn">
                                                    <a [routerLink]="routes.listinglistsidebar" class="btn btn-linebtn">View All Listing<i class="fa fa-arrow-right ms-3" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div></a>
                                        <!-- <a [routerLink]="routes.categories"><div class="companies-set">
                                            <div class="companies-set-head">
                                                <div class="companies-set-logo">
                                                    <span><img [src]="{{slide.logo}}" alt="img"></span>
                                                </div>
                                                <div class="companies-set-content">
                                                    <h5><span>{{slide.number}}</span>{{slide.content}}</h5>
                                                    <h6>{{slide.propertyname}}</h6>
                                                </div>
                                            </div>
                                            <div class="companies-set-count">
                                                <ul>
                                                    <li>
                                                        <h6>{{slide.companiescount1}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                    <li>
                                                        <h6>{{slide.companiescount1}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                    <li>
                                                        <h6>{{slide.companiescount1}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                </ul>
                                                <div class="companies-set-btn">
                                                    <a [routerLink]="routes.listinglistsidebar" class="btn btn-linebtn">View All Listing<i class="fa fa-arrow-right ms-3" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div></a> -->
                                    </div>
                                    <div class="property-item">
                                        <a [routerLink]="routes.categories"><div class="companies-set mb-4">
                                            <div class="companies-set-head">
                                                <div class="companies-set-logo">
                                                    <span><img [src]="slide.logo" alt="img"></span>
                                                </div>
                                                <div class="companies-set-content">
                                                    <h5><span>{{slide. number}}</span>{{slide.content}}</h5>
                                                    <h6>{{slide. propertyname}}</h6>
                                                </div>
                                            </div>
                                            <div class="companies-set-count">
                                                <ul>
                                                    <li>
                                                        <h6>{{slide. companiescount1}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                    <li>
                                                        <h6>{{slide. companiescount2}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                    <li>
                                                        <h6>{{slide. companiescount3}}</h6>
                                                        <span>{{slide.name}}</span>
                                                    </li>
                                                </ul>
                                                <div class="companies-set-btn">
                                                    <a [routerLink]="routes.listinglistsidebar" class="btn btn-linebtn">View All Listing<i class="fa fa-arrow-right ms-3" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div></a>
                                       
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>	
                        
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Listed Properties Management Companies -->

<!-- Perfect Holiday Cabin Section -->
<section class="perfect-holiday-cabin-section">
    <div class="holiday-cabin-img-slider ">
        <owl-carousel-o [options]="holidayCabinOwlOptions">
            <ng-container *ngFor="let slide of holidayCabin">
                <ng-template carouselSlide>
                    <div class="item">
                        <img [src]="slide.img" class="img-fluid" alt="">
                        <div class="container">
                            <div class="holiday-cabin-info" data-aos="fade-up">
                                <div class="rate-per-day">
                                    <span>{{slide. rate}}</span>
                                    <h6>{{slide. per}}</h6>
                                </div>
                                <div class="section-heading">
                                    <h2>{{ slide.head}}</h2>
                                    <p>{{slide.para}} </p>
                                </div>
                                <div class="room-categories">
                                    <span><img [src]="slide.areaicon" class="img-fluid" alt="">{{slide.area}}</span>
                                    <span><img [src]="slide.bedicon" class="img-fluid" alt="">{{slide.bed}}</span> 
                                    <span><img [src]="slide.flooricon" class="img-fluid" alt="">{{slide.floor}}</span>
                                    <span><img [src]="slide.guesticon" class="img-fluid" alt="">{{slide.guest}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
       
       
    </div>
</section>
<!-- /Perfect Holiday Cabin Section -->

<!-- Explore Our Categories -->
<section class="explore-categories common-padding">
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Explore Our Categories</h2>
                    <p>The most trendy accommodations available</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a [routerLink]="routes.categories" class="btn  btn-view">View all Catgeorries</a>
                </div>		
            </div>	
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="car-class-carousel">
                    <div class="best-places-rent-slider " data-aos="fade-right">
                        <owl-carousel-o [options]="bestroomsOwlOptions">
                            <ng-container *ngFor="let slide of bestrooms">
                                <ng-template carouselSlide> 
                                    <div class="best-room">
                                        <div class="best-room-img">
                                            <a [routerLink]="routes.listinglistsidebar"><img [src]="slide.img" class="img-fluid" alt=""></a>
                                        </div>
                                        <a [routerLink]="routes.listinglistsidebar">
                                            <div class="best-room-type">
                                                <h5>{{slide.roomtype}}</h5>
                                                <span>{{slide.listing}}</span>
                                                <i class="fa-solid fa-arrow-right-long"></i>
                                            </div>
                                        </a>
                                    </div>
                                </ng-template>
                             </ng-container>
                        </owl-carousel-o>
                       
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Explore Our Categories -->

<!-- Counter -->
<section class="property-counter common-padding position-relative">
    <div class="property-counter-float-bg">
        <img src="./assets/img/bg/counter-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="property-counter-list text-center">
                    <h4 class="counterUp "[countUp]="66180" [options]="{ duration: 30 }">66,180</h4>
                    <p>HOMES FOR SALE</p>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="property-counter-list text-center">
                    <h4 class="counterUp" [countUp]="4809" [options]="{ duration: 10 }">4,809</h4>
                    <p>OPEN HOUSES</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="property-counter-list text-center">
                    <h4 class="counterUp" [countUp]="30469" [options]="{ duration: 20 }">30,469</h4>
                    <p>RECENTLY SOLD</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="property-counter-list text-center">
                    <h4 class="counterUp" [countUp]="2919" [options]="{ duration: 60 }">2,919</h4>
                    <p>PRICE REDUCED</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Counter -->

<!-- Recent Properties for Rent -->
<section class="property-for-rent common-padding">
    <div class="footer-six-bg footer-nine-bg">
        <img src="./assets/img/bg/feature-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Recent Properties for Rent</h2>
                    <p>Sense Solutions For All Aspects near your Location.</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a [routerLink]="routes.categories" class="btn  btn-view">View all Properties</a>
                </div>		
            </div>	
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="car-class-carousel">
                    <div class="top-listings-rent-slider" data-aos="fade-right">
                        <owl-carousel-o [options]="recentpropertiesOwlOptions"> 
                            <ng-container *ngFor="let slide of recentproperties">
                                <ng-template carouselSlide> 
                                    <div class="top-rent-room">
                                        <div class="top-room-img">
                                            <a [routerLink]="routes.categories"><img [src]="slide.img" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="top-listing-rounded-img">
                                            <div class="favourite-small-user">
                                                <img [src]="slide.userimg" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="pent-house">
                                            <span>{{slide.typehouse}}</span>
                                        </div>
                                        <div class="top-rent-room-info">
                                            <div class="top-rent-room-location">
                                                <div class="room-address">
                                                    <span><i class="fa-solid fa-location-dot"></i>{{slide.location}}</span>
                                                    <a [routerLink]="routes.categories"><h5>{{slide.head}} </h5></a>
                                                </div>
                                                <div class="star-rated">
                                                    <span><i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i></span>
                                                    <p><span>{{slide.amount}}</span>{{slide.per}}</p>
                                                </div>
                                            </div>
                                            <div class="top-room-details">
                                                <div class="area">
                                                    <span><img [src]="slide.areaicon" class="img-fluid" alt="">{{slide.area}}</span>
                                                </div>
                                                <div class="area">
                                                    <span><img [src]="slide. bedicon" class="img-fluid" alt="">{{slide. bed}}</span>
                                                </div>
                                                <div class="area">
                                                    <span><img [src]="slide.bathicon" class="img-fluid" alt="">{{slide.bath}}</span>
                                                </div>
                                                <div class="area">
                                                    <span><img [src]="slide.flooricon" class="img-fluid" alt="">{{slide. floor}}</span>
                                                </div>
                                                <div class="area">
                                                    <span><img [src]="slide.guesticon" class="img-fluid" alt="">{{slide.guest}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>	
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Recent Properties for Rent -->

<!-- Premium and essential services -->
<section class="premium-and-essential-services common-padding position-relative">
    <div class="preminum-float-bg">
        <img src="./assets/img/bg/premium-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="premium-header text-center aos" data-aos="fade-up">
                    <h2>Premium and essential services in Listee, contributing to enhancing residents' life experience</h2>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="200">
                <div class="listee-premium">
                    <div class="listee-premium-img">
                        <span><img src="assets/img/icons/service-1.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Add your listing</h6>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="400">
                <div class="listee-premium">
                    <div class="listee-premium-img">
                        <span><img src="assets/img/icons/service-2.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Easy Finance</h6>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="600">
                <div class="listee-premium">
                    <div class="listee-premium-img">
                        <span><img src="assets/img/icons/service-3.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Publish your listing</h6>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="200">
                <div class="listee-premium bottom-list-premium ">
                    <div class="listee-premium-img">
                        <span><img src="assets/img/icons/service-4.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Register for free</h6>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="400">
                <div class="listee-premium bottom-list-premium ">
                    <div class="listee-premium-img">
                        <span><img src="assets/img/icons/service-5.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Get reservations</h6>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="600">
                <div class="listee-premium bottom-list-premium ">
                    <div class="listee-premium-img">
                        <span><img src="assets/img/icons/service-6.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Upload beautiful images</h6>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Premium and essential services -->

<!-- Make It Easy -->
<section class="make-it-easy common-padding">
    <div class="container">
        <h2 class="mb-0">We make it easy to find your perfect fit with over a million available rentals.</h2>
        <p>Circumstances certain circumstances and owing.</p>
        <a [routerLink]="routes.categories">Search Properties</a>
    </div>
</section>
<!-- /Make It Easy -->

<!-- Location -->
<section class="car-location common-padding">
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Popular Location of Properties</h2>
                    <p>Sense Solutions For All Aspects near your Location.</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a [routerLink]="routes.categories" class="btn  btn-view">View all Properties</a>
                </div>		
            </div>	
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a [routerLink]="routes.servicedetails"><div class="car-location-img aos" data-aos="fade-up" data-aos-delay="200">
                    <img src="./assets/img/city/car-location-1.png" class="img-fluid" alt="">
                    <span>Las Vegas</span>
                </div></a>
            </div>
            <div class="col-lg-5">
                <a [routerLink]="routes.servicedetails"><div class="car-location-img aos" data-aos="fade-up" data-aos-delay="400">
                    <img src="./assets/img/city/car-location-2.png" class="img-fluid" alt="">
                    <span>Singapore</span>
                </div></a>
            </div>
            <div class="col-lg-4">
                <a [routerLink]="routes.servicedetails"><div class="car-location-img aos" data-aos="fade-up" data-aos-delay="600">
                    <img src="./assets/img/city/car-location-3.png" class="img-fluid" alt="">
                    <span>Denmark</span>
                </div></a>
            </div>
            <div class="col-lg-4">
                <a [routerLink]="routes.servicedetails"><div class="car-location-img aos" data-aos="fade-up" data-aos-delay="800">
                    <img src="./assets/img/city/car-location-4.png" class="img-fluid" alt="">
                    <span>France</span>
                </div></a>
            </div>
            <div class="col-lg-5">
                <a [routerLink]="routes.servicedetails"><div class="car-location-img aos" data-aos="fade-up" data-aos-delay="1000">
                    <img src="./assets/img/city/car-location-5.png" class="img-fluid" alt="">
                    <span>Indonesia</span>
                </div></a>
            </div>
            <div class="col-lg-3">
                <a [routerLink]="routes.servicedetails"><div class="car-location-img aos" data-aos="fade-up" data-aos-delay="1200">
                    <img src="./assets/img/city/car-location-6.png" class="img-fluid" alt="">
                    <span>New York</span>
                </div></a>
            </div>
        </div>
    </div>
</section>
<!-- /Location -->

<!-- Verified Owners -->
<section class="verified-owner-section">
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Featured Verified Owners</h2>
                    <p>Highlight the most popular owners</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                </div>		
            </div>	
          </div>
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-6 aos" data-aos="fade-up" data-aos-delay="200">
                <div class="owner-card">
                    <div class="owner-card-img">
                        <a [routerLink]="routes.profile"><img src="assets/img/profiles/avatar-15.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="owner-info">
                        <div class="owner-name">
                            <a [routerLink]="routes.profile">Jonny baristow</a>
                            <span class="double-tick"><i class="fa-solid fa-check-double"></i></span>
                        </div>
                        <span class="owner-list-span">50 Listings</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 aos" data-aos="fade-up" data-aos-delay="400">
                <div class="owner-card">
                    <div class="owner-card-img">
                        <a [routerLink]="routes.profile"><img src="assets/img/profiles/avatar-16.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="owner-info">
                        <div class="owner-name">
                            <a [routerLink]="routes.profile">Angeline Marshall</a>
                            <span class="double-tick"><i class="fa-solid fa-check-double"></i></span>
                        </div>
                        <span class="owner-list-span">25 Listings</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 aos" data-aos="fade-up" data-aos-delay="600">
                <div class="owner-card">
                    <div class="owner-card-img">
                        <a [routerLink]="routes.profile"><img src="assets/img/profiles/avatar-17.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="owner-info">
                        <div class="owner-name">
                            <a [routerLink]="routes.profile">Abraham Musol</a>
                            <span class="double-tick"><i class="fa-solid fa-check-double"></i></span>
                        </div>
                        <span class="owner-list-span">30 Listings</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 aos" data-aos="fade-up" data-aos-delay="800">
                <div class="owner-card">
                    <div class="owner-card-img">
                        <a [routerLink]="routes.profile"><img src="assets/img/profiles/avatar-18.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="owner-info">
                        <div class="owner-name">
                            <a [routerLink]="routes.profile">Rayon Akram</a>
                            <span class="double-tick"><i class="fa-solid fa-check-double"></i></span>
                        </div>
                        <span class="owner-list-span">35 Listings</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a [routerLink]="routes.listingmaplist" class="verified-owner-list-btn">View all Owners</a>
            </div>
        </div>
    </div>
</section>
<!-- /Verified Owners -->

<!-- Our Testimonials -->
<section class=" property-testimonial common-padding position-relative">
    <div class="testimonial-float-bg">
        <img src="./assets/img/bg/testimonal-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Our Testimonials</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                </div>		
            </div>	
          </div>
          <div class="row">
            <div class="col-md-12 aos" data-aos="fade-up" data-aos-delay="200">
                <div class="car-class-carousel">
                    <div class="verified-owner-slider" data-aos="fade-up">
                        <owl-carousel-o [options]="ourtestimonialsOwlOptions">
                            <ng-container *ngFor="let slide of ourtestimonials">
                                <ng-template carouselSlide>
                                    <div class="property-testimonial-item">
                                        <h5 class="mb-0">{{slide.head}}</h5>
                                        <div class="car-client-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <p>{{slide.para}} </p>
                                        <div class="property-profile-block">
                                            <div class="property-profile">
                                                <a [routerLink]="routes.profile"><img [src]="slide.img" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="property-client-details">
                                                <a [routerLink]="routes.profile">{{slide. name}}</a>
                                                <span>{{slide.job}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                        
                       
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>
<!-- /Our Testimonials -->

<!-- Join Us -->
<section class="buy-property aos" data-aos="fade-up">
    <div class="container">
        <div class="buy-property-content">
            <h2 class="aos" data-aos="fade-up" data-aos-delay="200">Join the millions getting more from their home.</h2>
            <p class="aos" data-aos="fade-up" data-aos-delay="400">With Listee, you can track properties you’re interested in and use our price estimates to help you decide when to move. And get expert tips on making the most of your space.</p>
            <a  [routerLink]="routes.mylisting">List Your Space</a>
        </div>
    </div>
</section>
<!-- /Join Us -->

<!-- Recent Articles -->
<section class="property-articles common-padding">
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-9 aos aos-init aos-animate" data-aos="fade-up">
                    <h2>Recent Articles</h2>
                    <p>The most trendy accommodations available</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a [routerLink]="routes.categories" class="btn  btn-view">View all Properties</a>
                </div>		
            </div>	
        </div>
        <div class="row">
            <div class="col-lg-12 aos" data-aos="fade-up">
                <div class="car-class-carousel">
                    <div class=" blog-slider">	
                        <owl-carousel-o [options]="recentarticleOwlOptions">
                            <ng-container *ngFor="let slide of recentarticle">
                                <ng-template carouselSlide>
                                    <div class="blog grid-blog blog-two aos" data-aos="fade-up">
                                        <div class="blog-image">
                                            <a [routerLink]="routes.blogdetails"><img class="img-fluid" [src]="slide.img" alt="Post Image"></a>
                                        </div>
                                        <div class="blog-content">
                                            <h3 class="blog-title"><a [routerLink]="routes.blogdetails">{{slide.head}}</a></h3>
                                            <ul class="entry-meta meta-item">
                                                <li class="date-icon"><i class="feather-calendar"></i> {{slide.calendar}}</li>
                                            </ul>							     	
                                            <p class="blog-description">{{slide.para}}</p>
                                            <div class="viewlink">
                                                <a [routerLink]="routes.blogdetails">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template> 
                            </ng-container>
                        </owl-carousel-o>
                       
                     
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Recent Articles -->

<!-- Become Agent -->
<section class="join-us-dealer common-padding">
    <div class="join-us-dealer-bg home-nine-bg">
        <img src="./assets/img/bg/agent-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center aos" data-aos="fade-up">
            <div class="col-lg-6 col-md-12">
                <div class="joinus-dealer-content">
                    <h3 class="aos" data-aos="fade-up" data-aos-delay="200">Become a Real Estate Agent</h3>
                    <p class="aos" data-aos="fade-up" data-aos-delay="300">Premium and essential services in Listee, contributing to enhancing residents' life experience</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="join-as-dealer-btn">
                    <a [routerLink]="routes.signup">View all Prroperties</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Become Agent -->
<app-footer-nine></app-footer-nine>


