<!--Google Maps Gmaps + About Us-->
<ion-content *ngIf="data != null">
    <ion-grid class="ion-no-padding">
        <ion-row>
          <!--Social Shere-->
          <ion-col size="12" class="ion-padding">
            <i class="icon {{data.iconFavorite}} icon-small ion-float-end" (click)="onFavoriteFunc(data, $event)"></i>
            <i class="icon {{data.iconShare}} icon-small ion-float-end" (click)="onShareFunc(data, $event)"></i>
            <i class="icon {{data.iconLike}} icon-small ion-float-end" (click)="onLikeFunc(data, $event)"></i>
            <div clearfix></div>
            <!---About Name-->
            <h1 class="text-size-xl ion-no-margin">{{data.title}}</h1>
            <h2 class="text-size-lg">{{data.titleDescription}}</h2>
            <h2 class="text-size-xs">{{data.contentTitle}}</h2>
            <p class="text-size-p ion-text-wrap">{{data.contentDescription}}</p>
            <!---About Info-->
            <ion-list lines="none">
              <ion-item class="ion-no-padding">
                  <i slot="start" class="icon {{data.iconLoacation}} icon-small"></i>
                  <p class="text-size-sm">{{data.iconLoacationText}}</p>
              </ion-item>
              <ion-item class="ion-no-padding">
                  <i slot="start" class="icon {{data.iconWatch}} icon-small"></i>
                  <p class="text-size-sm">{{data.iconWatchText}}</p>
              </ion-item>
              <ion-item class="ion-no-padding">
                  <i slot="start" class="icon {{data.iconPhone}} icon-small"></i>
                  <p class="text-size-sm">{{data.iconPhoneText}}</p>
              </ion-item>
              <ion-item class="ion-no-padding">
                  <i slot="start" class="icon {{data.iconEarth}} icon-small"></i>
                  <p class="text-size-sm">{{data.iconEarthText}}</p>
              </ion-item>
              <ion-item class="ion-no-padding">
                  <i slot="start" class="icon {{data.iconEmail}} icon-small"></i>
                  <p class="text-size-sm">{{data.iconEmailText}}</p>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-col size="12">
            <!---MAP TEXT-->
            <h2 class="ion-margin-start text-size-xs">{{data.titleMap}}</h2>
            <agm-map [latitude]="data.map.lat" [longitude]="data.map.lng" [zoom]="data.map.zoom"
                [mapTypeControl]="data.map.mapTypeControl" [streetViewControl]="data.map.streetViewControl">
                <agm-marker [latitude]="data.map.lat" [longitude]="data.map.lng"></agm-marker>
            </agm-map>
        </ion-col>
    </ion-grid>
</ion-content>
