<!-- ANIMATION --COMPONENT 5 -->
<ion-grid class="ion-no-padding" *ngIf="data && data.items">
  <ion-row>
    <ion-col size="12">
      <ion-list class="ion-no-margin"
      appAnimateItems className="bounceInLeft">
          <ion-item lines="none" *ngFor="let item of data.items"
          class="animation-normal opacity-0 ion-no-padding"
          (click)="onItemClickFunc(item, $event)">
            <!-- Images -->
            <ion-thumbnail class="ion-no-margin" slot="start">
              <ion-img [src]="item.image"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-margin-start">
              <h2 class="text-size-lg">{{item.title}}</h2>
              <p class="text-size-sm ion-text-wrap">{{item.description}}</p>
            </ion-label>
            <div class="ion-text-right" slot="end">
              <span class="span-small old-price">{{item.oldPrice}}</span>
              <div class="clearfix"></div>
              <span class="span-medium new-price">{{item.newPrice}}</span>
            </div>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
