<!--Themes Simple -->
<ion-row>
  <ion-col size="12">
    <ion-list lines="none">
      <!-- Header Title Top -->
      <ion-list-header>
        <h1 class="text-size-xl ion-text-capitalize">{{data.title}}</h1>
      </ion-list-header>
      <!-- List -->
      <ion-radio-group [(ngModel)]="data.selectedItem">
        <ion-item *ngFor="let entry of data.items" 
        (click)="onItemClickFunc(entry, $event)">
          <ion-label class="text-size-xs">{{entry.title}}</ion-label>
          <ion-radio slot="end" [value]="entry.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-col>
</ion-row>
