/* Style component 1
========================================================*/
ion-grid {
  height: 100%;

  ion-row {
    height: 100%;
  }
}

.textarea {
  min-height: 280px;
  height: calc(100% - 200px);

  ion-item {
    height: calc(100% - 30px);
    width: 100% !important;
    display: -webkit-inline-box;

    ion-textarea {
      height: calc(100% - 50px);
      width: 100% !important;
    }
  }
}
