<!-- FORMS --COMPONENT 1 -->
<ion-content>
  <ion-grid class="ion-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding transparent input">
          <ion-label class="text-size-sm" position="floating">
            {{data.yourName}}</ion-label>
          <ion-input type="text" [(ngModel)]="item.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-no-padding transparent input">
          <ion-label class="text-size-sm" position="floating">
            {{data.title}}</ion-label>
          <ion-input type="text" [(ngModel)]="item.title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="textarea">
        <ion-item class="ion-no-padding transparent input">
          <ion-label class="text-size-sm" position="floating">
            {{data.description}}</ion-label>
          <ion-textarea rows="100%" cols="1" [(ngModel)]="item.description">
          </ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-end">
        <ion-button class="button-round ion-margin-top" 
        shape="round" fill="outline" (click)="onSubmitFunc($event)">{{data.button}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
