<!-- SWIPE TO DISMISS --COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list class="ion-no-margin" #dynamicList>
        <ion-item-sliding *ngFor="let item of data.items" #slidingItem>
          <ion-item lines="none" class="ion-no-padding" (click)="onItemClickFunc(item, $event)">

            <!-- Images -->
            <ion-thumbnail class="ion-no-margin" slot="start">
              <ion-img [src]="item.image"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-margin-start">
              <h2 class="text-size-lg">{{item.title}}</h2>
              <p class="text-size-sm ion-text-wrap">{{item.description}}</p>
            </ion-label>

            <div class="ion-text-right" slot="end">
              <span class="span-small old-price">{{item.oldPrice}}</span>
              <div class="clearfix"></div>
              <span class="span-medium new-price">{{item.newPrice}}</span>
            </div>
          </ion-item>
          <ion-item-options side="end" slot="icon-only">
            <ion-item-option (click)="onDeleteFunc(item, $event)">
              <i class="icon {{item.iconDelate}} icon-medium"></i>
            </ion-item-option>
            <ion-item-option (click)="onUndoFunc($event)">
              <i class="icon {{item.iconUndo}} icon-medium"></i>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
