<!-- ACTION SHEET --COMPONENT 2-->
<ion-content parallax-header (ionScroll)="logScrolling($event)" [scrollEvents]="true">
  <div class="header-image background-size"
  [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
    <ion-item lines="none" class="transparent">
      <ion-label>
        <!-- Category -->
        <span class="ion-text-uppercase text-size-sm">{{data.category}}</span>
        <!-- Parallax-title -->
        <h1 class="text-size-xs ion-text-wrap">{{data.title}}</h1>
      </ion-label>
    </ion-item>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <!-- Avatar-->
          <ion-avatar slot="start">
            <img [src]="data.avatar" />
          </ion-avatar>
          <ion-label>
            <h2 class="text-size-xs ion-text-uppercase">{{data.subtitle}}</h2>
          </ion-label>
          <!-- Share Button --->
          <ion-fab-button slot="end" (click)="presentActionSheet(data, $event)">
            <ion-icon class="icon-medium" [name]="data.shareIcon"></ion-icon>
          </ion-fab-button>
        </ion-item>
        <ion-item lines="none" *ngFor="let item of data.items;let i = index">
          <!-- Parallax-description -->
          <p class="text-size-p ion-text-wrap">{{item.subtitle}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
