.select2-container {
	.select2-selection--single {
		border: 1px solid $__gray85;
		height: 46px;
		.select2-selection__rendered {
			padding-right: 30px;
			padding-left: 15px;
		}
	}
    .select2-dropdown {
		border: 1px solid $__pantone;
	}
}
.select2-container--default {
	.select2-selection--single {
		border-radius: 5px;
		.select2-selection__arrow {
			height: 46px;
			right: 5px;
			b {
				border-color: $__black__dark;
				border-style: solid;
				border-width: 0 2px 2px 0;
				padding: 3px;
				height: 0;
				left: 50%;
				margin-left: -5px;
				margin-top: -5px;
				position: $__absolute;
				top: 50%;
				width: 0;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
		.select2-selection__rendered {
			color: $__black__dark;
			font-size: $__font__size__16;
			font-weight: $__normal;
			line-height: 46px;
			@include respond-below(custom1199) {
				font-size: $__font__size__14;
			}
		}
	}
	.select2-search--dropdown {
		.select2-search__field {
			outline: 0;
		}
	}
	&.form-control-sm {
		.select2-selection--single {
			.select2-selection__arrow {
				top: 7px;
			}
		}
	}
	&.select2-container--open {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					border-color: $__black__dark;
					border-width: 2px 0 0 2px;
					padding: 3px;
					margin-top: -2px;
				}
			}
		}
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: $__primarycolor;
		color: $__white;
	}
	.select2-selection--multiple {
		border: 1px solid $__black__dark;
		min-height: 40px;
	}
}

.select2.select2-container.select2-container--default {
    width: 100%!important;
}