<template>
    		<!-- Latest Ads -->
		<section class="business-section">
		    <div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-heading heading-five aos" data-aos="fade-up">
							<h2>Latest Ads</h2>
						</div>	
					</div>
				</div>
				<div class="owl-carousel business-slider grid-view">	
                                  <Carousel
                :wrap-around="true"
                :settings="settings"
                :breakpoints="breakpoints"
              >
                <Slide v-for="item in IndexFiveAds" :key="item.id">
					<div class="card business-card aos" data-aos="fade-up">
						<div class="blog-widget">
							<div class="blog-img">
								<router-link to="service-details">
									<img  :src="
                                  require(`@/assets/img/latest/${item.img1}`)" class="img-fluid" alt="blog-img">
								</router-link>
								<div class="fav-item  justify-content-end">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>										
								</div>	
							</div>
							<div class="bloglist-content">
								<div class="card-body">
									<span class="featured-text">Featured</span>
									<div class="grid-author">
										<img  :src="
                                  require(`@/assets/img/profiles/${item.img2}`)" alt="author">
									</div>					
									<div class="blogfeaturelink">									
										<div class="blog-features">
										   <a href="javascript:void(0)"><span>  <i class="fa-regular fa-circle-stop"></i> {{ item.text }}</span></a>
										</div>																	  
										<div class="blog-author text-end"> 
											<span><i class="feather-map-pin"></i> {{ item.place }}</span>
										</div>
									</div> 
									<h6><router-link to="service-details">{{ item.title }}</router-link></h6>
									<div class="amount-details">
										<div class="amount">
											<span class="validrate">{{ item.offer }}</span>
											<span>{{ item.price }}</span>
										</div>
										<div class="ratings">
											<span>{{ item.rating }}</span> (50)
										</div>														
									</div>	
								</div>	
							</div>			 
						</div>
					</div>
                     </Slide>
                <template #addons>
                  <Navigation />
                </template>
              </Carousel>
				</div>			   
			</div>		
		</section>		
		<!-- /Business Section -->
    </template>
    <script>
import { Carousel, Pagination, Navigation, Slide } from "vue3-carousel";
import IndexFiveAds from "@/assets/json/indexFiveAds.json";
export default {
  data() {
    return {
      IndexFiveAds: IndexFiveAds,
      settings: {
        itemsToShow: 1,
        snapAlign: "center",
      },
      breakpoints: {
        575: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        // 700px and up
        767: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        // 991 and up
        991: {
          itemsToShow: 4,
          snapAlign: "center",
        },
        // 1024 and up
        1024: {
          itemsToShow: 4,
          snapAlign: "start",
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
};
</script>