<template>
    <div class="main-wrapper">
        <navbarfive />

        <div class="page-wrapper">
            <indexdiscover />

            <indexbusiness />

            <indexfivespace />

            <indexfiveads />

            <indexfivepricing />

            <indexfiveclient />

            <indexfiveblog />

            <indexfivefooter />

            <scroll />
        </div>
    </div>
</template>