<!-- Banner Section -->
<section class="banner-section">
  <div class="banner-circle">
    <img src="assets/img/bannerbg.png" class="img-fluid" alt="bannercircle" />
  </div>
  <div class="container">
    <div class="home-banner">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="section-search aos" data-aos="fade-up" data-aos-duration="1200" >
            <p class="explore-text">
              <span>Explore top-rated attractions</span>
            </p>
            <img
              src="assets/img/arrow-banner.png"
              class="arrow-img"
              alt="arrow"
            />
            <h1>
              Let us help you <br />
              <span>Find, Buy</span> & Own Dreams
            </h1>
            <p>
              Countrys most loved and trusted classified ad listing website
              classified ad.randomised words which don't look even slightly
              Browse thousand of items near you.
            </p>
            <div class="search-box">
              <div class="d-flex home-one-serch-box">
                <div class="search-input line">
                  <div class="input-block mb-0">
                    <mat-form-field class="mat-custom-select">
                      <mat-label *ngIf="selectedCategory === ''">
                        Choose Category</mat-label
                      >
                      <mat-select [(ngModel)]="selectedCategory">
                        <mat-option disabled class="search-input-option">
                          <input
                            [(ngModel)]="searchInputCategory"
                            (ngModelChange)="
                              searchCategory(searchInputCategory)
                            "
                            class="search-input"
                            type="text"
                          />
                        </mat-option>
                        <mat-option
                          [value]="item.categoryName"
                          *ngFor="let item of categories"
                          >{{ item.categoryName }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>

                    
                  </div>
                </div>
                <div class="search-input">
                  <div class="input-block mb-0">
                    <div class="group-img">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Choose Location"
                      />
                      <i class="feather-map-pin"></i>
                    </div>
                  </div>
                </div>
                <div class="search-btn"> 
                  <button (click)="direction()" class="btn btn-primary" type="submit" >
                    <i class="fa fa-search" aria-hidden="true"></i> Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="banner-imgs">
            <img
              src="assets/img/Right-img.png"
              class="img-fluid"
              alt="bannerimage"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/img/bannerellipse.png"
    class="img-fluid banner-elipse"
    alt="arrow"
  />
  <img
    src="assets/img/banner-arrow.png"
    class="img-fluid bannerleftarrow"
    alt="arrow"
  />
</section>
<!-- /Banner Section -->

<!-- Category Section -->
<section class="category-section">
  <div class="container">
    <div class="section-heading">
      <div class="row align-items-center">
        <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
          <h2>Our <span class="title-left">Cat</span>egory</h2>
          <p>Buy and Sell Everything from Used Our Top Category</p>
        </div>
        <div
          class="col-md-6 text-md-end aos aos-init aos-animate"
          data-aos="fade-up"
        >
          <a [routerLink]="routes.categories" class="btn btn-view">View All</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let list of categories">
        <a [routerLink]="routes.categories" class="category-links">
          <h5>{{ list.categoryName }}</h5>
          <span>{{ list.count }}</span>
          <img [src]="list.img" alt="icons" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Category Section -->

<!-- Featured ADS Section -->
<section class="featured-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up">
        <div class="section-heading">
          <h2>Featu<span class="title-right">red</span> Ads</h2>
          <p>Checkout these latest coo ads from our members</p>
        </div>
      </div>
      <div class="col-md-6 text-md-end aos" data-aos="fade-up">
        <div class="owl-nav mynav2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o
          [options]="featuredadsOwlOptions"
          class="featured-slider grid-view"
        >
          <ng-container *ngFor="let slide of featuredads">
            <ng-template carouselSlide>
              <div class="card aos" data-aos="fade-up">
                <div class="blog-widget">
                  <div class="blog-img">
                    <a [routerLink]="routes.servicedetails">
                      <img
                        [src]="slide.img1"
                        class="img-fluid"
                        alt="blog-img"
                      />
                    </a>
                    <div class="fav-item">
                      <span class="Featured-text">{{ slide.headline }}</span>
                      <a href="javascript:void(0)" class="fav-icon" (click)="slide.like = !slide.like" [ngClass]="{'selected' : slide.like === true}">
                        <i class="feather-heart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="bloglist-content">
                    <div class="card-body">
                      <div class="blogfeaturelink">
                        <div class="grid-author">
                          <img [src]="slide.img2" alt="author" />
                        </div>
                        <div class="blog-features">
                          <a href="javascript:void(0)"
                            ><span>
                              <i class="fa-regular fa-circle-stop"></i>
                              Education</span
                            ></a
                          >
                        </div>
                        <div class="blog-author text-end">
                          <span>
                            <i class="feather-eye"></i>{{ slide.search }}
                          </span>
                        </div>
                      </div>
                      <h6>
                        <a [routerLink]="routes.servicedetails">{{
                          slide.details
                        }}</a>
                      </h6>
                      <div class="blog-location-details">
                        <div class="location-info">
                          <i class="feather-map-pin"></i> {{ slide.map }}
                        </div>
                        <div class="location-info">
                          <i class="fa-regular fa-calendar-days"></i>
                          {{ slide.date }}
                        </div>
                      </div>
                      <div class="amount-details">
                        <div class="amount">
                          <span class="validrate">{{ slide.amount }}</span>
                          <span>{{ slide.oldamount }}</span>
                        </div>
                        <div class="ratings">
                          <span>{{ slide.rating }}</span> {{ slide.rating1 }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- /Featured ADS Section -->

<!-- Popular Location Section -->
<section class="popular-locations">
  <div class="popular-circleimg">
    <img
      class="img-fluid"
      src="assets/img/popular-img.png"
      alt="Popular-sections"
    />
  </div>
  <div class="container">
    <div class="section-heading">
      <h2>Popular <span>Loc</span>ations</h2>
      <p>Start by selecting your favuorite location and explore the goods</p>
    </div>
    <div class="location-details d-flex">
      <div class="row">
        <div class="location-info col-lg-4 col-md-6">
          <div class="location-info-details d-flex align-items-center">
            <div class="location-img">
              <a [routerLink]="routes.listinggridsidebar"
                ><img
                  class="img-fluid"
                  src="assets/img/locations/usa.jpg"
                  alt="locations"
              /></a>
            </div>
            <div class="location-content">
              <a [routerLink]="routes.listinggridsidebar">USA</a>
              <p>20+ Ads Posted</p>
              <a
                [routerLink]="routes.listinggridsidebar"
                class="view-detailsbtn"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="location-info col-lg-4 col-md-6">
          <div class="location-info-details d-flex align-items-center">
            <div class="location-img">
              <a [routerLink]="routes.listinggridsidebar"
                ><img
                  class="img-fluid"
                  src="assets/img/locations/canada.jpg"
                  alt="locations"
              /></a>
            </div>
            <div class="location-content">
              <a [routerLink]="routes.listinggridsidebar">Canada</a>
              <p>20+ Ads Posted</p>
              <a
                [routerLink]="routes.listinggridsidebar"
                class="view-detailsbtn"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="location-info col-lg-4 col-md-6">
          <div class="location-info-details d-flex align-items-center">
            <div class="location-img">
              <a [routerLink]="routes.listinggridsidebar"
                ><img
                  class="img-fluid"
                  src="assets/img/locations/china.jpg"
                  alt="locations"
              /></a>
            </div>
            <div class="location-content">
              <a [routerLink]="routes.listinggridsidebar">China</a>
              <p>20+ Ads Posted</p>
              <a
                [routerLink]="routes.listinggridsidebar"
                class="view-detailsbtn"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="location-info col-lg-4 col-md-6">
          <div class="location-info-details d-flex align-items-center">
            <div class="location-img">
              <a [routerLink]="routes.listinggridsidebar"
                ><img
                  class="img-fluid"
                  src="assets/img/locations/uk.jpg"
                  alt="locations"
              /></a>
            </div>
            <div class="location-content">
              <a [routerLink]="routes.listinggridsidebar">United Kingdom</a>
              <p>20+ Ads Posted</p>
              <a
                [routerLink]="routes.listinggridsidebar"
                class="view-detailsbtn"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="location-info col-lg-4 col-md-6">
          <div class="location-info-details d-flex align-items-center">
            <div class="location-img">
              <a [routerLink]="routes.listinggridsidebar"
                ><img
                  class="img-fluid"
                  src="assets/img/locations/australia.jpg"
                  alt="locations"
              /></a>
            </div>
            <div class="location-content">
              <a [routerLink]="routes.listinggridsidebar">Australia</a>
              <p>20+ Ads Posted</p>
              <a
                [routerLink]="routes.listinggridsidebar"
                class="view-detailsbtn"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="location-info col-lg-4 col-md-6">
          <div class="location-info-details d-flex align-items-center">
            <div class="location-img">
              <a [routerLink]="routes.listinggridsidebar"
                ><img
                  class="img-fluid"
                  src="assets/img/locations/france.jpg"
                  alt="locations"
              /></a>
            </div>
            <div class="location-content">
              <a [routerLink]="routes.listinggridsidebar">France</a>
              <p>20+ Ads Posted</p>
              <a
                [routerLink]="routes.listinggridsidebar"
                class="view-detailsbtn"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="align-items-center">
      <a [routerLink]="routes.listinggridsidebar" class="browse-btn"
        >Browse Ads</a
      >
    </div>
  </div>
</section>
<!-- /Popular Locations Section -->

<!-- Latest Ads Section -->
<section class="latestad-section grid-view featured-slider">
  <div class="container">
    <div class="section-heading">
      <div class="row align-items-center">
        <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up">
          <h2>Lat<span class="title-right">est</span> Ads</h2>
          <p>checkout these latest cool ads from our members</p>
        </div>
        <div
          class="col-md-6 text-md-end aos aos-init aos-animate"
          data-aos="fade-up"
        >
          <a [routerLink]="routes.servicedetails" class="btn btn-view"
            >View All</a
          >
        </div>
      </div>
    </div>
    <div class="lateestads-content">
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-sm-6 d-flex"
          *ngFor="let slide of latestads"
        >
          <div class="card aos flex-fill" data-aos="fade-up">
            <div class="blog-widget">
              <div class="blog-img">
                <a [routerLink]="routes.servicedetails">
                  <img [src]="slide.img1" class="img-fluid" alt="blog-img" />
                </a>
                <div class="fav-item">
                  <span class="Featured-text">{{ slide.headline }}</span>
                  <a href="javascript:void(0)" class="fav-icon" (click)="slide.like = !slide.like" [ngClass]="{'selected' : slide.like === true}">
                    <i class="feather-heart"></i>
                  </a>
                </div>
              </div>
              <div class="bloglist-content">
                <div class="card-body">
                  <div class="blogfeaturelink">
                    <div class="grid-author">
                      <img [src]="slide.img2" alt="author" />
                    </div>
                    <div class="blog-features">
                      <a href="javascript:void(0)"
                        ><span>
                          <i class="fa-regular fa-circle-stop"></i>
                          {{ slide.select }}</span
                        ></a
                      >
                    </div>
                    <div class="blog-author text-end">
                      <span>
                        <i class="feather-eye"></i> {{ slide.search }}
                      </span>
                    </div>
                  </div>
                  <h6>
                    <a [routerLink]="routes.servicedetails">{{
                      slide.details
                    }}</a>
                  </h6>
                  <div class="blog-location-details">
                    <div class="location-info">
                      <i class="feather-map-pin"></i> {{ slide.map }}
                    </div>
                    <div class="location-info">
                      <i class="fa-solid fa-calendar-days"></i>{{ slide.date }}
                    </div>
                  </div>
                  <div class="amount-details">
                    <div class="amount">
                      <span class="validrate">{{ slide.amount }}</span>
                      <span>{{ slide.oldamount }}</span>
                    </div>
                    <div class="ratings">
                      <span>{{ slide.rating }}</span> {{ slide.rating1 }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Latest Ads Section -->

<!-- CTA Section -->
<section class="cta-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta-content">
          <h3>
            Earn Cash by <span>Selling</span> <br />
            or Find Anything you desire
          </h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected humo
            or randomised words which don't look even slightlys
          </p>
          <div class="cta-btn">
            <a [routerLink]="routes.addlisting" class="btn-primary postad-btn"
              >Post Your Ads</a
            >
            <a [routerLink]="routes.listinggridsidebar" class="browse-btn"
              >Browse Ads</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cta-img">
          <img src="assets/img/cta-img.png" class="img-fluid" alt="CTA" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /CTA Section -->

<!-- Client Testimonilas Section -->
<section class="testimonials-section">
  <div class="row">
    <div class="col-lg-5">
      <div class="testimonial-heading d-flex">
        <h4>
          Client <br />
          Testimonials
        </h4>
        <img src="assets/img/quotes.png" alt="quotes" />
      </div>
    </div>
    <div class="col-lg-7">
      <div class="rightimg"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="testimonials-slidersection">
        <div class="owl-nav mynav1"></div>
        <owl-carousel-o [options]="testimonialOwlOptions">
          <ng-container *ngFor="let slide of testimonial">
            <ng-template carouselSlide>
              <div class="testi-slider">
                <div class="testimonial-info">
                  <div class="testimonialslider-heading d-flex">
                    <div class="testi-img">
                      <img
                        [src]="slide.img"
                        class="img-fluid"
                        alt="testi-img"
                      />
                    </div>
                    <div class="testi-author">
                      <h6>{{ slide.posting }}</h6>
                      <p>{{ slide.position }}</p>
                    </div>
                  </div>
                  <div class="testimonialslider-content">
                    <p>{{ slide.para }}</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- /Client Testimonilas Section -->

<!-- Partners Section -->
<div class="partners-section">
  <div class="container">
    <p class="partners-heading">
      Over 5,26,000+ Sponsers being contact with us
    </p>
    <owl-carousel-o [options]="universitiesCompaniesOwlOptions">
      <ng-container *ngFor="let slide of universitiesCompanies">
        <ng-template carouselSlide>
          <ul class="partnerslist d-flex">
            <li>
              <a href="javascript:void(0);"
                ><img class="img-fluid" [src]="slide.img" alt="partners"
              /></a>
            </li>
          </ul>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
<!-- /Partners  Section -->

<!-- Pricing Plan Section -->
<section class="pricingplan-section">
  <div class="section-heading">
    <div class="container">
      <div class="row text-center">
        <h2>Our Pricing <span>Pla</span>n</h2>
        <p>checkout these latest cool ads from our members</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex col-md-6" *ngFor="let slide of pricing">
        <div class="price-card flex-fill">
          <div class="price-head">
            <div class="price-level">
              <h6>{{ slide.title }}</h6>
            </div>
            <h4>
              {{ slide.pricedate }} <span>{{ slide.pricemonth }}</span>
            </h4>
          </div>
          <div class="price-body">
            <p>{{ slide.pricebody }}</p>
            <ul>
              <li class="active">{{ slide.pricebodyList }}</li>
              <li class="active">{{ slide.pricebodyList1 }}</li>
              <li class="active">{{ slide.pricebodyList2 }}</li>
              <li class="inactive">{{ slide.pricebodyList3 }}</li>
              <li class="inactive">{{ slide.pricebodyList4 }}</li>
            </ul>
            <div>
              <a [routerLink]="routes.login" class="btn viewdetails-btn"
                >View details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Pricing Plan Section -->

<!-- Blog  Section -->
<section class="blog-section">
  <div class="section-heading">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up">
          <h2>Lat<span class="title-right">est</span> Blog</h2>
          <p>people are giving these goods for free so check them out</p>
        </div>
        <div
          class="col-md-6 text-md-end aos aos-init aos-animate"
          data-aos="fade-up"
        >
          <a [routerLink]="routes.bloggrid" class="btn btn-view">View All</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 d-flex" *ngFor="let slide of blog">
        <div class="blog grid-blog">
          <div class="blog-image">
            <a [routerLink]="routes.blogdetails"
              ><img class="img-fluid" [src]="slide.img" alt="Post Image"
            /></a>
          </div>
          <div class="blog-content">
            <p class="blog-category">
              <a href="javascript:void(0);"
                ><span>{{ slide.category1 }}</span></a
              ><a href="javascript:void(0);"
                ><span>{{ slide.category2 }}</span></a
              >
            </p>
            <ul class="entry-meta meta-item">
              <li>
                <div class="post-author">
                  <div class="post-author-img">
                    <img [src]="slide.authorimg" alt="Post Author" />
                  </div>
                  <a href="javascript:void(0);" class="mb-0">
                    <span>{{ slide.authorname }} </span></a
                  >
                </div>
              </li>
              <li class="date-icon">
                <i class="fa-solid fa-calendar-days"></i> {{ slide.calendar }}
              </li>
            </ul>
            <h3 class="blog-title">
              <a [routerLink]="routes.blogdetails">{{ slide.title }}</a>
            </h3>
            <p class="blog-description">{{ slide.description }}</p>
            <p class="viewlink">
              <a [routerLink]="routes.blogdetails"
                >{{ slide.details }} <i class="feather-arrow-right"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Blog  Section -->
