/* Settings Scrooll Segmnet
===========================================*/
// Setting scrollable toolbar

:host {
  --st-scrollable-toolbar-padding-left: 5px !important;
}
// Setting scroll button

.ion-color-primary {
  background: var(--cs-gradient-linear-toolbar) !important;
  --ion-color-contrast: var(--cs-background-secondary) !important;
}

super-tabs-toolbar {
  .icon-small {
    color: var(--cs-icon-color-secondary) !important;
    stroke: var(--cs-icon-color-secondary) !important;
    fill: var(--cs-icon-color-secondary) !important;
  }

  ion-label {
    color: var(--cs-text-primary);
    font-size: 16px;
    font-weight: 400;
  }
}

.page1 {
  .avatar-section {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    ion-avatar {
      display: inline-flex;
      height: 120px;
      width: 120px;
    }

    ion-item {
      --inner-padding-end: 0;

      ion-label {
        overflow: visible;
      }
    }
  }

  .image-section {
    ion-item {
      --inner-padding-end: 0;

      ion-label {
        height: 250px !important;
      }

      .background-size {
        height: 100%;
        margin-right: 8px;
      }

      .small-image {
        height: 100%;

        .background-size {
          margin-left: 8px;
          margin-right: 0;
          height: calc(50% - 8px);
        }
      }
    }
  }
}

.page2 {
  ion-item {
    ion-avatar {
      align-self: start;
      width: 40px;
      height: 40px;
    }

    ion-label {
      align-self: start;

      .title-section {
        display: flow-root;

        span {
          line-height: 30px;
        }
      }

      .icon-star-section {
        display: flex;

        ion-icon {
          margin: 0 !important;
        }
      }
    }
  }
}

.page3 {
  .rating {
    display: inline-flex;
  }

  ion-card {
    margin: 0 16px 16px;
  }
}
