<!-- FORGET PASSWORD --COMPONENT 2 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content class="transparent background-size"
  [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-grid class="ion-padding" *ngIf="data != null">
      <ion-row class="ion-align-items-center">
        <ion-col class="background-white box-shadow border-radius ion-padding"
        size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img [src]="data.logo"></ion-img>
          <h1 class="text-size-xl ion-text-capitalize ion-text-wrap">
            {{data.title}}</h1>
          <div clearfix></div>
          <h2 class="text-size-xs ion-text-wrap ion-padding-end">
            {{data.subtitle}}</h2>
          <div class="clearfix"></div>
          <ion-item class="ion-no-padding transparent input">
            <!---Input field email-->
            <ion-label class="text-size-sm" position="floating">
              {{data.lableEmail}}</ion-label>
            <ion-input required type="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required
            [(ngModel)]="item.email" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!isEmailValid" class="icon-small"
            [name]="data.errorIcon"></ion-icon>
          </ion-item>
          <!---Send button-->
          <ion-button class="ion-margin-top ion-float-end button-round"
          shape="round" fill="outline"  (click)="onSendFunc()">
            {{data.send}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
