/* Style component 2
========================================================*/
:host {
  --img-logo: 80px;
}

ion-grid,
ion-row {
  height: 100%;
}

ion-img {
  width: var(--img-logo);
}

h1 {
  color: var(--cs-text-secondary, #0090d0)
}

.background-size {
  position: relative;
  background-color: var(--cs-text-primary, #ffffff);
  background-blend-mode: luminosity;

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: var(--cs-mode-image);
    background: var(--cs-gradient-linear);
  }
}


ion-item {
  ion-input {
    --padding-end: 8px;
  }
 ion-icon {
   position: absolute;
   right: 0;
   bottom: 8px
  }
}
