/* Settings Card
======================================*/
ion-button {
  .active {
    color: var(--cs-icon-color-primary, #00c0e8) !important;
  }
}

ion-card {
  overflow: visible;

  ion-avatar {
    margin: -40px auto 0;
  }

  .social-share {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}
/* Settings Slider
======================================*/

ion-slides {
  overflow: visible;

  img {
    width: 100%;
  }
}
