<app-header-seven></app-header-seven>
<!-- Banner Section -->
<section class="banner-section banner-seven">
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-search aos" data-aos="fade-up">
                        <p>Discover the best restaurant.</p>
                        <h1>Discover Places that People Love</h1>
                        <div class="search-box search-box-seven">
                            <form action="listing-grid-sidebar.html" class="form-block d-flex">
                                <div class="search-input line">
                                    <div class="input-block mb-0">
                                        <mat-form-field class="mat-custom-select">
                                            <mat-label *ngIf="selectedCategory === ''">
                                                Choose Category</mat-label>
                                            <mat-select [(ngModel)]="selectedCategory"
                                                [ngModelOptions]="{standalone: true}"
                                                [ngModelOptions]="{standalone: true}">
                                                <mat-option disabled class="search-input-option">
                                                    <input [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="searchInputCategory"
                                                        [ngModelOptions]="{standalone: true}" (ngModelChange)="
                                                    searchCategory(searchInputCategory)
                                                  " class="search-input" type="text" />
                                                </mat-option>
                                                <mat-option [value]="item.categoryName"
                                                    *ngFor="let item of categories">{{ item.categoryName }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="search-input line">
                                    <div class="input-block select-location mb-0">
                                        <mat-form-field class="mat-custom-select">
                                            <mat-label *ngIf="selectedLocation === ''">
                                                Choose Location</mat-label>
                                            <mat-select [(ngModel)]="selectedLocation"
                                                [ngModelOptions]="{standalone: true}">
                                                <mat-option disabled class="search-input-option">
                                                    <input [(ngModel)]="searchInputCategory"
                                                        [ngModelOptions]="{standalone: true}" (ngModelChange)="
                                                    searchCategory(searchInputCategory)
                                                  " class="search-input" type="text" />
                                                </mat-option>
                                                <mat-option [value]="item.locationName" *ngFor="let item of location">{{
                                                    item.locationName }}</mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                        <i class="feather-map-pin"></i>
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button (click)="direction()" class="btn btn-primary" type="submit">Search Now
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="banner-imgs aos" data-aos="fade-up">
                        <div class="main-banner-1">
                            <img src="assets/img/banner/banner-img-1.png" class="img-fluid " alt="bannerimage">
                        </div>
                        <div class="main-banner-2">
                            <img src="assets/img/banner/banner-img-2.png" class="img-fluid " alt="bannerimage">

                        </div>
                        <div class=" main-banner-3">
                            <img src="assets/img/banner/banner-img-3.png" class="img-fluid" alt="bannerimage">

                        </div>
                        <div class="main-banner-4">
                            <img src="assets/img/banner/banner-img-4.png" class="img-fluid " alt="bannerimage">
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-bg-img">
                <div class="bg-one">
                    <img src="assets/img/bg/banner-left-bg.png" class="img-fluid" alt="image">
                </div>
                <div class="bg-two">
                    <img src="assets/img/bg/banner-right-bg.png" class="img-fluid " alt="image">
                </div>
                <div class="bg-three">
                    <img src="assets/img/bg/banner-bottom-bg.png" class="img-fluid " alt="image">
                </div>
            </div>
            <div class="foods-title aos" data-aos="fade-up">
                <a href="javascript:void(0);">Breakfast</a>
                <a href="javascript:void(0);">Lunch</a>
                <a href="javascript:void(0);">Snacks</a>
                <a href="javascript:void(0);">Dinner</a>
            </div>
        </div>
    </div>
</section>
<!-- /Banner Section -->
<!-- Our-Category Section -->
<section class="our-category-section our-category-section-seven">
    <div class="container">
        <div class="restaurants-sec">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-heading section-heading-seven d-flex align-items-center aos" data-aos="fade-up">
                        <div class="heading-img ">
                            <img src="assets/img/heading-logo.png" class="img-fluid m-0" alt="img">
                        </div>
                        <div>
                            <h2>Our Category</h2>
                            <p>Explore restaurants and cafes by your favorite cuisine</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-md-end aos" data-aos="fade-up">
                    <div class="interset-btn">
                        <a [routerLink]="routes.servicedetails" class="btn btn-primary more-btn more-btn-two">View All
                            <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="our-category-box">
                        <a href="javascript:void(0);">
                            <div class="our-category-img">
                                <img src="assets/img/latest/category-img-1.png" class="img-fluid" alt="img">
                            </div>
                        </a>
                        <div class="our-category-info">
                            <h5><a href="javascript:void(0);">Pizza</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 aos" data-aos="fade-up">
                    <div class="our-category-box">
                        <a href="javascript:void(0);">
                            <div class="our-category-img">
                                <img src="assets/img/latest/category-img-2.png" class="img-fluid" alt="img">
                            </div>
                        </a>
                        <div class="our-category-info">
                            <h5><a href="javascript:void(0);">Broast</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="our-category-box">
                        <a href="javascript:void(0);">
                            <div class="our-category-img">
                                <img src="assets/img/latest/category-img-3.png" class="img-fluid" alt="img">
                            </div>
                        </a>
                        <div class="our-category-info">
                            <h5><a href="javascript:void(0);">Chicken</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="our-category-box">
                        <a href="javascript:void(0);">
                            <div class="our-category-img">
                                <img src="assets/img/latest/category-img-4.png" class="img-fluid" alt="img">
                            </div>
                        </a>
                        <div class="our-category-info">
                            <h5><a href="javascript:void(0);">Burgers</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="our-category-box">
                        <a href="javascript:void(0);">
                            <div class="our-category-img">
                                <img src="assets/img/latest/category-img-5.png" class="img-fluid" alt="img">
                            </div>
                        </a>
                        <div class="our-category-info">
                            <h5><a href="javascript:void(0);">Sandwiches</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6  aos" data-aos="fade-up">
                    <div class="our-category-box">
                        <a href="javascript:void(0);">
                            <div class="our-category-img">
                                <img src="assets/img/latest/category-img-6.png" class="img-fluid" alt="img">
                            </div>
                        </a>
                        <div class="our-category-info">
                            <h5><a href="javascript:void(0);">Shakes</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Our-Category Section -->

<!-- Restaurant Section -->
<section class="restaurant-section restaurant-section-seven">
    <div class="container">
        <div class="section-heading-two section-heading-seven text-center">
            <div class="row">
                <div class="col-md-12 aos aos-init aos-animate" data-aos="fade-up">
                    <img src="assets/img/heading-logo-small.png" class="img-fluid" alt="title-img">
                    <h2>Popular Restaurant</h2>
                    <p>What are you interested near you.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="dishes-box aos" data-aos="fade-up">
                    <div class="dishes-img">
                        <a href="#">
                            <img src="assets/img/latest/Restaurant-1.jpg" class="img-fluid" alt="img">
                        </a>
                        <div class="feature-content justify-content-end">
                            <span class="featured-text">Featured</span>
                        </div>
                        <div class="fav-item  justify-content-end">
                            <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass(0)"
                                (keydown)="toggleClass(0)" tabindex="1" [ngClass]="{selected: isClassAdded[0]}">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                    </div>
                    <div class="dishes-content">
                        <div class="dishes-inner">
                            <div class="author-img-new">
                                <div class="inner-img">
                                    <img src="assets/img/profiles/avatar-06.jpg" class="img-fluid" alt="img">
                                </div>
                            </div>
                            <p class="title">USA</p>
                            <h5><a href="javascript:void(0);"> Fine dining <i class="fa-solid fa-circle-check"></i></a>
                            </h5>
                            <div class="dishes-review">
                                <h6><i class="fa-regular fa-clock"></i>Open</h6>
                                <h6 class="review-color">4.0<i class="fa-solid fa-star review-color"></i>
                                    <span class="img-fluid">8.5(Reviews)</span>
                                </h6>
                            </div>
                        </div>
                        <div class="dishes-footer">
                            <div class="landmark">
                                <h5> <i class="feather-map-pin"></i>
                                    Europe
                                </h5>
                            </div>
                            <div class="amount">
                                <h5>$400
                                    <span>/ hour</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="dishes-box aos" data-aos="fade-up">
                    <div class="dishes-img">
                        <a href="#">
                            <img src="assets/img/latest/Restaurant-2.jpg" class="img-fluid" alt="img">
                        </a>
                        <div class="feature-content justify-content-end">
                            <span class="featured-text">Featured</span>
                        </div>
                        <div class="fav-item  justify-content-end">
                            <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass(1)"
                                (keydown)="toggleClass(1)" tabindex="1" [ngClass]="{selected: isClassAdded[1]}">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                    </div>
                    <div class="dishes-content">
                        <div class="dishes-inner">
                            <div class="author-img-new">
                                <div class="inner-img">
                                    <img src="assets/img/profiles/avatar-07.jpg" class="img-fluid" alt="img">
                                </div>
                            </div>
                            <p class="title">Europe</p>
                            <h5> <a href="javascript:void(0);"> Casual dining <i
                                        class="fa-solid fa-circle-check"></i></a></h5>
                            <div class="dishes-review">
                                <h6><i class="fa-regular fa-clock"></i>Open</h6>
                                <h6 class="review-color">4.5<i class="fa-solid fa-star review-color"></i>
                                    <span class="img-fluid">10(Reviews)</span>
                                </h6>
                            </div>
                        </div>
                        <div class="dishes-footer">
                            <div class="landmark">
                                <h5> <i class="feather-map-pin"></i>
                                    United States
                                </h5>
                            </div>
                            <div class="amount">
                                <h5>$300
                                    <span>/ hour</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="dishes-box aos" data-aos="fade-up">
                    <div class="dishes-img">
                        <a href="#">
                            <img src="assets/img/latest/Restaurant-3.jpg" class="img-fluid" alt="img">
                        </a>
                        <div class="feature-content justify-content-end">
                            <span class="featured-text">Featured</span>
                        </div>
                        <div class="fav-item  justify-content-end">
                            <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass(2)"
                                (keydown)="toggleClass(2)" tabindex="2" [ngClass]="{selected: isClassAdded[2]}">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                    </div>
                    <div class="dishes-content">
                        <div class="dishes-inner">
                            <div class="author-img-new">
                                <div class="inner-img">
                                    <img src="assets/img/profiles/avatar-08.jpg" class="img-fluid" alt="img">
                                </div>
                            </div>
                            <p class="title">China</p>
                            <h5><a href="javascript:void(0);"> Family-style dining <i
                                        class="fa-solid fa-circle-check"></i></a></h5>
                            <div class="dishes-review">
                                <h6><i class="fa-regular fa-clock"></i>Open</h6>
                                <h6 class="review-color">3.0<i class="fa-solid fa-star review-color"></i> <span
                                        class="img-fluid">7.0(Reviews)</span></h6>
                            </div>
                        </div>
                        <div class="dishes-footer">
                            <div class="landmark">
                                <h5> <i class="feather-map-pin"></i>
                                    China
                                </h5>
                            </div>
                            <div class="amount">
                                <h5>$250
                                    <span>/ hour</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="dishes-box aos" data-aos="fade-up">
                    <div class="dishes-img">
                        <a href="#">
                            <img src="assets/img/latest/Restaurant-4.jpg" class="img-fluid" alt="img">
                        </a>
                        <div class="feature-content justify-content-end">
                            <span class="featured-text">Featured</span>
                        </div>
                        <div class="fav-item  justify-content-end">
                            <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass(4)"
                                (keydown)="toggleClass(4)" tabindex="1" [ngClass]="{selected: isClassAdded[4]}">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </div>
                    </div>
                    <div class="dishes-content">
                        <div class="dishes-inner">
                            <div class="author-img-new">
                                <div class="inner-img">
                                    <img src="assets/img/profiles/avatar-02.jpg" class="img-fluid" alt="img">
                                </div>
                            </div>
                            <p class="title">England</p>
                            <h5><a href="javascript:void(0)"> Fast-casual dining <i
                                        class="fa-solid fa-circle-check"></i></a></h5>
                            <div class="dishes-review">
                                <h6><i class="fa-regular fa-clock"></i>Open</h6>
                                <h6 class="review-color">2.5<i class="fa-solid fa-star review-color"></i> <span
                                        class="img-fluid">5.0(Reviews)</span></h6>
                            </div>
                        </div>
                        <div class="dishes-footer">
                            <div class="landmark">
                                <h5> <i class="feather-map-pin"></i>
                                    Denmark
                                </h5>
                            </div>
                            <div class="amount">
                                <h5>$300
                                    <span>/ hour</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Restaurant Section -->

<!-- Cities Section -->
<section class="cities-section">
    <div class="container">
        <div class="cities-sec">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-heading section-heading-seven d-flex align-items-center aos" data-aos="fade-up">
                        <div class="heading-img">
                            <img src="assets/img/heading-logo.png" class="img-fluid m-0" alt="img">
                        </div>
                        <div>
                            <h2>Featured Cities </h2>
                            <p>Explore restaurants & cafes by locality</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="cities-box">
                        <div class="cities-img">
                            <img src="assets/img/city/cities-1.jpg" class="img-fluid" alt="img">
                        </div>
                        <div class="cities-overlay-item">
                            <div class="cities-overlay">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h5>New York</h5>
                                <div class="cities-location">
                                    <p><i class="feather-map-pin"></i>12 Cities </p>
                                    <p> <i class="fa-solid fa-map"></i>30+ Listing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="cities-box">
                        <div class="cities-img ">
                            <img src="assets/img/city/cities-2.jpg" class="img-fluid" alt="img">
                        </div>
                        <div class="cities-overlay-item">
                            <div class="cities-overlay">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <h5>Sydney</h5>
                                <div class="cities-location">
                                    <p><i class="feather-map-pin"></i>10 Cities </p>
                                    <p> <i class="fa-solid fa-map"></i>50+ Listing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="cities-box">
                        <div class="cities-img">
                            <img src="assets/img/city/cities-3.jpg" class="img-fluid" alt="img">
                        </div>
                        <div class="cities-overlay-item">
                            <div class="cities-overlay">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <h5>London</h5>
                                <div class="cities-location">
                                    <p><i class="feather-map-pin"></i>18 Cities </p>
                                    <p> <i class="fa-solid fa-map"></i>15+ Listing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="cities-box cities-spl-box">
                        <div class="cities-img cities-height">
                            <img src="assets/img/city/cities-4.jpg" class="img-fluid" alt="img">
                        </div>
                        <div class="cities-overlay-item">
                            <div class="cities-overlay">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <h5>New York</h5>
                                <div class="cities-location">
                                    <p><i class="feather-map-pin"></i>8 Cities </p>
                                    <p> <i class="fa-solid fa-map"></i>22+ Listing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="cities-box">
                        <div class="cities-img loca-height">
                            <img src="assets/img/city/cities-5.jpg" class="img-fluid" alt="img">
                        </div>
                        <div class="cities-overlay-item">
                            <div class="cities-overlay">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <h5>Miami</h5>
                                <div class="cities-location">
                                    <p><i class="feather-map-pin"></i>15 Cities </p>
                                    <p> <i class="fa-solid fa-map"></i>35+ Listing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 aos" data-aos="fade-up">
                    <div class="cities-box">
                        <div class="cities-img">
                            <img src="assets/img/city/cities-6.jpg" class="img-fluid" alt="img">
                        </div>
                        <div class="cities-overlay-item">
                            <div class="cities-overlay">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <h5>London</h5>
                                <div class="cities-location">
                                    <p><i class="feather-map-pin"></i>10 Cities </p>
                                    <p> <i class="fa-solid fa-map"></i>20+ Listing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Cities Section  end-->

<!-- /restaurateurs-bg-section start -->
<section class="restaurateurs-bg">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="restaurateurs-img">
                <img src="assets/img/main-img.jpg" class="img-fluid" alt="img">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0 restaurateurs-main-bg d-flex align-items-center  ">
            <div class="right-content">
                <div class="restaurateurs-content section-heading-seven">
                    <img src="assets/img/heading-logo-small.png" class="img-fluid" alt="img">
                    <h2>Restaurateurs join us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,eiusmod tempor incididunt ullamco
                        minim
                        ut
                        labore et dolore magna aliqua.</p>
                    <a [routerLink]="routes.signup" class="btn">Join Us <i class="fa-solid fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /restaurateurs-bg-section end -->
<!-- Restaurant Section -->
<section class="latest-restaurant-section ">
    <div class="container">
        <div class="section-heading-two mb-0">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-heading section-heading-seven d-flex align-items-center aos" data-aos="fade-up">
                        <div class="heading-img">
                            <img src="assets/img/heading-logo.png" class="img-fluid m-0" alt="img">
                        </div>
                        <div>
                            <h2>Latest Restaurant</h2>
                            <p>What are you interested near you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="dishes-box aos" data-aos="fade-up">
                        <div class="dishes-img">
                            <a href="#">
                                <img src="assets/img/latest/latest-restaurant-1.jpg" class="img-fluid" alt="img">
                            </a>
                            <div class="feature-content justify-content-end">
                                <span class="featured-text">Featured</span>
                            </div>
                            <div class="fav-item  justify-content-end">
                                <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass1(0)"
                                    (keydown)="toggleClass1(0)" tabindex="1" [ngClass]="{selected: isHeartAdded[0]}">
                                    <i class="fa-regular fa-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="dishes-content">
                            <div class="dishes-inner">
                                <div class="author-img-new">
                                    <div class="inner-img">
                                        <img src="assets/img/profiles/avatar-01.jpg" class="img-fluid" alt="img">
                                    </div>
                                </div>
                                <p class="title">China</p>
                                <h5><a href="javascript:void(0);"> Fast-casual dining <i
                                            class="fa-solid fa-circle-check"></i></a></h5>
                                <div class="dishes-review">
                                    <h6><i class="fa-regular fa-clock"></i>Open</h6>
                                    <h6 class="review-color">5.0<i class="fa-solid fa-star review-color"></i>
                                        <span class="img-fluid">10(Reviews)</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="dishes-footer">
                                <div class="landmark">
                                    <h5> <i class="feather-map-pin"></i>
                                        United States
                                    </h5>
                                </div>
                                <div class="amount">
                                    <h5>$300
                                        <span>/ hour</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="dishes-box aos" data-aos="fade-up">
                        <div class="dishes-img">
                            <a href="#">
                                <img src="assets/img/latest/latest-restaurant-2.jpg" class="img-fluid" alt="img">
                            </a>
                            <div class="feature-content justify-content-end">
                                <span class="featured-text">Featured</span>
                            </div>
                            <div class="fav-item  justify-content-end">
                                <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass1(1)"
                                    (keydown)="toggleClass1(1)" tabindex="1" [ngClass]="{selected: isHeartAdded[1]}">
                                    <i class="fa-regular fa-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="dishes-content">
                            <div class="dishes-inner">
                                <div class="author-img-new">
                                    <div class="inner-img">
                                        <img src="assets/img/profiles/avatar-02.jpg" class="img-fluid" alt="img">
                                    </div>
                                </div>
                                <p class="title">Japan</p>
                                <h5><a href="javascript:void(0);"> Family-style dining <i
                                            class="fa-solid fa-circle-check"></i></a></h5>
                                <div class="dishes-review">
                                    <h6><i class="fa-regular fa-clock"></i>Open</h6>
                                    <h6 class="review-color">5.0<i class="fa-solid fa-star review-color"></i>
                                        <span class="img-fluid">10(Reviews)</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="dishes-footer">
                                <div class="landmark">
                                    <h5> <i class="feather-map-pin"></i>
                                        Tokyo
                                    </h5>
                                </div>
                                <div class="amount">
                                    <h5>$200
                                        <span>/ hour</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="dishes-box aos" data-aos="fade-up">
                        <div class="dishes-img">
                            <a href="#">
                                <img src="assets/img/latest/latest-restaurant-3.jpg" class="img-fluid" alt="img">
                            </a>
                            <div class="feature-content justify-content-end">
                                <span class="featured-text">Featured</span>
                            </div>
                            <div class="fav-item  justify-content-end">
                                <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass1(3)"
                                    (keydown)="toggleClass1(3)" tabindex="1" [ngClass]="{selected: isHeartAdded[3]}">
                                    <i class="fa-regular fa-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="dishes-content">
                            <div class="dishes-inner">
                                <div class="author-img-new">
                                    <div class="inner-img">
                                        <img src="assets/img/profiles/avatar-03.jpg" class="img-fluid" alt="img">
                                    </div>
                                </div>
                                <p class="title">England</p>
                                <h5>
                                    <a href="javascript:void(0);"> Fine dining
                                        <i class="fa-solid fa-circle-check"></i>
                                    </a>
                                </h5>
                                <div class="dishes-review">
                                    <h6>
                                        <i class="fa-regular fa-clock"></i>Open
                                    </h6>
                                    <h6 class="review-color">3.0<i class="fa-solid fa-star review-color"></i>
                                        <span class="img-fluid">8(Reviews)</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="dishes-footer">
                                <div class="landmark">
                                    <h5> <i class="feather-map-pin"></i>
                                        Germany
                                    </h5>
                                </div>
                                <div class="amount">
                                    <h5>$300
                                        <span>/ hour</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="dishes-box aos" data-aos="fade-up">
                        <div class="dishes-img">
                            <a href="#">
                                <img src="assets/img/latest/latest-restaurant-4.jpg" class="img-fluid" alt="img">
                            </a>
                            <div class="feature-content justify-content-end">
                                <span class="featured-text">Featured</span>
                            </div>
                            <div class="fav-item  justify-content-end">
                                <a href="javascript:void(0)" class="fav-icon" (click)="toggleClass1(4)"
                                    (keydown)="toggleClass1(4)" tabindex="1" [ngClass]="{selected: isHeartAdded[4]}">
                                    <i class="fa-regular fa-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="dishes-content">
                            <div class="dishes-inner">
                                <div class="author-img-new">
                                    <div class="inner-img">
                                        <img src="assets/img/profiles/avatar-05.jpg" class="img-fluid" alt="no-img">
                                    </div>
                                </div>
                                <p class="title">Australia</p>
                                <h5>
                                    <a href="javascript:void(0);"> Casual dining
                                        <i class="fa-solid fa-circle-check"></i>
                                    </a>
                                </h5>
                                <div class="dishes-review">
                                    <h6>
                                        <i class="fa-regular fa-clock"></i>Open
                                    </h6>
                                    <h6 class="review-color">4.0<i class="fa-solid fa-star review-color"></i>
                                        <span>9(Reviews)</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="dishes-footer">
                                <div class="landmark">
                                    <h5> <i class="feather-map-pin"></i>
                                        China
                                    </h5>
                                </div>
                                <div class="amount">
                                    <h5>$250
                                        <span>/ hour</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Restaurant Section -->
<!-- Pricing-Two  Plan -->
<section class="pricing-plan pricing-plan-seven">
    <div class="container">
        <div class="section-heading-two section-heading-seven text-center">
            <div class="row">
                <div class="col-md-12 aos aos-init aos-animate" data-aos="fade-up">
                    <img src="assets/img/heading-logo-small.png" class="img-fluid" alt="title-img">
                    <h2>Our Pricing Plan</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
        <div class="price-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                    <div class="price-card price-seven flex-fill">
                        <div>
                            <div class="price-head">
                                <h4>$10 <span>/ month</span></h4>
                                <div class="price-level">
                                    <h6>Intro</h6>
                                </div>
                            </div>
                            <div class="price-body">
                                <p>For most businesses that want to otpimize web queries</p>
                                <ul>
                                    <li class="active">Chat support</li>
                                    <li class="active">All limited links</li>
                                    <li class="active">Own analytics platform</li>
                                    <li class="active">Optimize hashtags</li>
                                    <li class="active">Unlimited users</li>
                                </ul>
                            </div>
                        </div>
                        <div class="choose-btn">
                            <a [routerLink]="routes. login" class="btn viewdetails-btn">Choose Plan
                                <i class="fa-solid fa-arrow-right"> </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                    <div class="price-card price-seven   flex-fill">
                        <div>
                            <div class="price-head">
                                <h4>$50 <span>/ month</span></h4>
                                <div class="price-level">
                                    <h6>Base</h6>
                                </div>
                            </div>
                            <div class="price-body">
                                <p>For most businesses that want to otpimize web queries</p>
                                <ul>
                                    <li class="active">Chat support</li>
                                    <li class="active">All limited links</li>
                                    <li class="active">Own analytics platform</li>
                                    <li class="active">Optimize hashtags</li>
                                    <li class="active">Unlimited users</li>
                                </ul>
                            </div>
                        </div>
                        <div class="choose-btn">
                            <a [routerLink]="routes.login" class="btn viewdetails-btn">Choose Plan
                                <i class="fa-solid fa-arrow-right"> </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
                    <div class="price-card price-seven active flex-fill">
                        <div>
                            <div class="price-head">
                                <div class="text-end pop">
                                    <span class="feature">MOST POPULAR</span>
                                </div>
                                <h4>$100 <span>/ month</span></h4>
                                <div class="price-level">
                                    <h6>Pro</h6>
                                </div>
                            </div>
                            <div class="price-body">
                                <p>For most businesses that want to otpimize web queries</p>
                                <ul>
                                    <li class="active">Chat support</li>
                                    <li class="active">All limited links</li>
                                    <li class="active">Own analytics platform</li>
                                    <li class="active">Optimize hashtags</li>
                                    <li class="active">Unlimited users</li>
                                </ul>
                            </div>
                        </div>
                        <div class="choose-btn">
                            <a [routerLink]="routes.login" class="btn viewdetails-btn">Choose Plan
                                <i class="fa-solid fa-arrow-right"> </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
                    <div class="price-card price-seven flex-fill">
                        <div>
                            <div class="price-head">
                                <h4>$200 <span>/ month</span></h4>
                                <div class="price-level">
                                    <h6>Enterprise</h6>
                                </div>
                            </div>
                            <div class="price-body">
                                <p>For most businesses that want to otpimize web queries</p>
                                <ul>
                                    <li class="active">Chat support</li>
                                    <li class="active">All limited links</li>
                                    <li class="active">Own analytics platform</li>
                                    <li class="active">Optimize hashtags</li>
                                    <li class="active">Unlimited users</li>
                                </ul>
                            </div>
                        </div>
                        <div class="choose-btn">
                            <a [routerLink]="routes.login" class="btn viewdetails-btn">Choose Plan
                                <i class="fa-solid fa-arrow-right"> </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Pricing-Two  Plan -->
<!-- testimonial-section-seven Section -->
<section class="testimonial-section-seven">
    <div class="container">
        <div class="section-heading-two section-heading-seven text-center">
            <div class="row">
                <div class="col-md-12 aos aos-init aos-animate" data-aos="fade-up">
                    <img src="assets/img/heading-logo-small.png" class="img-fluid" alt="title-img">
                    <h2>People Talking About Us</h2>
                    <p>Our biggest clients</p>
                </div>
            </div>
        </div>
        <div class="testi-carousel ">
            <div class="test-slider">
                <owl-carousel-o [options]=" peopleFeedbackOwlOptions">
                    <ng-container *ngFor="let slide of  peopleFeedback">
                        <ng-template carouselSlide>
                            <div class="testi-widget-seven aos" data-aos="fade-up">
                                <div class="test-details">
                                    <div class="icon-blk">
                                        <img [src]="slide.img" alt="Dreamstrip Testimonials">
                                    </div>
                                    <div class="people-name">
                                        <h5>{{slide.name}}</h5>
                                        <div class="review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi-content">
                                    <h5>{{slide.head}}</h5>
                                    <p>{{slide.para}}
                                    </p>
                                </div>
                                <div class="testi-location">
                                    <h6>{{slide.place}}</h6>
                                    <p><i class="feather-map-pin"></i> {{slide.city}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>

            </div>
        </div>
    </div>
</section>
<!-- /testimonial-section-seven Section -->
<!-- Blog-section start -->
<section class="blog-seven-section">
    <div class="container">
        <div class="section-heading-two section-heading-seven text-center">
            <div class="row">
                <div class="col-md-12 aos aos-init aos-animate" data-aos="fade-up">
                    <img src="assets/img/heading-logo-small.png" class="img-fluid" alt="title-img">
                    <h2>From Our Blog</h2>
                    <p>Checkout what people are saying about our commuity businesses</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <div class="blog-seven grid-blog-seven aos" data-aos="fade-up">
                        <div class="blog-image-seven">
                            <a [routerLink]="routes.blogdetails"><img class="img-fluid"
                                    src="assets/img/blog/blog-seven1.jpg" alt="Post Image"></a>
                            <div class="blog-date">
                                <h4>09 <br><span>Jun</span> </h4>
                            </div>
                        </div>
                        <div></div>
                        <div class="blog-content-seven">
                            <p class="blog-category-seven">
                                <a href="javascript:void(0);"><span>Breakfast</span></a>
                            </p>
                            <h3 class="blog-title">
                                <a [routerLink]="routes.blogdetails">Competitive Analysis for Enterprerneurs in 2023
                                </a>
                            </h3>
                            <p class="blog-description-seven">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Ut lectus elementum lectus eu nisl, purus...
                            </p>
                            <ul class="entry-meta meta-item-seven">
                                <li>
                                    <div class="post-author-seven">
                                        <div class="post-author-img-seven">
                                            <img src="assets/img/profiles/avatar-05.jpg" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> Amara </span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <div class="blog-seven grid-blog-seven aos" data-aos="fade-up">
                        <div class="blog-image-seven">
                            <a [routerLink]="routes.blogdetails"><img class="img-fluid"
                                    src="assets/img/blog/blog-seven2.jpg" alt="Post Image"></a>
                            <div class="blog-date">
                                <h4> 11 <br> <span>Aug</span></h4>
                            </div>
                        </div>
                        <div></div>
                        <div class="blog-content-seven">
                            <p class="blog-category-seven">
                                <a href="javascript:void(0);"><span>Lunch</span></a>
                            </p>
                            <h3 class="blog-title">
                                <a [routerLink]="routes.blogdetails">Three Powerful Tricks For Online
                                    Advertising
                                </a>
                            </h3>
                            <p class="blog-description-seven">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Ut lectus elementum lectus eu nisl, purus...
                            </p>
                            <ul class="entry-meta meta-item-seven">
                                <li>
                                    <div class="post-author-seven">
                                        <div class="post-author-img-seven">
                                            <img src="assets/img/profiles/avatar-07.jpg" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> John </span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <div class="blog-seven grid-blog-seven aos" data-aos="fade-up">
                        <div class="blog-image-seven">
                            <a [routerLink]="routes.blogdetails"><img class="img-fluid"
                                    src="assets/img/blog/blog-seven3.jpg" alt="Post Image"></a>
                            <div class="blog-date">
                                <h4> 14 <br> <span>Mar</span>
                                </h4>
                            </div>
                        </div>
                        <div></div>
                        <div class="blog-content-seven">
                            <p class="blog-category-seven">
                                <a href="javascript:void(0);"><span>Dinner</span></a>
                            </p>
                            <h3 class="blog-title">
                                <a [routerLink]="routes.blogdetails">The Best Spa Saloons for your relaxations?
                                </a>
                            </h3>
                            <p class="blog-description-seven">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Ut lectus elementum lectus eu nisl, purus...
                            </p>
                            <ul class="entry-meta meta-item-seven">
                                <li>
                                    <div class="post-author-seven">
                                        <div class="post-author-img-seven">
                                            <img src="assets/img/profiles/avatar-04.jpg" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> Alex </span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blog-section end -->
<app-footer-seven></app-footer-seven>