<div
  class="main-wrapper"
  [ngClass]="{
    'menu-opened': showMiniSidebar === true
  }"
>
<app-header *ngIf="firstHeader === true"></app-header>
<router-outlet>
  
  <div
    (click)="scrollToTop()"
    (keydown.enter)="scrollToTop()"
  (keydown.space)="scrollToTop()"
  (keyup.enter)="scrollToTop()"
  (keyup.space)="scrollToTop()"
   tabindex="0"
    class="progress-wrap"
    [class.active-progress]="strokeValue < progress"
  >
    <svg
      class="progress-circle svg-content"
      width="100%"
      height="100%"
      viewBox="-1 -1 102 102"
    >
      <path
        d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
        style="transition: stroke-dashoffset 10ms linear 0s"
        attr.stroke-dasharray="{{ progress + 'px' + ',' + progress + 'px' }}"
        attr.stroke-dashoffset="{{ strokeValue + 'px' }}"
      ></path>
    </svg>
  </div>
</router-outlet>
<app-footer [hidden]="hideFooter" *ngIf="firstHeader === true"></app-footer>
<title>Listee Angular | {{ tittle | titlecase }}</title>
</div>
