<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <span class="span-small ion-padding-start">{{data.allComments}}</span>
          </ion-list-header>
          <ion-item class="transparent" lines="none" *ngFor="let item of data.items"
            (click)="onItemClickFunc(item, $event)">
            <ion-avatar slot="start">
              <img [src]="item.image">
            </ion-avatar>
            <ion-label >              
              <h2 class="text-size-xs">{{item.title}}</h2>
              <p class="subtext-size-sm">{{item.time}}</p>
              <p class="text-size-p ion-text-wrap ion-padding-top">
                {{item.description}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
