<!--  Theme Form - Form + Write Comment -->
  <ion-grid class="ion-padding" *ngIf="viewEntered">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-slides #wizardSlider  *ngIf="data != null" pager="true"
        (ionSlideDidChange)="ionSlideDidChange($event)"
        (ionSlideReachStart)="ionSlideReachStart($event)"
        (ionSlideReachEnd)="ionSlideReachEnd($event)">
            <ion-slide *ngFor="let item of data.items;">
              <ion-card class="background-size ion-no-margin no-border-radius"
              [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
              <ion-card-content>
                <h1 class="text-size-xl">{{item.title}}</h1>
              </ion-card-content>
              </ion-card>
            </ion-slide>
        </ion-slides>
        <!--Button section-->
        <div class="button-navigation" *ngIf="data != null">
            <ion-button class="default-button" expand="full"
            (click)="onNextFunc()" *ngIf="next">
            {{data.btnNext}}
          </ion-button>
            <ion-button class="default-button" expand="full"
            (click)="onFinishFunc()" *ngIf="!next">
            {{data.btnFinish}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
