.background-size {
  height: 40vh;
  position: relative;
  background-color: var(--cs-blandModes-secondary, #ffffff);
  background-blend-mode: luminosity;

   &::before {
     content: "";
     display: block;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     position: absolute;
     pointer-events: none;
     mix-blend-mode: var(--cs-mode-image);
     background: var(--cs-gradient-linear);
   }
   .icon-small {
     color: var(--cs-icon-color-secondary, #ffffff) !important;
     position: relative;
     z-index: 999;
   }

   .text-block {
     overflow: hidden;
     position: absolute;
     bottom: 20px;
     left: 16px;
     right: 16px;
     z-index: 999;
     h1,
     h2 {
        color: var(--cs-text-primary, #ffffff) ;
     }
   }
}
