<!--Theme Fade in + Ken Burns-->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding background-size" [ngStyle]="{'background-image': 'url(' + data.backgroundImage + ')'}">
        <img class="logo" [src]="data.logo" />
    </ion-col>
  </ion-row>
</ion-grid>
