<!--Theme GMAPS + Location  Details -->
<!--Content -->
<ion-content scrollEvents="true" parallax-header *ngIf="viewEntered">
    <div class="header-image">
        <agm-map *ngIf="data != null"
        [latitude]="data.map.lat"
        [longitude]="data.map.lng" [zoom]="data.map.zoom"
            [mapTypeControl]="data.map.mapTypeControl"
            [streetViewControl]="data.map.streetViewControl">
            <agm-marker [latitude]="data.map.lat"
            [longitude]="data.map.lng">
            </agm-marker>
        </agm-map>
    </div>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
        <ion-row>
            <ion-col size="12">
                <ion-card class="no-box-shadow ion-no-margin">
                    <ion-card-header class="ion-text-center">
                        <!--Parallax Rateing-->
                        <span *ngFor="let item of data.iconsStars;let i = index"
                            (click)="onRatesFunc(data.iconsStars, i, $event)">
                            <i *ngIf="item.isActive"
                            class="icon {{item.iconActive}} icon-medium"></i>
                            <i *ngIf="!item.isActive"
                            class="icon {{item.iconInactive}} icon-medium"></i>
                        </span>
                        <div class="clearfix"></div>
                        <p>{{data.reviews}}</p>
                        <h1 class="text-size-xl ion-no-margin">{{data.title}}</h1>
                        <div class="clearfix"></div>
                        <h3 class="text-size-lg ion-no-margin">{{data.titleDescription}}</h3>
                        <i class="icon {{data.iconShare}} icon-small ion-float-end ion-margin-top"
                        (click)="onShareFunc(data, $event)"></i>
                        <i class="icon {{data.iconFavorite}} icon-small ion-float-end ion-margin-top"
                        (click)="onFavoriteFunc(data, $event)"></i>
                        <i class="icon {{data.iconLike}} icon-small ion-float-end ion-margin-top"
                        (click)="onLikeFunc(data, $event)"></i>
                    </ion-card-header>
                    <div clearfix></div>
                    <ion-card-content class="ion-margin-top">
                        <h2 class="text-size-xs">{{data.contentTitle}}</h2>
                        <p class="text-size-p ion-text-wrap">{{data.contentDescription}}</p>
                        <!--- Info Section -->
                        <ion-list lines="none">
                          <ion-item class="ion-no-padding">
                              <i slot="start" class="icon {{data.iconLoacation}} icon-small"></i>
                              <p class="text-size-sm ion-no-margin">{{data.iconLoacationText}}</p>
                          </ion-item>
                          <ion-item class="ion-no-padding">
                              <i slot="start" class="icon {{data.iconWatch}} icon-small"></i>
                              <p class="text-size-sm ion-no-margin">{{data.iconWatchText}}</p>
                          </ion-item>
                          <ion-item class="ion-no-padding">
                              <i slot="start" class="icon {{data.iconPhone}} icon-small"></i>
                              <p class="text-size-sm ion-no-margin">{{data.iconPhoneText}}</p>
                          </ion-item>
                          <ion-item class="ion-no-padding">
                              <i slot="start" class="icon {{data.iconEarth}} icon-small"></i>
                              <p class="text-size-sm ion-no-margin">{{data.iconEarthText}}</p>
                          </ion-item>
                          <ion-item class="ion-no-padding">
                              <i slot="start" class="icon {{data.iconEmail}} icon-small"></i>
                              <p class="text-size-sm ion-no-margin">{{data.iconEmailText}}</p>
                          </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <!---Content Info-->
            <ion-col size="12">

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
