  <ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-padding" size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img class="ion-float-end" [src]="data.logo"></ion-img>
          <div class="clearfix"></div>
          <h1 class="text-size-xl ion-text-wrap ion-text-capitalize">
            {{data.title}}</h1>
          <div class="clearfix"></div>
          <h2 class="text-size-xs ion-text-wrap">
            {{data.subtitle}}</h2>
          <div class="clearfix"></div>
          <ion-item class="ion-no-padding transparent input">
            <ion-label class="text-size-xs" position="floating">{{data.labelPassword}}
            </ion-label>
            <ion-input required type="password" [(ngModel)]="item.password"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isPasswordValid" icon-small name="remove-circle">
            </ion-icon>
          </ion-item>
          <ion-item class="ion-no-padding transparent input">
            <ion-label class="text-size-xs" position="floating">{{data.labelPasswordNew}}
            </ion-label>
            <ion-input required type="password" [(ngModel)]="item.confrim"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isConfrimValid" class="icon-small" name="remove-circle">
            </ion-icon>
          </ion-item>
          <!---Send button-->
          <ion-button class="ion-float-end ion-margin-top button-round" shape="round"
            fill="outline" (click)="onDoneFunc()">
            {{data.done}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
