<!-- FORMS --COMPONENT 2 -->
<ion-grid class="ion-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12">
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <span class="text-size-xl">{{data.rateTitle}}</span>
      <div class="clearfix"></div>
      <div class="icon-rating">
        <div icon *ngFor="let item of data.iconsStars;let i = index"
          (click)="onRatesFunc(data.iconsStars, i, $event)">
          <i *ngIf="item.isActive"
          class="icon {{item.iconActive}} icon-medium"></i>
          <i *ngIf="!item.isActive"
          class="icon {{item.iconInactive}} icon-medium"></i>
        </div>
      </div>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <span span-medium>{{data.description}}</span>
    </ion-col>
    <ion-col size="12">
      <ion-item class="ion-no-padding transparent input">
        <ion-label class="text-size-sm" position="floating">
          {{data.title}}</ion-label>
        <ion-input type="text" [(ngModel)]="item.title"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="textarea">
      <ion-item class="ion-no-padding transparent input">
        <ion-label class="text-size-sm" position="floating">
          {{data.descriptionPlaceholder}}</ion-label>
        <ion-textarea rows="100%" cols="1"
        [(ngModel)]="item.description"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-text-end">
      <ion-button class="button-round ion-margin-top"
      shape="round" fill="outline" (click)="onSubmitFunc($event)">
        {{data.btnSubmit}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
