<!--Themes Simple -->
<ion-row>
  <ion-col size="12">
    <ion-list lines="none">
      <!-- Header-title -->
      <ion-list-header>
        <h1 class="text-size-xl ion-text-capitalize">
          {{data.listTitle}}</h1>
      </ion-list-header>
      <!-- List -->
      <ion-item *ngFor="let entry of data.items" >

        <ion-avatar slot="start">
          <img [src]="entry.avatar" />
        </ion-avatar>
        <ion-label>
          <h2 class="text-size-xs">{{entry.title}}</h2>
          <div class="clearfix"></div>
          <h3 class="text-size-sm">{{entry.subtitle}}</h3>
        </ion-label>
        <ion-toggle slot="end" [value]="entry.id"
        (ionChange)="onItemClickFunc(entry)"
        [checked]="entry.isChecked">
        </ion-toggle>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
